<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Chức năng</h2>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/pages">Dashboard</a>
      </li>
      <li class="active">
        <strong>Chức năng</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-12">
    <dx-data-grid (onRowUpdating)="onRowUpdatingItemType($event)" (onSelectionChanged)="selectedChanged($event)"
      [dataSource]="dataSource" 
      [remoteOperations]="true" 
      height="500" 
      
      showBorders="true">
      <dxo-selection mode="single"></dxo-selection>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-editing mode="popup"  [allowUpdating]="true">
        <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
        <dxo-form>
          <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
            <dxi-item dataField="ItemTypeName"></dxi-item>
            <dxi-item dataField="ItemTypeCode" [editorOptions]="{ disabled: true }"></dxi-item>
          </dxi-item>
            <!-- [dataSource]="dataSourceItemProperty"  -->
            <!-- [dataSource]="getDataSourceItemProperty(ItemType.ItemTypeId)" -->
          <dxi-item [colSpan]="2" itemTemplate="detail">
            <div *dxTemplate="let ItemType of 'detail'">
              <dx-data-grid
                (onRowInserting)="onRowInsertingItemTypeProperty($event)"
                (onRowUpdating)="onRowUpdatingItemTypeProperty($event)"
                (onRowRemoving)="onRowRemovingItemTypeProperty($event)" 
                (onSelectionChanged)="selectedChanged($event)"              
                [dataSource]="dataSourceItemProperty"
                [showBorders]="true" 
                [focusedRowEnabled]="true"
                [remoteOperations]="true" height="500" showBorders="true">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                  <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                </dxo-editing>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxi-column dataField="ItemTypePropertyName">
                  <dxi-validation-rule type="required" max="20"
                    message="The field ItemTypePropertyName must be a string with a maximum length of 20.">
                  </dxi-validation-rule>
                </dxi-column>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5,10,15]"></dxo-pager>
              </dx-data-grid>
            </div>
          </dxi-item>

        </dxo-form>
      </dxo-editing>

      <dxi-column dataField="ItemTypeName">
        <dxi-validation-rule type="required" max="20"
          message="The field ItemTypeName must be a string with a maximum length of 20."></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="ItemTypeCode">
        <dxi-validation-rule type="required" max="20"
          message="The field ItemTypeName must be a string with a maximum length of 20."></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="CreateDate" dataType="date"></dxi-column>
      <dxi-column dataField="CreateBy"></dxi-column>
      <dxi-column dataField="ModifyBy"></dxi-column>
      <dxi-column dataField="ModifyDate" dataType="date"></dxi-column>
      <dxi-column dataField="Status" dataType="boolean" caption="Active"></dxi-column>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
    </dx-data-grid>
    <!-- <dx-speed-dial-action icon="edit" label="Edit row" [index]="3" [visible]="selectedRowIndex !== -1"
      (onClick)="editRow()">
    </dx-speed-dial-action> -->
  </div>
</div>
<!-- <dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="ItemTypeId"
  [showBorders]="true"
  [columns]="['ItemTypeId', 'ItemTypeName', 'ItemTypeCode']">
  <dxo-editing mode="popup" 
    [allowAdding]="true" 
    [allowUpdating]="true" 
    [allowDeleting]="true">
    <dxo-popup title="Unit Info" [showTitle]="true" [width]="600" [height]="500"
      [position]="{ my: 'top', at: 'top', of: 'window' }">
    </dxo-popup>
    <dxo-form >
      <dxi-item dataField="ItemTypeId"></dxi-item>
      <dxi-item dataField="ItemTypeName"></dxi-item>
      <dxi-item [colSpan]="2" itemTemplate="detail">
      <div *dxTemplate="let ItemType of 'detail'">
        <dx-data-grid
          id="detailGrid{{ItemType.ItemTypeId}}"
          [dataSource]="dataSourceItemProperty"
          [showBorders]="true"
          [focusedRowEnabled]="true"
          [columns]="['ItemTypePropertyId', 'ItemTypePropertyName', 'ItemTypeCode']">
          
          <dxo-editing mode="row" 
            [allowAdding]="true" 
            [allowUpdating]="true" 
            [allowDeleting]="true">
          </dxo-editing>
        </dx-data-grid>
      </div>
    </dxi-item>
    </dxo-form>
  </dxo-editing>
 
  
</dx-data-grid> -->