<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Warehouse.label.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Warehouse.label.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> {{ 'Warehouse.btn.Add' | translate}} </button>

            </div>
            <div class="col-sm-4 text-center">
              <h2> {{'Warehouse.label.TotalWarehouse' | translate}} {{Warehouse_showed}} {{'Warehouse.' | translate}} </h2>
              <small>{{'Warehouse.label.Showed'| translate}} : {{Warehouse.length}}  {{'Warehouse.' |  translate}} </small>
            </div>

            <div class="col-sm-4">
              <div class="pull-right">
               <label for="">{{ 'Warehouse.label.SearchTitle' | translate}}</label> 
                <div class="input-group">
                    <input type="text"  class="form-control input-lg" placeholder="{{ 'Warehouse.label.SearchText' | translate}}" name="search"  [(ngModel)]="keyword"  (keyup)="$event.keyCode === 13 && loadInit()" >
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit" (click)="loadInit()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
              </div>

            </div>
          </div>
          
          <hr>
          
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of Warehouse">
              <div class="panel panel-info">
                <div class="panel-heading text-center">
                  <a (click)="fnEditSignal(item.WarehouseID)"><i class="fa fa-info-circle"></i> {{item.WarehouseName}}
                  </a>
                  <button class="btn btn-sm btn-outline pull-right css_btnDel" (click)="fnDelete(item.WarehouseID)" ><i class="fa fa-times-circle"></i> </button>
                </div>
                <div class="panel-body">
                  <p> <strong>{{ 'Warehouse.data.WarehouseCode' | translate}}:</strong>  {{item.WarehouseCode}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseUserName' | translate}}:</strong> {{item.WarehouseUserName | translate}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseType' | translate }}:</strong> {{'Warehouse.data.WarehouseType'+item.WarehouseType | translate}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseAddress' | translate}}:</strong> {{item.WarehouseAddress}}</p>
                  <p> <strong>{{ 'Warehouse.data.Status' | translate}}:</strong> 
                    <span class="label" [ngClass]="{'label-primary': item.Status==1, 'label-danger': item.Status==0}"> {{'Warehouse.data.Status'+item.Status | translate}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg " >
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Warehouse.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseCode' | translate }} *: </label>
                <input type="text" name="WarehouseCode" id="WarehouseCode" [(ngModel)]="entity.WarehouseCode" class="form-control" placeholder="Enter your __________" 
                 [ngClass]="{ 'is-invalid':  invalid.Existed_WarehouseCode }" required>
                  <div *ngIf="invalid.Existed_WarehouseCode" style="color: red;">{{ 'Warehouse.invalid.Existed_WarehouseCode' | translate }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Warehouse.data.FactoryID' | translate }} :</label>
              <ng-select  [items]="initCombobox.Factories" placeholder="Enter your __________" id="FactoryId" name="FactoryId"  [(ngModel)]="entity.FactoryId"  bindLabel="FactoryName" bindValue="FactoryId" required> </ng-select>
              
            </div>
          </div>         
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseName' | translate }} *: </label>
                <input type="text" name="WarehouseName" id="WarehouseName" [(ngModel)]="entity.WarehouseName" class="form-control" placeholder="Enter your __________" 
                 [ngClass]="{ 'is-invalid':  invalid.Existed_WarehouseName }" required>
                  <div *ngIf="invalid.Existed_WarehouseName" style="color: red;">{{ 'Warehouse.invalid.Existed_WarehouseName' | translate }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Warehouse.data.WarehouseType' | translate }} *:</label>
              <select class="select2_demo_3 form-control" [(ngModel)]="entity.WarehouseType" name="WarehouseType" id="WarehouseType"  placeholder="Select _________ " required>
                <option value=1> {{ 'Warehouse.data.WarehouseType1' | translate }} </option>
                <option value=2> {{ 'Warehouse.data.WarehouseType2' | translate }} </option>
                <option value=3> {{ 'Warehouse.data.WarehouseType3' | translate }} </option>
                <option value=4> {{ 'Warehouse.data.WarehouseType4' | translate }} </option>
              </select>
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label>{{ 'Warehouse.data.WarehouseAddress' | translate }} :</label>
              <input type="text" name="WarehouseAddress" id="WarehouseAddress" [(ngModel)]="entity.WarehouseAddress" class="form-control" placeholder="Enter your __________" >
            </div>  
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseUserName' | translate }} *: </label>
                <ng-select  [items]="initCombobox.Users" placeholder="Enter your __________"  id="WarehouseUserName" name="WarehouseUserName"  [(ngModel)]="entity.WarehouseUserName"  bindLabel="username" bindValue="userid" required> </ng-select>
              </div>
            </div>
          </div>
          <hr>
          <h3>{{'Warehouse.label.Size' | translate}} </h3> (cm)
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseHeight' | translate }} *: </label>
                <input type="number" name="WarehouseHeight" id="WarehouseHeight" [(ngModel)]="entity.WarehouseHeight" class="form-control" placeholder="Enter your __________" required>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseWidth' | translate }} *: </label>
                <input type="number" name="WarehouseWidth" id="WarehouseWidth" [(ngModel)]="entity.WarehouseWidth" class="form-control" placeholder="Enter your __________"  required>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label> {{ 'Warehouse.data.WarehouseLength' | translate }} *: </label>
                <input type="number" name="WarehouseLength" id="WarehouseLength" [(ngModel)]="entity.WarehouseLength" class="form-control" placeholder="Enter your __________"  required>
              </div>
            </div>
          </div>
          <hr>
          <!-- upload File -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>{{ 'Upload.' | translate }} </label>             
                <ngx-dropzone style="min-height: auto;" (change)="onSelect($event)" [expandable]="true" [maxFileSize]="5000*1024">
                  <ngx-dropzone-label><i class="fa fa-upload"></i> {{ 'Upload.UploadFileCaption' | translate }} </ngx-dropzone-label>
                  <ngx-dropzone-preview class="dropDownCustomClass animated fadeInUp"  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files ;let i = index" [file]="f"   [removable]="true" (removed)="fnRemoveFile(f)" (click)=fnDownloadFile(entity.WarehouseFile[i].File.FileLocalName) >
                    <ngx-dropzone-label style="font-size:11px;" ><i class="fa fa-download"></i> {{entity.WarehouseFile[i].File.FileOriginalName}}
                    </ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <span class="badge" [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}" >{{uploadReportProgress.message}}</span>
              <div *ngIf="uploadReportProgress.progress!=100" class="progress progress-striped active">
                <div  class="progress-bar progress-bar-success" role="progressbar"
                  [style.width.%]="uploadReportProgress.progress">
                  {{uploadReportProgress.progress}}%
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h3>{{'Warehouse.label.Location' | translate}} </h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="3%">#</th>
                  <th width="20%">{{ 'Warehouse.data.WarehouseLocationCode' | translate }}</th>
                  <th width="27%">{{ 'Warehouse.data.WarehouseLocationName' | translate }}</th>
                  <th width="10%">{{ 'Warehouse.data.WarehouseLocationLength' | translate }}</th>
                  <th width="10%">{{ 'Warehouse.data.WarehouseLocationWidth' | translate }}</th>
                  <th width="10%">{{ 'Warehouse.data.WarehouseLocationHeight' | translate }}</th>
                  <th  width="10%">{{ 'Warehouse.data.WarehouseLocationStatus' | translate }}</th>
                  <th  width="10%">{{ 'Button.Action' | translate }}</th>
                </tr>
              </thead>
              <tbody>

                <tr class="animated fadeInRight" *ngFor="let item of entity.WarehouseLocation; let i = index"
                  [@simpleFadeAnimation]="'in'">
                  <td> {{i+1}} </td>
                  <td  *ngIf="i+1 !== EditRowID">{{item.WarehouseLocationCode}} </td>
                  <td  *ngIf="i+1 !== EditRowID">{{item.WarehouseLocationName}} </td>
                  <td  *ngIf="i+1 !== EditRowID">{{item.WarehouseLocationLength}} </td>
                  <td  *ngIf="i+1 !== EditRowID">{{item.WarehouseLocationWidth}} </td>
                  <td  *ngIf="i+1 !== EditRowID">{{item.WarehouseLocationHeight}} </td>

                  <td  *ngIf="i+1 === EditRowID"><input type="text" class="form-control" name="WarehouseLocationCode" id="WarehouseLocationCode" [(ngModel)]="locationEntity.WarehouseLocationCode"></td>
                  <td  *ngIf="i+1 === EditRowID"><input type="text" class="form-control" name="WarehouseLocationName" id="WarehouseLocationName" [(ngModel)]="locationEntity.WarehouseLocationName"></td>
                  <td  *ngIf="i+1 === EditRowID"><input type="number" class="form-control" name="WarehouseLocationLength" id="WarehouseLocationLength" [(ngModel)]="locationEntity.WarehouseLocationLength"></td>
                  <td  *ngIf="i+1 === EditRowID"><input type="number" class="form-control" name="WarehouseLocationWidth" id="WarehouseLocationWidth" [(ngModel)]="locationEntity.WarehouseLocationWidth"></td>
                  <td  *ngIf="i+1 === EditRowID"><input type="number" class="form-control" name="WarehouseLocationHeight" id="WarehouseLocationHeight" [(ngModel)]="locationEntity.WarehouseLocationHeight"></td>
                  <td  *ngIf="i+1 !== EditRowID"> 
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" [name]="'showed_status' +(i+1)" [id]="'showed_status'+(i+1)" disabled [checked]="item.Status ==1 ? true : null" >
                        <label class="onoffswitch-label" [for]="'showed_status' +(i+1)">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td  *ngIf="i+1 === EditRowID">                    
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" [name]="'status' +(i+1)" [id]="'status'+(i+1)" (click)="onSwitchStatus('locationEntity')" [checked]="locationEntity.Status==1 ? true : null" >
                        <label class="onoffswitch-label" [for]="'status' +(i+1)">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline btn-primary" (click)="EditRowID = 0;" *ngIf="i+1 === EditRowID" ><i class="fa fa-check"></i></button>
                      <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(i)"*ngIf="i+1 !== EditRowID"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)" *ngIf="i+1 !== EditRowID"><i class="fa fa-trash"></i></button>
                    </div>                        
                  </td>
                </tr>
                <tr >
                  <td> {{entity.WarehouseLocation.length+1}} </td>
                  <td> <input type="text" class="form-control" name="newWarehouseLocationCode" id="newWarehouseLocationCode" [(ngModel)]="newLocationEntity.WarehouseLocationCode"> </td>
                  <td> <input type="text" class="form-control" name="newWarehouseLocationName" id="newWarehouseLocationName" [(ngModel)]="newLocationEntity.WarehouseLocationName"> </td>
                  <td> <input type="number" class="form-control" name="newWarehouseLocationLength" id="newWarehouseLocationLength" [(ngModel)]="newLocationEntity.WarehouseLocationLength"> </td>
                  <td> <input type="number" class="form-control" name="newWarehouseLocationWidth" id="newWarehouseLocationWidth" [(ngModel)]="newLocationEntity.WarehouseLocationWidth"> </td>
                  <td> <input type="number" class="form-control" name="newWarehouseLocationHeight" id="newWarehouseLocationHeight" [(ngModel)]="newLocationEntity.WarehouseLocationHeight"> </td>
                  <td>
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" name="newstatus +(i+1)" id="newstatus +(i+1)"   (click)="onSwitchStatus('newLocationEntity')" [checked]="newLocationEntity.Status==1 ? true : null" >
                        <label class="onoffswitch-label" for="newstatus +(i+1)">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn  btn-sm btn-outline btn-info pull-right" (click)="fnAddItem()"><i class="fa fa-plus"></i> </button>
                  </td>
                </tr>

              </tbody>
            </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">{{'Button.Close' | translate}}  </button>
        <button type="button" class="btn btn-primary" (click)="fnSave();" [disabled]="myForm.invalid||EditRowID!=0" [ladda]="laddaSubmitLoading" ><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}} </button>
      </div>
    </div>
  </div>
</div>

