<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header ">
        <div class="link-dashboard pull-left" routerLink="/pages">
            <i class="fa fa-th-large"></i>

        </div>
        <h3 class=" pull-left title-project">Hệ thống xử lý nước thải</h3>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <img class="img-user" src="/assets/img/images/luser.png" alt="">
                    <span _ngcontent-rcy-c5="" class="m-t-xs"> <strong _ngcontent-rcy-c5="" class="font-bold">{{authService.currentUser.Username}}</strong>
                    <b _ngcontent-rcy-c5="" class="caret"></b> </span>
                </a>
                <ul class="dropdown-menu dropdown-alerts dropdown-header">
                  <li>
                      <a href="#">
                          <div>
                              <i class="fa fa-user"></i> Profile
                          </div>
                      </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a routerLink="/pages/admin">
                          <div>
                              <i class="fa fa-dashboard"></i> Administrator
                          </div>
                      </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <div class="text-center link-block">
                        <a (click)="logout()">
                          <i class="fa fa-sign-out"></i> Log out
                      </a>
                      </div>
                  </li>
              </ul>
            </li>
            <li  class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" >
                <img *ngIf="getLang()=='en'" src="/assets/img/flags/32/United-States.png">
                <img *ngIf="getLang()=='vn'" src="/assets/img/flags/32/Vietnam.png">
              </a>
              <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a>
                        <div (click)="languageChange('vn')">
                          <img src="/assets/img/flags/32/Vietnam.png" alt="">
                          Tiếng Việt
                        </div>
                    </a>
                </li>
                <li>
                  <a >
                      <div (click)="languageChange('en')">
                        <img src="/assets/img/flags/32/United-States.png" alt="">
                        Tiếng Anh
                      </div>
                  </a>
              </li>
            </ul>
            </li>
        </ul>
    </nav>
    </div>
