<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
      <div class="col-lg-12">

          <div class="ibox product-detail">
              <div class="ibox-content">

                  <div class="row">
                      <div class="col-md-5">


                          <div class="product-images">
                            <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideConfig" >
                                <div ngxSlickItem *ngFor="let slide of listImgs" class="slide">
                                    <img src="{{ slide }}" alt="" width="100%">
                                </div>
                            </ngx-slick-carousel>
                            
                          </div>

                      </div>
                      <div class="col-md-7">

                          <h2 class="font-bold m-b-xs">
                              {{item.ItemName}}
                          </h2>
                          <small> {{item.ItemDescription}}</small>
                          <div class="m-t-md">
                             Item No:   <h2 class="product-main-price"> {{item.ItemNo}} </h2>
                          </div>
                          <hr>
                          <dl class="small m-t-md">
                              <dt>Model</dt>
                              <dd>{{item.ItemModel}}</dd>
                              <dt>Serial</dt>
                              <dd>{{item.ItemSerial}}</dd>
                              <dt>Maunfacture Country</dt>
                              <dd>{{item.ItemManufactureCountry}}</dd>
                              <dt>Year</dt>
                              <dd>{{item.ItemManufactureYear}}</dd>
                          </dl>
                          <hr>
                          
                      </div>
                  </div>

              </div>
            
          </div>

      </div>
  </div>
</div>
