<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Item.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Item.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              
              <!-- hidden this button -->
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" >
                <i class="fa fa-plus"></i> Add </button>
            </div>
          </div>
          <div class="row">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>
                  <th>{{'Item.ItemId' | translate}}</th>
                  <th>{{'Item.ItemTypeId' | translate}}</th>
                  <th>{{'Item.ItemNo' | translate}}</th>
                  <th>{{'Item.ItemName' | translate}}</th>
                  <th>{{'Item.ItemPrintName' | translate}}</th>
                  <th>{{'Item.ItemUnitId' | translate}}</th>
                  <th>{{'Item.ItemModel' | translate}}</th>
                  <th>{{'Item.ItemSerial' | translate}}</th>
                  <th>{{'Item.ItemManufactureCountry' | translate}}</th>
                  <th>{{'Item.ItemManufactureYear' | translate}}</th>
                  <th>{{'Item.ItemLength' | translate}}</th>
                  <th>{{'Item.ItemWidth' | translate}}</th>
                  <th>{{'Item.ItemHeight' | translate}}</th>
                  <th>{{'Item.Weight' | translate}}</th>
                  <th>{{'Item.CreateBy' | translate}}</th>
                  <th>{{'Item.CreateDate' | translate}}</th>
                  <th>{{'Item.ModifyBy' | translate}}</th>
                  <th>{{'Item.ModifyDate' | translate}}</th>
                  <th>{{'Item.Status' | translate}}</th>
                  <th>{{'Item.Action' | translate}}</th>
                </tr>
              </thead>
              <tbody *ngIf="Items?.length != 0">
                <tr *ngFor="let item of Items">
                  <td style="text-align: left"> {{item.ItemId}}</td>
                  <td style="text-align: left"> {{item.ItemTypeId}}</td>
                  <td style="text-align: left"> {{item.ItemNo}}</td>
                  <td style="text-align: left"> {{item.ItemName}}</td>
                  <td style="text-align: left"> {{item.ItemPrintName}}</td>
                  <td style="text-align: left"> {{item.ItemUnitId}}</td>
                  <td style="text-align: left"> {{item.ItemModel}}</td>
                  <td style="text-align: left"> {{item.ItemSerial}}</td>
                  <td style="text-align: left">{{item.ItemManufactureCountry}}</td>
                  <td style="text-align: left"> {{item.ItemManufactureYear}}</td>
                  <td style="text-align: left"> {{item.ItemLength}}</td>
                  <td style="text-align: left">{{item.ItemWidth}}</td>
                  <td style="text-align: left"> {{item.ItemHeight}}</td>
                  <td style="text-align: left">{{item.ItemWeight}}</td>
                  <td style="text-align: left"> {{item.CreateBy}}</td>
                  <td style="text-align: left">{{item.CreateDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left"> {{item.ModifyBy}}</td>
                  <td style="text-align: left">{{item.ModifyDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left">{{item.Status}}</td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger" (click)="fnDelete(item.ItemId)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success" (click)="fnUpdate(item.ItemId)"
                      data-toggle="modal" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="Items?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Item.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm" name="myForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemName' | translate }} : </label>
                <input type="text" name="ItemName" id="ItemName" class="form-control"
                  placeholder="{{'Item.InputItemName' | translate}}" [(ngModel)]="entity.ItemName" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemNo' | translate }} : </label>
                <input type="text" name="ItemNo" id="ItemNo" class="form-control"
                  placeholder="{{'Item.ItemNo' | translate}}" [(ngModel)]="entity.ItemNo" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemPrintName' | translate }} : </label>
                <input type="text" name="ItemPrintName" id="ItemPrintName" class="form-control"
                  placeholder="{{'Item.ItemPrintName' | translate}}" [(ngModel)]="entity.ItemPrintName" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemUnitId' | translate }} : </label>
                <!-- <select2  [options]="option"></select2> -->
                  <ng-select class="custom" [items]="listUnit" bindLabel="text" bindValue="id" placeholder="Please select unit"
                           [(ngModel)]="entity.ItemUnitId" name="text" >
                  </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemModel' | translate }} : </label>
                <input type="text" name="ItemModel" id="ItemModel" class="form-control"
                  placeholder="{{'Item.ItemModel' | translate}}" [(ngModel)]="entity.ItemModel" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemSerial' | translate }} : </label>
                <input type="text" name="ItemSerial" id="ItemSerial" class="form-control"
                  placeholder="{{'Item.ItemSerial' | translate}}" [(ngModel)]="entity.ItemSerial" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> Length : </label>
                <input type="number" name="ItemModel" class="form-control"
                  placeholder="{{'Item.ItemModel' | translate}}" [(ngModel)]="entity.ItemLength" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> Width : </label>
                <input type="number" name="ItemSerial" class="form-control"
                  placeholder="{{'Item.ItemSerial' | translate}}" [(ngModel)]="entity.ItemWidth" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> Height : </label>
                <input type="number" name="ItemModel"  class="form-control"
                  placeholder="{{'Item.ItemModel' | translate}}" [(ngModel)]="entity.ItemHeight" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> Weigth : </label>
                <input type="number" name="ItemSerial"  class="form-control"
                  placeholder="{{'Item.ItemSerial' | translate}}" [(ngModel)]="entity.ItemWeight" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemManufactureCountry' | translate }} : </label>
                <input type="text" name="ItemManufactureCountry" class="form-control"
                  placeholder="{{'Item.ItemManufactureCountry' | translate}}"
                  [(ngModel)]="entity.ItemManufactureCountry" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Item.ItemManufactureYear' | translate }} : </label>
                <input type="text" name="ItemManufactureYear" id="ItemManufactureYear" class="form-control"
                  placeholder="{{'Item.ItemManufactureYear' | translate}}" [(ngModel)]="entity.ItemManufactureYear"
                  required>
              </div>
            </div>
          </div>
          <!-- SubTable -->
          <div class="row">
            <div class="tabs-container">
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-home" aria-hidden="true"></i> Nhà
                    máy</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-list-ul" aria-hidden="true"></i> Thuộc
                    tính</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-cube" aria-hidden="true"></i> Đóng
                    gói</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-file" aria-hidden="true"></i> File</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.FactoryName' | translate }} : </label><br/>

                          <ng-select class="custom" [items]="listFactory" bindLabel="text" bindValue="id" placeholder="Please select factory"
                            [(ngModel)]="itemFactory.FactoryId" name="text" (change)="factoryChange($event)" >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.IntergrationCode' | translate }} : </label>
                          <input type="text" name="ItemNo" class="form-control"
                            placeholder="{{'Item.ItemNo' | translate}}" [(ngModel)]="itemFactory.IntergrationCode" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-success pull-right" (click)="fnAddFactory()">Add</button>
                      <div class="clearfix"></div>
                      <table class="table table-bordered mt-2">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>{{ 'Item.FactoryName' | translate }}</th>
                            <th>{{ 'Item.IntergrationCode' | translate }}</th>
                            <th>{{ 'Button.Action' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr class="animated fadeInRight" *ngFor="let item of entity.ItemFactory; let i = index">
                            <td> {{i+1}} </td>
                            <td>{{item.FactoryName}} </td>
                            <td>{{item.IntergrationCode}}</td>
                            <td><button class="btn btn-danger" (click)="fnDeleteFactory(i)"><i
                                  class="fa fa-trash"></i></button></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="tab-2" class="tab-pane">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.Property' | translate }}: </label>

                          <ng-select class="custom" [items]="listProperty" bindLabel="text" bindValue="id" placeholder="Please select property"
                          [(ngModel)]="itemProperty.ItemTypePropertyId" name="text" (change)="itemPropertyChange($event)">
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.Value' | translate }} : </label>
                          <input type="text" name="ItemNo" class="form-control"
                            placeholder="{{'Item.ItemNo' | translate}}" [(ngModel)]="itemProperty.ItemTypePropertyValue" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-success pull-right" (click)="fnAddProperty()">Add</button>
                      <div class="clearfix"></div>
                      <table class="table table-bordered mt-2">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>{{ 'Item.Property' | translate }}</th>
                            <th>{{ 'Item.Value' | translate }}</th>
                            <th>{{ 'Button.Action' | translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="animated fadeInRight" *ngFor="let item of entity.ItemProperty; let i = index">
                            <td> {{i+1}} </td>
                            <td> {{item.ItemPropertyName}} </td>
                            <td> {{item.ItemTypePropertyValue}}</td>
                            <td><button class="btn btn-danger" (click)="fnDeleteItemProperty(i)"><i
                                  class="fa fa-trash"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="tab-3" class="tab-pane">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{ 'ItemUnit' | translate }}:</label>
                         
                          <ng-select class="custom" [items]="listUnit" bindLabel="text" bindValue="id" placeholder="Please select unit"
                           [(ngModel)]="itemPackage.ItemPackageUnitId" name="text" (change)="itemUnitChange($event)" >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.ItemPackageCoefficient' | translate }} : </label>
                          <input type="number" name="ItemWidth" class="form-control" 
                            placeholder="Item Package Coefficient" [(ngModel)]="itemPackage.ItemPackageCoefficient" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.ItemLength' | translate }} : </label>
                          <input type="number" name="ItemLength" class="form-control"
                            placeholder="{{'Item.ItemLength' | translate}}" [(ngModel)]="itemPackage.ItemPackageLength" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.ItemWidth' | translate }} : </label>
                          <input type="number" name="ItemWidth" class="form-control"
                            placeholder="{{'Item.ItemWidth' | translate}}" [(ngModel)]="itemPackage.ItemPackageWidth" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.ItemHeight' | translate }} : </label>
                          <input type="number" name="ItemHeight" class="form-control"
                            placeholder="{{'Item.ItemHeight' | translate}}" [(ngModel)]="itemPackage.ItemPackageHeight" >
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ 'Item.ItemWeight' | translate }} : </label>
                          <input type="number" name="ItemWeight" id="ItemWeight" class="form-control"
                            placeholder="{{'Item.ItemWeight' | translate}}" [(ngModel)]="itemPackage.ItemPackageWeight" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-success pull-right" (click)="fnAddPackage()">Add</button>
                      <div class="clearfix"></div>
                      <table class="table table-bordered mt-2">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Item unit</th>
                            <th>Package Coefficient</th>
                            <th>Dài</th>
                            <th>Rộng</th>
                            <th>Cao</th>
                            <th>Nặng</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr class="animated fadeInRight" *ngFor="let item of entity.ItemPackage; let i = index">
                            <td> {{i+1}} </td>
                            <td>{{item.ItemPackageUnitName}}</td>
                            <td>{{item.ItemPackageCoefficient}} </td>
                            <td>{{item.ItemPackageLength}} </td>
                            <td>{{item.ItemPackageWidth}} </td>
                            <td>{{item.ItemPackageHeight}} </td>
                            <td>{{item.ItemPackageWeight}} </td>
                           
                            <td><button class="btn btn-danger" (click)="fnDeleteItemPackage(i)"><i
                                  class="fa fa-trash"></i></button></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="tab-4" class="tab-pane">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label>{{ 'Factory.label.UploadFile' | translate }} </label>             
                          <ngx-dropzone (change)="onSelect($event)" [expandable]="true" [maxFileSize]="5000*1024">
                            <ngx-dropzone-label>Kéo thả file ở đây!</ngx-dropzone-label>
                            <ngx-dropzone-preview class="animated fadeInUp"  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"   [removable]="true" (removed)="onRemove(f)" (click)=downloadFile(f.name) >
                              <ngx-dropzone-label style="font-size:11px;" >{{f.name.substring(0,30)}} {{ f.name.length>=30? '...' : '' }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </ngx-dropzone>
          
                          
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </div>


            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="ACTION_STATUS=='update'" class="btn btn-danger hide"
          (click)="fnDelete(entity.ItemTypeId)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-primary" (click)="fnSave();" [ladda]="laddaSubmitLoading"
          [disabled]="myForm.invalid">Save
          changes</button>
      </div>
    </div>
  </div>
</div>