<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Chức năng</h2>
    <ol class="breadcrumb">
      <li>
        <!-- <a routerLink="/pages">Dashboard</a> -->
      </li>
      <li class="active">
        <strong>Chức năng</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div id="form-demo">
  <div class="widget-container">
    <dx-form id="form" [(formData)]="chartFactory" [readOnly]="readOnly" [showColonAfterLabel]="showColon"
      [labelLocation]="labelLocation" [minColWidth]="minColWidth" [colCount]="colCount" [width]="width">
      <dxi-item itemType="group" cssClass="first-group" dataField="factoryId" [colCount]="2" [colSpan]="1">
        <dxo-label text="FactoryId"></dxo-label>
        <dx-select-box #factory displayExpr="FactoryName" valueExpr="FactoryId" [(dataSource)]="factories"
          [(value)]="this.chartFactory.factoryId">
        </dx-select-box>
        <div class="options">
          <div class="option">
            <span>Series Type</span>
            <dx-select-box [dataSource]="types" [(value)]="chartType" (onSelectionChanged)="onSelectionChanged($event)">
            </dx-select-box>
          </div>
        </div>
      </dxi-item>
      <dxi-item itemType="group" cssClass="second-group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="dateFrom" editorType="dxDateBox"
          [editorOptions]="{ type: 'datetime',displayFormat:'d/M/yyyy HH:mm',width: '100%'}">
          <dxo-label text="DateFrom"></dxo-label>
        </dxi-item>
        <dxi-item dataField="dateTo" editorType="dxDateBox"
          [editorOptions]="{ type: 'datetime',displayFormat:'d/M/yyyy HH:mm',width: '100%'}">
          <dxo-label text="DateTo"></dxo-label>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-button stylingMode="contained" text="Query" type="normal" [width]="120" (onClick)="chartQuery()">
          </dx-button>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>
</div>
<h1 class="text-center" [hidden]="showData" >No data</h1>
<div *ngFor="let item of monitorSources" [hidden]="!showData">
  <div [id]="item.value"></div>
  <br>
</div>
<hr>