<div id="data-grid-demo">
  <dx-data-grid
      id="gridContainer"
      [dataSource]="bomFactory"
      keyExpr="FactoryId"
      [showBorders]="true"
      [showColumnLines]="true"
      >

      <dxo-paging [enabled]="true" [pageSize]="15" [pageIndex]="0"></dxo-paging>
       <dxo-search-panel
        [visible]="true"
        [width]="240"
        placeholder="Search..."></dxo-search-panel>

      <dxo-editing
          mode="popup"
          [allowUpdating]="true"
          [allowDeleting] = "true"
          [allowAdding]="true">
          <dxo-popup
              title="Employee Info"
              [showTitle]="true"
              [width]="700"
              [height]="525"
              [position]="{ my: 'top', at: 'top', of: window }"
              [onOptionChanged] = "logOption">
          </dxo-popup>
          <dxo-form  id="form-container">
              <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                  <dxi-item dataField="FactoryId"></dxi-item>
                  <dxi-item dataField="Validate" type="date"></dxi-item>
                  <dxi-item
                      dataField="Descriptions"
                      editorType="dxTextArea"
                      [colSpan]="2"
                      [editorOptions]="{ height: 100 }">
                  </dxi-item>
              </dxi-item>
          </dxo-form>
      </dxo-editing>

      <!-- <dxi-column dataField="FactoryId" caption="FactoryId" [width]="150"></dxi-column> -->
      <dxi-column dataField="FactoryId" caption="FactoryName" [width]="150" >
        <dxo-lookup
              [dataSource]="factory"
              displayExpr="FactoryName"
              valueExpr="FactoryId">
          </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="Validate" dataType ="date"></dxi-column>
      <dxi-column dataField="Descriptions"></dxi-column>
  </dx-data-grid>
</div>
