<div
  bsModal
  #childModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          {{ "BomFactory.label.Information" | translate }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="childModal.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" >
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ "BomFactory.data.FactoryId" | translate }} : *</label>
                <ui-select-box entitykey="Factory" [pageSize]="5" [checkstatus]="true" [(ngModelCustom)]="entity.FactoryId"></ui-select-box>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ "BomFactory.data.Validate" | translate }} : *</label>
                <input
                autocomplete="off"
                  type="text"
                  name="Validate"
                  id="Validate"
                  class="form-control"
                  bsDatepicker
                  readonly
                  [bsConfig]="bsConfig"
                  [(ngModel)]="entity.BomFactoryValidateDate"
                  placeholder="{{'BomFactory.placeholder.Validate' | translate}}"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ "BomFactory.data.Descriptions" | translate }} : </label>
                <textarea
                  autocomplete="off"
                  type="text"
                  name="Descriptions"
                  id="Descriptions"
                  class="form-control"
                  placeholder="{{ 'BomFactory.placeholder.Descriptions' | translate }}"
                  rows="2"
                  [(ngModel)]="entity.BomFactoryDescription"
                ></textarea>
                <!-- <div *ngIf="existName" style="color: red;">{{ 'BomFactory.ErrorExistDescriptions' | translate }}</div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ "Master.data.Status" | translate }} :</label> &nbsp;&nbsp;
                <dx-switch  [value]="entity.Status"  (onValueChanged)="onSwitchStatus()" ></dx-switch>
              </div>
            </div>
          </div>
          <hr />
          <!-- table Stage -->
          <div class="row">
            <div class="col-lg-12">
              <dx-data-grid
              [dataSource]="entity.BomStage"
              (onRowValidating)="onRowValidatingBomStage($event)"
              (onContentReady) ="enableActiveTab()"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [remoteOperations]="true" height="auto"  showBorders="true" [showRowLines]="true">
              <dxo-editing
                [allowAdding]="true"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [useIcons] ="true"
                >
                <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
              </dxo-editing>
              <dxi-column dataField="StageId" caption="{{'BomFactory.BomStage.StageId' | translate }} (*)" >
                <dxo-lookup
                    [dataSource]="dataSourceStage"
                    displayExpr="StageName"
                    valueExpr="StageId">
                </dxo-lookup>
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="OrderNumber"  dataType="number" caption="{{'BomFactory.BomStage.OrderNumber' | translate }}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="IsSequence"  dataType="boolean"  caption="{{'BomFactory.BomStage.Sequence' | translate }}">
              </dxi-column>
              <dxi-column dataField="BomStageDescription" caption="{{'BomFactory.BomStage.Descriptions' | translate }}">
              </dxi-column>

              <div *dxTemplate="let item of 'detail'">
                <div class="master-detail-caption">Danh sách đầu ra của {{item.data.StageName | lowercase}}</div>
                <dx-data-grid
                    [dataSource]="getBomOut(item.key)"
                    class="dx-grid-child"
                    [showBorders]="true"
                    (onRowValidating)="onRowValidatingBomOut($event,item.key)"
                    (onContentReady) ="enableActiveTab()"
                    [masterDetail]="{ enabled: true, template: 'detailIn' }"
                    [columnAutoWidth]="true">
                      <dxo-editing
                      [allowAdding]="true"
                      [allowUpdating]="true"
                      [allowDeleting]="true"
                      [useIcons] ="true"
                      >
                      <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                    </dxo-editing>
                        <dxi-column dataField="ItemId"  caption="{{'BomFactory.BomItem.ItemId' | translate}}"  [setCellValue]="setItemValueOut">
                          <dxo-lookup
                              [dataSource]="dataSourceItem"
                              displayExpr="ItemName"
                              valueExpr="ItemId">
                          </dxo-lookup>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="UnitId" caption="{{'BomFactory.BomItem.UnitId ' | translate}}" >
                          <dxo-lookup
                            [dataSource]="getFilteredUnit"
                            displayExpr="UnitName"
                            valueExpr="UnitId">
                        </dxo-lookup>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="Quantity"  dataType="number" caption="{{'BomFactory.BomItem.Quantity' | translate}}">
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <div *dxTemplate="let itemChild of 'detailIn'">
                          <div class="master-detail-caption">Danh sách đầu vào của {{itemChild.data.ItemName | lowercase}}</div>
                          <dx-data-grid
                              [dataSource]="getBomIn(itemChild.key)"
                              (onRowValidating)="onRowValidatingBomIn($event,itemChild.key)"
                              (onContentReady) ="enableActiveTab()"
                              class="dx-grid-child"
                              [showBorders]="true"
                              [columnAutoWidth]="true">
                                <dxo-editing
                                [allowAdding]="true"
                                [allowUpdating]="true"
                                [allowDeleting]="true"
                                [useIcons] ="true"
                                >
                                <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                              </dxo-editing>
                                  <dxi-column dataField="ItemId"  caption="{{'BomFactory.BomItem.ItemId' | translate}}"  [setCellValue]="setItemValueIn">
                                    <dxo-lookup
                                        [dataSource]="dataSourceItem"
                                        displayExpr="ItemName"
                                        valueExpr="ItemId">
                                    </dxo-lookup>
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                  </dxi-column>
                                  <dxi-column dataField="UnitId" caption="{{'BomFactory.BomItem.UnitId ' | translate}}">
                                    <dxo-lookup
                                      [dataSource]="getFilteredUnit"
                                      displayExpr="UnitName"
                                      valueExpr="UnitId">
                                  </dxo-lookup>
                                  <dxi-validation-rule type="required"></dxi-validation-rule>
                                  </dxi-column>
                                  <dxi-column dataField="Quantity"  dataType="number" caption="{{'BomFactory.BomItem.Quantity' | translate}}">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                  </dxi-column>
                          </dx-data-grid>
                      </div>
                </dx-data-grid>
            </div>
          </dx-data-grid>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-save"
        [ladda]="laddaSubmitLoading"
        [disabled]="entity.FactoryId==0 ||entity.FactoryId==null ||entity.BomFactoryValidateDate==''" (click)="fnSave()">
        <i class="fa fa-plus"></i>
        {{'Button.Save' | translate}}
      </button>
        <button
          type="button"
          class="btn btn-default waves-effect"
          (click)="childModal.hide()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
