button {
    width: 100%;
    height: 100%;
}

.myapp img{
    width: 100%;
}

.myapp  {
    text-align: center;
    /* padding: 90px 0; */
    background-color: #f8f8f9;
    color: #bebec3;
    font-weight: 600;
}

