<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <a href="#/admin/role" class="product-name">
          <div class="ibox-content product-box">
            <h1 class="text-center">
              <strong> QUẢN TRỊ
              </strong>
            </h1>
            <div class="myapp">
              <img src="./assets/img/landing/laptop.png" alt="test">
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
