
<div>
    <h1 class="logo-name">BECAMEX</h1>
</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      
      <h3>HỆ THỐNG XỬ LÝ NƯỚC THẢI</h3>    
      <form class="m-t" role="form" #userForm="ngForm" (submit)="loginUser()"  >
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="authService.currentUser.Username" #Username="ngModel" name="Username" placeholder="{{'Users.Username' | translate}}" required>
          </div>        
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="authService.currentUser.Password" #Password="ngModel" name="Password" placeholder="{{'Users.Password' | translate}}" required>
          </div>        
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary block full-width m-b">{{'Button.Login' | translate}} </button>        
      </form>
      <p class="m-t"> <small>{{'About' | translate}} </small> </p>
  </div>
</div>



