<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <div>
          <h1 class="logo-name">xlnt</h1>
      </div>
      <h3></h3>    
      <form class="m-t" role="form" #userForm="ngForm" (submit)="loginUser()"  >
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="authService.currentUser.Username" #Username="ngModel" name="Username" placeholder="Username" required>
          </div>        
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="authService.currentUser.Password" #Password="ngModel" name="Password" placeholder="Password" required>
          </div>        
          <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary block full-width m-b">{{'Button.Login' | translate}} </button>        
      </form>
      <p class="m-t"> <small>{{'About' | translate}} </small> </p>
  </div>
</div>



