<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect 5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button type="button" class="btn btn-primary dim" [routerLink]="['../newcustomer']">
                <i class="fa fa-plus"></i>{{'Button.Add' | translate}}
              </button>
            </div>
          </div>
          <div class="row">





            <div class="table-responsive">


              <dx-data-grid [dataSource]="dataSource" [remoteOperations]="true" height="500" showBorders="true">

              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-header-filter [visible]="true"></dxo-header-filter>
              <dxo-group-panel [visible]="true"></dxo-group-panel>

              <!-- <dxo-editing mode="popup">
                <dxo-popup title="Unit Info" [showTitle]="true" [width]="600" [height]="230"
                  [position]="{ my: 'top', at: 'top', of: 'window' }">
                </dxo-popup>
                <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                <dxo-form>
                  <dxi-item dataField="UnitName"></dxi-item>
                  <dxi-item dataField="Status"></dxi-item>
                </dxo-form>
              </dxo-editing> -->

              <dxi-column dataField="CustomerCode" caption="{{ 'Customer.data.CustomerCode' | translate}}"></dxi-column>
              <dxi-column dataField="CustomerName" ></dxi-column>
              <dxi-column dataField="FactoryFactoryName" ></dxi-column>
              <dxi-column dataField="CustomerType" ></dxi-column>
              <dxi-column dataField="CustomerContact" ></dxi-column>
              <dxi-column dataField="CustomerContactPhone" ></dxi-column>
              <dxi-column dataField="CustomerContactEmail" ></dxi-column>
              <dxi-column dataField="CreateDate" dataType="date"></dxi-column>
              <dxi-column dataField="CreateBy" ></dxi-column>
              <dxi-column dataField="ModifyDate" dataType="date"></dxi-column>
              <dxi-column dataField="ModifyBy"></dxi-column>
              <dxi-column dataField="Status" #status dataType="boolean"  ></dxi-column>
              <dxi-column dataField="IsIntergration" #status dataType="boolean"  ></dxi-column>

              <dxo-paging [pageSize]="25"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
            </dx-data-grid>
            <!-- <dx-speed-dial-action icon="add" label="Add row" [index]="1" (onClick)="addRow()">
            </dx-speed-dial-action>
            <dx-speed-dial-action icon="trash" label="Delete row" [index]="2" [visible]="selectedRowIndex !== -1"
                (onClick)="deleteRow()">
            </dx-speed-dial-action>
            <dx-speed-dial-action icon="edit" label="Edit row" [index]="3" [visible]="selectedRowIndex !== -1"
                (onClick)="editRow()">
            </dx-speed-dial-action>
            </div> -->


              <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>
                  <th>{{'Customer.data.CustomerCode' | translate}}</th>
                  <th>{{'Customer.data.CustomerName' | translate}}</th>
                  <th>{{'Customer.data.FactoryId' | translate}}</th>
                  <th>{{'Customer.data.CustomerAddress' | translate}}</th>
                  <th>{{'Customer.data.ContactName' | translate}}</th>
                  <th>{{'Customer.data.ContactEmail' | translate}}</th>
                  <th>{{'Customer.data.ContactPhone' | translate}}</th>
                  <th>{{'Customer.data.Description' | translate}}</th>
                  <th>{{'Customer.data.CreateBy' | translate}}</th>
                  <th>{{'Customer.data.CreateDate' | translate}}</th>
                  <th>{{'Customer.data.ModifyBy' | translate}}</th>
                  <th>{{'Customer.data.ModifyDate' | translate}}</th>
                  <th>{{'Customer.data.Status' | translate}}</th>
                  <th>{{'Customer.data.IsIntergration' | translate}}</th>
                  <th>{{'Button.Action'   | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lsData">
                  <td> {{item.CustomerCode }} </td>
                  <td> {{item.CustomerName }} </td>
                  <td> {{item.FactoryName }} </td>
                  <td> {{item.CustomerAddress }} </td>
                  <td> {{item.ContactName }} </td>
                  <td> {{item.ContactEmail }} </td>
                  <td> {{item.ContactPhone }} </td>
                  <td> {{item.Description }} </td>
                  <td> {{item.CreateBy }} </td>
                  <td> {{item.CreateDate  | amDateFormat: 'DD-MM-YYYY HH:mm' }} </td>
                  <td> {{item.ModifyBy }} </td>
                  <td> {{item.ModifyDate  | amDateFormat: 'DD-MM-YYYY HH:mm' }} </td>
                  <td> <span class="badge "
                      [ngClass]="{'badge-success': item.Status==1, 'badge-danger':item.Status==0}">{{item.CustomerStatus }}
                    </span>
                  </td>
                  <td> <span><i class="fa fa-lg"
                        [ngClass]="{'fa-check-square-o text-info': item.IsIntergration==true, 'fa-square-o':item.IsIntergration==false}"></i>
                    </span></td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger" (click)="fnDelete(item.CustomerId)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success"
                      [routerLink]="['../customer/'+item.CustomerId]"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="lsData?.length == 0">
                <tr>
                  <td colspan="20" class="no-data-available">{{'messg.datatable.zeroRecords'  | translate}}</td>
                </tr>
              <tbody>
            </table> -->
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>