



<div>
  <h1 class="logo-name">SMARTIN</h1>
</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <h2><strong>ĐĂNG KÝ</strong></h2> 
      <p>{{'Register.PleaseInput' | translate}} </p>
      <form class="m-t" role="form" #regForm="ngForm" name="regForm">
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="regUser.Username" name="Username1" placeholder="{{'Users.Username' | translate}}" required="">
          </div>
          <div class="form-group">
              <input type="email" class="form-control" [(ngModel)]="regUser.Email" name="Email1" placeholder="Mail" required="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="regUser.Password" name="Password1" placeholder="{{'Users.Password' | translate}}" required="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)]="regUser.ConfirmPassword" name="Confirmpassword1" placeholder="{{'Register.AskConfirmPassword' | translate}}" required="">
          </div>
          <!-- <div class="form-group">
              <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Đọc điều khoản và xác thực
                  </label></div>
          </div> -->
          <button [ladda]="laddaSubmitLoading" type="submit" class="btn btn-primary block full-width m-b" [disabled]="!regForm.form.valid" (click)="registerSubmit()">{{'Register.Register' | translate}}</button>

          <p class="text-muted text-center"><small>{{'Register.AskLogin' | translate}} </small></p>
          <a class="btn btn-sm btn-white btn-block" href="/#/login">{{'Button.Login' | translate}} </a>
          



      </form>
      <p class="m-t"> <small>{{'About' | translate}} </small> </p>
      <a (click)="languageService.langChanged('en')" class="btn btn-white btn-sm" [ngClass]="{active: translate.currentLang=='en'}"><img
        src="/assets/img/flags/32/United-States.png"> English</a>
        <a (click)="languageService.langChanged('vn')" class="btn btn-white btn-sm " [ngClass]="{active: translate.currentLang=='vn'}"><img
            src="/assets/img/flags/32/Vietnam.png"> Tiếng Việt</a>
  </div>
</div>