<div>
  <h1 class="logo-name">SMARTIN</h1>
</div>
<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h2><strong>Reset Password</strong></h2>
    <form class="m-t" role="form" #userForm="ngForm" (submit)="resetPassword()">
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="Password" name="Password" placeholder="Password"
          required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="ConfirmPassword" name="ConfirmPassword"
          placeholder="ConfirmPassword" required>
      </div>
      <button [ladda]="laddaSubmitLoading" type="submit" [disabled]="userForm.invalid"
        class="btn btn-primary block full-width m-b">Reset Password</button>
    </form>
  </div>
</div>