<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Unit.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Unit.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> Add </button>
            </div>
          </div>
          <div class="row">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>
                  <th>{{'Unit.UnitId' | translate}}</th>
                  <th>{{'Unit.UnitName' | translate}}</th>
                  <th>{{'Unit.CreateBy' | translate}}</th>
                  <th>{{'Unit.CreateDate' | translate}}</th>
                  <th>{{'Unit.ModifyBy' | translate}}</th>
                  <th>{{'Unit.ModifyDate' | translate}}</th>
                  <th>{{'Unit.Status' | translate}}</th>
                  <th>{{'Unit.Action' | translate}}</th>
                </tr>
              </thead>
              <tbody *ngIf="Units?.length != 0">
                <tr *ngFor="let item of Units">
                  <td style="text-align: left"> {{item.UnitId}}</td>
                  <td style="text-align: left">{{item.UnitName}}</td>
                  <td style="text-align: left"> {{item.CreateBy}}</td>
                  <td style="text-align: left">{{item.CreateDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left"> {{item.ModifyBy}}</td>
                  <td style="text-align: left">{{item.ModifyDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left">{{item.Status}}</td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger" (click)="fnDelete(item.UnitId)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success" (click)="fnUpdate(item)"
                      data-toggle="modal" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="Units?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Unit.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm" name="myForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label> {{ 'Unit.UnitName' | translate }} : </label>                
                <input type="text" name="UnitName" id="UnitName" class="form-control" placeholder="{{'Unit.InputUnitName' | translate}}"
                  [(ngModel)]="entity.UnitName" [ngClass]="{ 'is-invalid': existName }" required>
                  <div *ngIf="existName" style="color: red;">{{ 'Unit.ErrorExistUnitName' | translate }}</div>
              </div>
            </div>
          </div>
          <!-- SubTable -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>{{ 'Unit.Status' | translate }} :</label>
                <div class="switch">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"
                      (click)="onSwitchStatus()" [checked]="entity.Status==1 ? true : null">
                    <label class="onoffswitch-label" for="status">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="ACTION_STATUS=='update'" class="btn btn-danger hide"
          (click)="fnDelete(entity.UnitId)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-primary" (click)="fnSave()" [ladda]="laddaSubmitLoading" [disabled]="myForm.invalid">Save
          changes</button>
      </div>
    </div>
  </div>
</div>