<dx-data-grid
    (onRowInserting)="onRowInserting($event)"
    (onRowUpdating)="onRowUpdating($event)"
    (onRowRemoving)="onRowRemoving($event)"
    [dataSource]="dataSource"
    height="500"
    showBorders="true"
    [masterDetail]="{ enabled: true, template: 'detail' }">

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxo-editing
        mode="row"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">
    </dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

    <dxi-column dataField="UnitId">
        <dxi-validation-rule type="stringLength" max="20" message="The field UnitId must be a string with a maximum length of 20."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="UnitName">
        <dxi-validation-rule type="stringLength" max="20" message="The field UnitName must be a string with a maximum length of 20."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="CreateBy">
        <dxi-validation-rule type="stringLength" max="20" message="The field CreateBy must be a string with a maximum length of 20."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="CreateDate" dataType="date">
        <dxi-validation-rule type="required" message="The CreateDate field is required."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="ModifyBy">
        <dxi-validation-rule type="stringLength" max="20" message="The field ModifyBy must be a string with a maximum length of 20."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="ModifyDate" dataType="date">
        <dxi-validation-rule type="required" message="The ModifyDate field is required."></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="Status">
        <dxi-validation-rule type="required" message="The Status field is required."></dxi-validation-rule>
    </dxi-column>
    <dxo-remote-operations
        [filtering]="true"
        [paging]="true"
        [sorting]="true"
        [summary]="true"
        [grouping]="true"
        [groupPaging]="true">
    </dxo-remote-operations>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[8, 12, 20]"
    ></dxo-pager>
</dx-data-grid>
