

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary dim" [routerLink]="['/mainView']" ><i class="fa fa-chevron-circle-left"></i> Về trang chủ </button>
      <div class="ibox  animated fadeInRight">

        
        <div class="ibox-title">
          <h5>Thông tin cơ bản</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
          </div>
          <div class="ibox-content profile-content">
            <h4><strong>{{profile.TenNhanVien}}</strong></h4>
            <p><i class="fa fa-map-marker"></i> {{profile.ChucVu}}</p>
            <p><i class="fa fa-phone"></i> {{profile.DienThoai}}</p>
            <p><i class="fa fa-envelope"></i> {{profile.Email}}</p>
          </div>
        </div>
      </div>    
    </div>   
  </div>

  <div class="row">
    <div class="ibox-content">
      Smart select
		<label for="spc">Special ID</label> 
      <input id="spc" type="text"  [(ngModel)]="myspecialID"> @example: 185 (Factory)
      <button  (click)="myselect=null" >refresh</button>

      <select  [(ngModel)]="myselect" [disabled]="myselect">
        <option value='Item'>Item</option>
        <option value='ItemOut'>ItemOut</option>
        <option value='Factory'>Factory</option>
        <option value='Users'>Users</option>
        <option value='Unit'>Unit</option>
      </select>'
      
      <app-smart-select *ngIf="myselect" [specialId]="myspecialID"  [listName]="myselect"  (select_ngModel)="T = $event"></app-smart-select>
      <img src="https://i.imgur.com/TSfvHBC.png" style="padding-top: 20px;" >
      </div>
    <div class="ibox-content">
      Smart upload
      
      <app-smart-upload ></app-smart-upload>
      <img src="https://i.imgur.com/UFOJ6W9.png" style="padding-top: 20px;">



    </div>
    <div class="ibox-content">
      Smart tABLE
      
      <app-smart-table></app-smart-table>
      



    </div>
    <div class="ibox-content">
      Dev Express 
      
      <h2 class="content-block">Display Data</h2>

<dx-data-grid class="dx-card wide-card"
    [dataSource]="dataSource"
    [showBorders]="false"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column
        dataField="Task_ID"
        [width]="90"
        [hidingPriority]="2">
    </dxi-column>
    <dxi-column
        dataField="Task_Subject"
        [width]="190"
        caption="Subject"
        [hidingPriority]="8">
    </dxi-column>
    <dxi-column
        dataField="Task_Status"
        caption="Status"
        [hidingPriority]="6">
    </dxi-column>
    <dxi-column
        dataField="Task_Priority"
        caption="Priority"
        [hidingPriority]="5">
        <dxo-lookup
            [dataSource]="priority"
            valueExpr="value"
            displayExpr="name">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
        dataField="ResponsibleEmployee.Employee_Full_Name"
        caption="Assigned To"
        [allowSorting]="false"
        [hidingPriority]="7">
    </dxi-column>
    <dxi-column
        dataField="Task_Start_Date"
        caption="Start Date"
        dataType="date"
        [hidingPriority]="3">
    </dxi-column>
    <dxi-column
        dataField="Task_Due_Date"
        caption="Due Date"
        dataType="date"
        [hidingPriority]="4">
    </dxi-column>
    <dxi-column
        dataField="Task_Priority"
        caption="Priority"
        [hidingPriority]="1">
    </dxi-column>
    <dxi-column
        dataField="Task_Completion"
        caption="Completion"
        [hidingPriority]="0">
    </dxi-column>
</dx-data-grid>


      



    </div>



  </div>
</div>






