

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary dim" [routerLink]="['/mainView']" ><i class="fa fa-chevron-circle-left"></i> Về trang chủ </button>
      <div class="ibox  animated fadeInRight">

        
        <div class="ibox-title">
          <h5>Thông tin cơ bản</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
          </div>
          <div class="ibox-content profile-content">
            <h4><strong>{{profile.TenNhanVien}}</strong></h4>
            <p><i class="fa fa-map-marker"></i> {{profile.ChucVu}}</p>
            <p><i class="fa fa-phone"></i> {{profile.DienThoai}}</p>
            <p><i class="fa fa-envelope"></i> {{profile.Email}}</p>
          </div>
        </div>
      </div>    
    </div>   
  </div>

  <div class="row">
    <div class="ibox-content">
      Smart select
      <select  [(ngModel)]="myselect" >
        <option selected value='Item'>Item</option>
        <option value='Factory'>Factory</option>
        <option value='Users'>Users</option>
      </select>'
      <label for="spc">Special ID</label> 
      <input id="spc" type="text"  [(ngModel)]="myspecialID"> @example: 185 (Factory)
      <app-smart-select [specialId]="myspecialID"  [listName]="myselect"  (select_ngModel)="T = $event"></app-smart-select>
      <img src="https://i.imgur.com/TSfvHBC.png" style="padding-top: 20px;" >
      </div>
    <div class="ibox-content">
      Smart upload
      
      <app-smart-upload ></app-smart-upload>
      <img src="https://i.imgur.com/UFOJ6W9.png" style="padding-top: 20px;">



    </div>
    <div class="ibox-content">
      Smart tABLE
      
      <app-smart-table></app-smart-table>
      



    </div>


  </div>
</div>






