<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Factory.label.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a>{{ 'TopNav.Administration' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Factory.label.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> {{ 'Factory.btn.AddFactory' | translate}} </button>
            </div>
            <!-- <div class="col-sm-4 text-center">
                <h2> {{'Factory.label.TotalFactory' | translate}} {{factory_showed}} {{'Factory.' | translate}} </h2>
                <small>{{'Factory.label.TotalFactory1' | translate}} {{factory.length}} {{'Factory.label.TotalFactory2' | translate}}</small>
              </div> -->
            <!-- <div class="col-sm-4">
                <div class="pull-right">
                 <label for="">{{ 'Factory.label.SearchTitle' | translate}}</label>
                  <div class="input-group">
                      <input type="text"  class="form-control input-lg" placeholder="{{ 'Factory.label.SearchText' | translate}}" name="search"  [(ngModel)]="keyword"  (keyup)="$event.keyCode === 13 && loadInit()" >
                      <div class="input-group-btn">
                          <button class="btn btn-lg btn-primary" type="submit" (click)="loadInit()">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                </div>
  
              </div> -->
            <div class="col-sm-2 text-center">
              <div class="form-group">
                <label for="choose">
                  <small>{{'Factory.label.Showed'| translate}} </small>
                </label>
                <select id='choose' class="form-control" [(ngModel)]="pageSize" (change)="loadInit()">
                  <option value=12>12</option>
                  <option value=24>24</option>
                  <option value=36>36</option>
                  <option value=0>All</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <h2 class="total-factory"> {{'Factory.label.TotalFactory' | translate}} {{factory_showed}}
                {{'Factory.' | translate}} </h2>
              <pagination [totalItems]="factory_showed" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
            <div class="col-sm-4">
              <div class="pull-right">
                <label for="">{{ 'Factory.label.SearchTitle' | translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control input-lg"
                    placeholder="{{ 'Factory.label.SearchText' | translate}}" name="search" [(ngModel)]="keyword"
                    (keyup)="$event.keyCode === 13  && searchLoad()">
                  <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" type="submit" (click)="searchLoad()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- Detail Factories  -->
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of factory">
              <div class="panel panel-info">
                <div class="panel-heading text-center">
                  <a (click)="fnEditSignal(item.FactoryId)"><i class="fa fa-info-circle"></i> {{item.FactoryName}}
                  </a>
                  <button class="btn btn-sm btn-outline pull-right css_btnDel" (click)="fnDelete(item.FactoryId)"><i
                      class="fa fa-times-circle"></i> </button>
                </div>
                <div class="panel-body">
                  <p> <strong>{{ 'Factory.data.FactoryAddress' | translate}}:</strong> {{item.FactoryAddress}}</p>
                  <p> <strong>{{ 'Factory.data.FactoryContact' | translate}}:</strong> {{item.FactoryContact}}</p>
                  <p> <strong>{{ 'Factory.data.ContactPhone' | translate }}:</strong> {{item.FactoryContactPhone }}</p>
                  <p> <strong>{{ 'Factory.data.FactoryType' | translate}}:</strong>
                    {{'Factory.data.FactoryType'+item.FactoryType | translate}}</p>
                  <p> <strong>{{ 'Factory.data.Status' | translate}}:</strong> <span class="label"
                      [ngClass]="{'label-primary': item.Status==1, 'label-danger': item.Status==0}">
                      {{'Factory.data.Status'+item.Status | translate}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Factory.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form action="your-action" (submit)="fnSave($event)">
          <dx-form #targetForm id="form" [(formData)]="entity">
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryType" [label]="{text: trans.instant('Factory.data.FactoryType')}"
                editorType="dxSelectBox" [editorOptions]="{ displayExpr: 'text' ,valueExpr:'id' ,
                items: [
                { id: 1, text: trans.instant('Factory.data.FactoryType1')}
                ,{ id: 2, text: trans.instant('Factory.data.FactoryType2')}
                ,{ id: 3, text: trans.instant('Factory.data.FactoryType3')}
                ]}"></dxi-item>
              <dxi-item dataField="Status" [label]="{text: trans.instant('Factory.data.Status')}"
                editorType="dxSelectBox" [editorOptions]="{ displayExpr: 'text' ,valueExpr:'id' ,
                items: [{id: 0, text: trans.instant('Factory.data.Status0')}
                ,{ id: 1, text: trans.instant('Factory.data.Status1')}]}">
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryCode" [label]="{text: trans.instant('Factory.data.FactoryCode')}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxi-validation-rule type="async" ignoreEmptyValue="true" message="Exist Factory Code"  [validationCallback]="validateAsync"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="FactoryName" [label]="{text: trans.instant('Factory.data.FactoryName')}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxi-validation-rule type="async" ignoreEmptyValue="true" message="Exist Factory Name"  [validationCallback]="validateAsync"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryBuiltDate" [label]="{text: trans.instant('Factory.data.FactoryBuiltDate')}"
                editorType="dxDateBox">
              </dxi-item>
              <dxi-item dataField="FactoryStartDate" [label]="{text: trans.instant('Factory.data.FactoryStartDate')}"
                editorType="dxDateBox">
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryAddress" [label]="{text: trans.instant('Factory.data.FactoryAddress')}">
              </dxi-item>
              <dxi-item dataField="FactoryEndDate" [label]="{text: trans.instant('Factory.data.FactoryEndDate')}"
                editorType="dxDateBox">
                <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                  [validationCallback]="validateFunction" message="Factory End Date Compare Validate">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryContact" [label]="{text: trans.instant('Factory.data.FactoryContact')}"
                editorType="dxTextArea"></dxi-item>
              <dxi-item dataField="FactoryContactPhone" [label]="{text: trans.instant('Factory.data.ContactPhone')}"
                [editorOptions]="{ mask: '(+00) 000 000 0099'}"></dxi-item>
            </dxi-item>
            <dxi-item>
              <div *dxTemplate>
                <app-smart-upload #targetSmartUpload [filePath]="pathFile"
                  (entityFile)="this.entity.FactoryFile = $event"></app-smart-upload>
                <hr>
              </div>
            </dxi-item>
            <dxi-item contentTemplate="table-resposive">
              <div *dxTemplate="let data of 'table-resposive'">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="5%">#</th>
                        <th width="20%">{{ 'Factory.data.TechnologyName' | translate }}</th>
                        <th width="35%">{{ 'Factory.data.TechnologyDescription' | translate }}</th>
                        <th width="15%">{{ 'Factory.data.TechnologyFromDate' | translate }}</th>
                        <th width="15%">{{ 'Factory.data.TechnologyToDate' | translate }}</th>
                        <th width="10%">{{ 'Button.Action' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of entity.FactoryTechnology; let i = index">
                        <td> {{i+1}} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{item.TechnologyName}} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{item.TechnologyDescription}} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{item.TechnologyFromDate  }} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{item.TechnologyToDate  }} </td>
                        <td *ngIf="i+1 === EditRowNumber"><input type="text" class="form-control" name="Technology"
                            id="Technology" [(ngModel)]="tech_entity.TechnologyName"></td>
                        <td *ngIf="i+1 === EditRowNumber"><input type="text" class="form-control" name="Description"
                            id="Description" [(ngModel)]="tech_entity.TechnologyDescription"> </td>
                        <td *ngIf="i+1 === EditRowNumber"><input bsDatepicker [bsConfig]="bsConfig" type="text"
                            class="form-control" readonly name="BeginDate" id="BeginDate"
                            [(ngModel)]="tech_entity.TechnologyFromDate"> </td>
                        <td *ngIf="i+1 === EditRowNumber"><input bsDatepicker [bsConfig]="bsConfig" type="text"
                            class="form-control" readonly name="EndDate" id="EndDate"
                            [(ngModel)]="tech_entity.TechnologyToDate"> </td>
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline btn-primary"
                              (click)="fnSaveItem(tech_entity,i)" *ngIf="i+1 === EditRowNumber"><i
                                class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(i)"
                              *ngIf="i+1 !== EditRowNumber"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                              *ngIf="i+1 !== EditRowNumber"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td> {{entity.FactoryTechnology.length +1}} </td>
                        <td><input type="text" class="form-control" name="NewTechnology" id="NewTechnology"
                            [(ngModel)]="newTechnology.TechnologyName"></td>
                        <td><input type="text" class="form-control" name="NewDescription" id="NewDescription"
                            [(ngModel)]="newTechnology.TechnologyDescription"></td>
                        <td> <input bsDatepicker [bsConfig]="bsConfig" type="text" class="form-control" readonly
                            name="NewBeginDate" id="NewBeginDate" [(ngModel)]="newTechnology.TechnologyFromDate"></td>
                        <td><input bsDatepicker [bsConfig]="bsConfig" type="text" class="form-control" readonly
                            name="NewEndDate" id="NewEndDate" [(ngModel)]="newTechnology.TechnologyToDate"></td>
                        <td>
                          <button type="button" class="btn  btn-sm btn-outline btn-info pull-right"
                            [disabled]="!newTechnology.TechnologyName " (click)="fnAddItem(newTechnology)"><i
                              class="fa fa-plus"></i> </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="modal-footer"></div>
                </div>
              </div>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
              <dxi-item horizontalAlignment="right">
                <div *dxTemplate>
                  <button type="button" class="btn btn-white pull-right"
                    data-dismiss="modal">{{'Button.Close' | translate}}
                  </button>
                </div>
              </dxi-item>
              <dxi-item itemType="button" horizontalAlignment="right" [buttonOptions]="buttonOptions"></dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </div>
    </div>
  </div>
</div>