<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Factory.label.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a>{{ 'TopNav.Administration' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Factory.label.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> {{ 'Factory.btn.AddFactory' | translate}} </button>
            </div>
            <div class="col-sm-2 text-center">
              <div class="form-group">
                <label for="choose">
                  <small>{{'Factory.label.Showed'| translate}} </small>
                </label>
                <select id='choose' class="form-control" [(ngModel)]="pageSize" (change)="loadInit()">
                  <option selected value=12>12</option>
                  <option value=24>24</option>
                  <option value=36>36</option>
                  <option value=0>All</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <h2 class="total-factory"> {{'Factory.label.TotalFactory' | translate}} {{factory_showed}}
                {{'Factory.' | translate}} </h2>
              <pagination firstText="<<" previousText="<" nextText=">" lastText=">>" [totalItems]="factory_showed" [itemsPerPage]="pageSize" (pageChanged)="onPageChanged($event)">
              </pagination>
            </div>
            <div class="col-sm-4">
              <div class="pull-right">
                <label for="">{{ 'Factory.label.SearchTitle' | translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control input-lg"
                    placeholder="{{ 'Factory.label.SearchText' | translate}}" name="search" [(ngModel)]="keyword"
                    (keyup)="$event.keyCode === 13  && fnSearchLoad()">
                  <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" type="submit" (click)="fnSearchLoad()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- Detail Factories  -->
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of factory">
              <div class="panel panel-info">
                <div class="panel-heading text-center">
                  <a (click)="fnEditSignal(item.FactoryId)"><i class="fa fa-info-circle"></i> {{item.FactoryName}}
                  </a>
                  <button class="btn btn-sm btn-outline pull-right css_btnDel" (click)="fnDelete(item.FactoryId)"><i
                      class="fa fa-times-circle"></i> </button>
                </div>
                <div class="panel-body">
                  <p> <strong>{{ 'Factory.data.FactoryAddress' | translate}}:</strong> {{item.FactoryAddress}}</p>
                  <p> <strong>{{ 'Factory.data.FactoryContact' | translate}}:</strong> {{item.FactoryContact}}</p>
                  <p> <strong>{{ 'Factory.data.ContactPhone' | translate }}:</strong> {{item.FactoryContactPhone }}</p>
                  <p> <strong>{{ 'Factory.data.FactoryType' | translate}}:</strong>
                    {{'Factory.data.FactoryType'+item.FactoryType | translate}}</p>
                  <p> <strong>{{ 'Factory.data.Status' | translate}}:</strong> <span class="label"
                      [ngClass]="{'label-primary': item.Status==1, 'label-danger': item.Status==0}">
                      {{'Factory.data.Status'+item.Status | translate}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Factory.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form action="your-action" (submit)="fnSave()">
          <dx-form #targetForm id="form" [(formData)]="entity">
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryType" [label]="{text: trans.instant('Factory.data.FactoryType')}"
                editorType="dxSelectBox" [editorOptions]="{ displayExpr: 'text' ,valueExpr:'id' ,
                items: [
                { id: 1, text: trans.instant('Factory.data.FactoryType1')}
                ,{ id: 2, text: trans.instant('Factory.data.FactoryType2')}
                ,{ id: 3, text: trans.instant('Factory.data.FactoryType3')}
                ]}"></dxi-item>
              <dxi-item dataField="Status" [label]="{text: trans.instant('Factory.data.Status')}"
                editorType="dxSelectBox" [editorOptions]="statusOption">
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryCode" [label]="{text: trans.instant('Factory.data.FactoryCode')}">
                <dxi-validation-rule type="required" message="{{'Factory.invalid.FactoryCodeNull' | translate}} "></dxi-validation-rule>
                <dxi-validation-rule type="async" ignoreEmptyValue="true" message="Exist Factory Code"  [validationCallback]="validateAsync" message="{{'Factory.invalid.FactoryCodeExist' | translate}}"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="FactoryName" [label]="{text: trans.instant('Factory.data.FactoryName')}">
                <dxi-validation-rule type="required"  message="{{'Factory.invalid.FactoryNameNull' | translate}}"></dxi-validation-rule>
                <dxi-validation-rule type="async" ignoreEmptyValue="true" message="Exist Factory Name"  [validationCallback]="validateAsync" message="{{'Factory.invalid.FactoryNameExist' | translate}}"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryBuiltDate" [label]="{text: trans.instant('Factory.data.FactoryBuiltDate')}"
                editorType="dxDateBox">
                <dxi-validation-rule type="required"  message="{{'Factory.invalid.Valid_FactoryDate' | translate}}"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="FactoryStartDate" [label]="{text: trans.instant('Factory.data.FactoryStartDate')}"
                editorType="dxDateBox"  >
                <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                  [validationCallback]="validateFunction" message="Factory End Date Compare Validate">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryAddress" [label]="{text: trans.instant('Factory.data.FactoryAddress')}">
              </dxi-item>
              <dxi-item dataField="FactoryEndDate" [label]="{text: trans.instant('Factory.data.FactoryEndDate')}"
                editorType="dxDateBox" [editorOptions]="{ disabled: disabledEndDate }">
                <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                  [validationCallback]="validateFunction" message="Factory Start Date Compare Validate">
                </dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="FactoryContact" [label]="{text: trans.instant('Factory.data.FactoryContact')}"
                editorType="dxTextArea"></dxi-item>
              <dxi-item dataField="FactoryContactPhone" [label]="{text: trans.instant('Factory.data.ContactPhone')}"
                [editorOptions]="{ mask: '(+00) 000 000 0099'}">
                <dxi-validation-rule type="required" message="{{'Factory.invalid.Valid_ContactNumber' | translate}}"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item>
              <div *dxTemplate>
                <app-smart-upload #targetSmartUpload [filePath]="pathFile"
                  (entityFile)="this.entity.FactoryFile = $event"></app-smart-upload>
                <hr>
              </div>
            </dxi-item>
            <dxi-item caption="{{'Factory.data.FactoryTechnologyId' | translate}}" contentTemplate="table-resposive">
              <div *dxTemplate="let data of 'table-resposive'">
                <dx-data-grid
                  [dataSource]="entity.FactoryTechnology"
                  allowColumnResizing="true"
                  [showBorders]="true">
                  <dxo-editing 
                    mode="row"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true"
                    [useIcons] ="true">
                  </dxo-editing>
                  <dxi-column width="20%" dataField="TechnologyName" caption="{{ 'Factory.data.TechnologyName' | translate }}">
                    <dxi-validation-rule type="required" message="{{'Factory.invalid.TechnologyNameRequired' | translate }}"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true" [validationCallback]="validateFunction" message="{{'Factory.invalid.TechnologyNameExist' | translate }}"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column width="30%" dataField="TechnologyDescription" caption="{{ 'Factory.data.TechnologyDescription' | translate }}">
                    <dxi-validation-rule type="required" message="{{'Factory.invalid.TechnologyDescriptionRequired' | translate }}"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column width="20%" dataField="TechnologyFromDate"  caption="{{ 'Factory.data.TechnologyFromDate' | translate }}" dataType="date">
                    <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                      [validationCallback]="validateFunction" message="{{'Factory.invalid.TechnologyFromDateCompare' | translate }}">
                    </dxi-validation-rule>
                  </dxi-column>
                  <dxi-column width="20%" dataField="TechnologyToDate"  caption="{{ 'Factory.data.TechnologyToDate' | translate }}" dataType="date">
                    <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                      [validationCallback]="validateFunction" message="{{'Factory.invalid.TechnologyToDateCompare' | translate }}">
                    </dxi-validation-rule>
                  </dxi-column>
                </dx-data-grid>
              </div>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="12" [colSpan]="1">
              <dxi-item itemType="empty" [colSpan]="10"></dxi-item>
              <dxi-item  itemType="button" [colSpan]="1"  [buttonOptions]="buttonOptions2"></dxi-item>
              <dxi-item itemType="button"  [colSpan]="1" [buttonOptions]="buttonOptions"></dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </div>
    </div>
  </div>
</div>