<div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <label>{{ 'Upload.' | translate }} </label>             
        <ngx-dropzone style="min-height: auto;" (change)="onSelect($event)" [expandable]="true" [maxFileSize]="5000*1024">
          <ngx-dropzone-label><i class="fa fa-upload"></i> {{ 'Upload.UploadFileCaption' | translate }} </ngx-dropzone-label>
          <ngx-dropzone-preview class="dropDownCustomClass animated fadeInUp"  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files ;let i = index" [file]="f"   
          [removable]="true" (removed)="fnRemoveFile(f)" 
          (click)="fnDownloadFile(entityFile[i].File.FileLocalName)" >
            <ngx-dropzone-label style="font-size:11px;" ><i class="fa fa-download"></i> {{entityFile[i].File.FileOriginalName}}
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <span class="badge" [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}" >{{uploadReportProgress.message}}</span>
      <div *ngIf="uploadReportProgress.progress>0 && uploadReportProgress.progress<100 " class="progress progress-striped active">
        <div  class="progress-bar progress-bar-success" role="progressbar"
          [style.width.%]="uploadReportProgress.progress">
          {{uploadReportProgress.progress}}%
        </div>
      </div>
    </div>
  </div>