@media screen {

  .footer-report {
    bottom: 20mm;
  }
}
#pageFooter {
  display: table-footer-group;
}

#pageFooter:after {
  counter-increment: page;
  content: counter(page);
}


@media print {
  .footer-report {
    margin-left: 9mm;
    margin-right: 9mm;
    /* position: fixed; */
    bottom: 20mm;
  }
  .header-report{
    margin-top: 4.5mm;
    margin-left: 9mm;
    margin-right: 9mm;
    /* position: fixed; */
  }
  .content-report{
    margin-left: 9mm;
    margin-right: 9mm;
    /* position: fixed; */
    top: 55mm
  }
  #btnPrint{
    display: none;
  }


}
