<div >
  <canvas baseChart
          style="width: 512px; height: 320px"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
          (chartClick)="chartClicked($event)"></canvas>
</div>
<br><br>
<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
    <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
  </li>
</ul>