<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Chức năng</h2>
      <ol class="breadcrumb">
          <li>
              <a routerLink="/pages">Dashboard</a>
          </li>
          <li >
            <a routerLink="/pages/bom">Định mức hóa chất</a>
          </li>
          <li class="active">
              <strong>Danh sách</strong>
          </li>
      </ol>
  </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button  type="button" class="btn btn-primary dim" (click)="showAdd()">
                <i class="fa fa-plus"></i> {{'Button.Add' | translate}}</button>

            </div>

          </div>

          <hr>

          <div class="row">
            <div class="col-lg-12">
              <dx-data-grid
              [dataSource]="dataSource"
              [remoteOperations]="true"  [showBorders]="true" [showRowLines]="true" [allowColumnResizing]="true" [focusedRowEnabled]= "true" style="max-height: 500px;">

              <dxo-selection mode="single"></dxo-selection>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-editing
                mode="popup"
                [allowUpdating]="false"
                [allowDeleting]="false"
                [useIcons] ="true"
                >
               <dxo-popup title="Định mức hóa chất" [showTitle]="true" [width]="700" [height]="600"
                [position]="{ my: 'top', at: 'top', of: 'window' }">
                </dxo-popup>
                <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>

              </dxo-editing>

              <dxi-column dataField="FactoryId" caption="{{'BomFactory.data.FactoryId' | translate}}">
                <dxo-lookup
                  [dataSource]="dataSourceFactory"
                                      displayExpr="FactoryName"
                                      valueExpr="FactoryId">
                   </dxo-lookup>
              </dxi-column>
              <dxi-column  dataField="BomFactoryValidateDate" caption="{{'BomFactory.data.Validate' | translate}}" dataType="date"></dxi-column>
              <dxi-column  dataField="BomFactoryDescription" caption="{{'BomFactory.data.Descriptions' | translate}}"></dxi-column>
              <dxi-column  dataField="CreateDate" dataType="date" caption="{{'Item.data.CreateDate' | translate}}" format="d/M/yyyy HH:mm"></dxi-column>
              <dxi-column  dataField="CreateBy" caption="{{'Item.data.CreateBy' | translate}}"></dxi-column>
              <dxi-column  dataField="ModifyBy" caption="{{'Item.data.ModifyBy' | translate}}"></dxi-column>
              <dxi-column  dataField="ModifyDate" caption="{{'Item.data.ModifyDate' | translate}}" dataType="date" format="d/M/yyyy HH:mm"></dxi-column>
              <dxi-column  dataField="Status" dataType="boolean" caption="{{'Master.data.Status' | translate}}">
                <dxo-lookup [dataSource]="lookupField['Status']" displayExpr="Text" valueExpr="Id"></dxo-lookup>
              </dxi-column>
              <dxi-column type="buttons" [width]="110">
                <dxi-button
                    icon="edit"
                    [visible]="1"
                    [onClick]="showModalBomStage"></dxi-button>
                    <dxi-button
                    icon="trash"
                    [visible]="1"
                    [onClick]="fnDelete"></dxi-button>
            </dxi-column>
              <dxo-paging [pageSize]="25"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
          </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<app-bom-stage #modalChild (loadInit)="loadInit()"></app-bom-stage>
