<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Timeline - version 2</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>Miscellaneous</a>
      </li>
      <li class="active">
        <strong>Timeline v.2</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="text-center float-e-margins p-md">
          <span>Turn on/off color/background or orientation version: </span>
          <a href="#" class="btn btn-xs btn-primary" id="lightVersion">Light version</a>
          <a href="#" class="btn btn-xs btn-primary" id="darkVersion">Dark version</a>
          <a href="#" class="btn btn-xs btn-primary" id="leftVersion">Left version</a>
        </div>
        <div class="ibox-content" id="ibox-content">

          <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">

            <div class="vertical-timeline-block" *ngFor="let item of historyCollection; let i=index">
              <div class="vertical-timeline-icon navy-bg">
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="vertical-timeline-content">
                <h2>{{item.activityName}}</h2>
                <p>{{item.description}}
                </p>
                <a href="#" class="btn btn-sm btn-primary"> More info</a>
                <span class="vertical-date">
                  Today <br>
                  <small>{{item.timestamp}} </small>
                </span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
