<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <div class="text-right nav-mini">
        <a class="navbar-minimalize btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
      </div>
      <ul class="nav metismenu" id="side-menu">
          <li *ngFor="let item of listMenu; let i = index"  [routerLink]="[item.Link]" routerLinkActive="active" [tooltip]="item.NameVi" placement="right"   >
              <a [routerLink]="[item.Link]"><i [class]="item.Icon"></i> <span class="nav-label"> {{item.NameVi}} </span></a>
          </li>
      </ul>

  </div>
</nav>
