<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>{{ 'Item.Breadcrumb' | translate }}</h2>
      <ol class="breadcrumb">
          <li>
              <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
          </li>
          <li class="active">
              <a [routerLink]="['/pages/category/item']">{{ 'Item.Breadcrumb' | translate }}</a>
          </li>
          <li class="active">
              <strong>{{ 'Item.Information' | translate }}</strong>
          </li>
      </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <form id="myform" action="your-action" (submit)="fnSave()">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info-circle"></i>
                                {{'Item.label.Information' | translate }}</a></li>
                        <li><a data-toggle="tab" href="#tab-2"  class=""><i
                                    class="fa fa-industry"></i> {{'Item.label.Factory' | translate }}</a></li>
                        <li><a data-toggle="tab" href="#tab-3" ><i
                                    class="fa fa-list-ul" ></i> {{'Item.label.Property' | translate }}</a></li>
                        <li><a data-toggle="tab" href="#tab-4"><i
                                    class="fa fa-cube" ></i>{{'Item.label.Package' | translate }}</a></li>
                        <li><a data-toggle="tab"  href="#tab-5"><i class="fa fa-file"></i>
                                {{ 'Upload.' | translate }}</a></li>
                        <li><a data-toggle="tab" href="#tab-6"><i class="fa fa-file"></i>
                                {{ 'Upload.Image' | translate }}</a></li>
                    </ul>


                        <div class="tab-content">

                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="dx-fieldset">
                                      <div class="dx-fieldset-column">
                                        <div class="dx-field">
                                          <div class="dx-field-label">{{'Item.data.ItemNo' | translate }} <span class="dx-field-item-required-mark"> *</span>  </div>
                                          <div class="dx-field-value">
                                            <dx-text-box mode="text" [(value)]="entity.ItemCode">
                                              <dx-validator>
                                                <dxi-validation-rule message="Yêu cầu nhập mã vật tư" type="required"></dxi-validation-rule>
                                                <dxi-validation-rule message="Mã vật tư đã tồn tại" type="async" ignoreEmptyValue="true"
                                                  [validationCallback]="validateAsync_ItemCode"></dxi-validation-rule>
                                              </dx-validator>
                                            </dx-text-box>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="dx-fieldset-column">
                                        <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemName' | translate }} <span class="dx-field-item-required-mark"> *</span>  </div>
                                            <div class="dx-field-value">
                                              <dx-text-box mode="text" [(value)]="entity.ItemName"
                                                placeholder="{{'Item.data.ItemName' | translate }} ">
                                                <dx-validator >
                                                  <dxi-validation-rule message="Vui lòng nhập tên vật tư" type="required"></dxi-validation-rule>
                                                </dx-validator>
                                              </dx-text-box>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemUnitId' | translate }} <span class="dx-field-item-required-mark"> *</span>  </div>
                                            <div class="dx-field-value">
                                              <dx-select-box [(value)]="entity.ItemUnitId" [dataSource]="dataSourceUnit" displayExpr="UnitName"
                                                valueExpr="UnitId" searchEnabled="true"  searchExpr="UnitName">
                                                <dx-validator>
                                                  <dxi-validation-rule message="Vui lòng chọn đơn vị tính" type="required"></dxi-validation-rule>
                                                  <dxi-validation-rule message="Không được trùng đơn vị tính trong tab đóng gói" [validationCallback]="validationUnitCallback" type="custom"></dxi-validation-rule>
                                                </dx-validator>
                                              </dx-select-box>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                              <div class="dx-field-label">{{'Item.data.ItemPrintName' | translate }} <span class="dx-field-item-required-mark"> *</span>  </div>
                                              <div class="dx-field-value">
                                                <dx-text-box mode="text" [(value)]="entity.ItemPrintName"
                                                  placeholder="{{'Item.data.ItemPrintName' | translate }}">
                                                  <dx-validator >
                                                    <dxi-validation-rule message="Vui lòng nhập tên in" type="required"></dxi-validation-rule>
                                                  </dx-validator>
                                                </dx-text-box>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemManufactureCountry' | translate }} </div>
                                            <div class="dx-field-value">
                                                <dx-text-box mode="text" [(value)]="entity.ItemManufactureCountry"
                                                  placeholder="{{'Item.data.ItemManufactureCountry' | translate }}">
                                                </dx-text-box>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.ItemManufactureYear' | translate }} </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box mode="number" [(value)]="entity.ItemManufactureYear"
                                                    placeholder="{{'Item.data.ItemManufactureYear' | translate }}">
                                                    <dx-validator >
                                                      <dxi-validation-rule message="Năm bạn nhập không hợp lệ" type="pattern" [pattern]="patternYear"></dxi-validation-rule>
                                                    </dx-validator>
                                                    </dx-text-box>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemModel' | translate }} </div>
                                            <div class="dx-field-value">
                                                <dx-text-box mode="text" [(value)]="entity.ItemModel"
                                                  placeholder="{{'Item.data.ItemModel' | translate }}">
                                                </dx-text-box>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.ItemSerial' | translate }} </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box mode="text" [(value)]="entity.ItemSerial"
                                                    placeholder="{{'Item.data.ItemSerial' | translate }}">
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemLength' | translate }} </div>
                                            <div class="dx-field-value">
                                                <dx-text-box mode="text" [(value)]="entity.ItemLength"
                                                  placeholder="{{'Item.data.ItemLength' | translate }}">
                                                </dx-text-box>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.ItemWidth' | translate }} </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box mode="text" [(value)]="entity.ItemWidth"
                                                    placeholder="{{'Item.data.ItemWidth' | translate }}">
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemHeight' | translate }} </div>
                                            <div class="dx-field-value">
                                                <dx-text-box mode="text" [(value)]="entity.ItemHeight"
                                                  placeholder="{{'Item.data.ItemHeight' | translate }}">
                                                </dx-text-box>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.ItemWeight' | translate }} </div>
                                                <div class="dx-field-value">
                                                    <dx-text-box mode="text" [(value)]="entity.ItemWeight"
                                                    placeholder="{{'Item.data.ItemWeight' | translate }}">
                                                    </dx-text-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                            <div class="dx-field-label">{{'Item.data.ItemDescription' | translate }} </div>
                                            <div class="dx-field-value">
                                                <dx-text-area [(value)]="entity.ItemDescription"
                                                placeholder="{{'Item.data.ItemDescription' | translate }}"></dx-text-area>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.ItemTypeId' | translate }}<span class="dx-field-item-required-mark"> *</span>   </div>
                                                <div class="dx-field-value">
                                                    <dx-select-box [(value)]="entity.ItemTypeId" [dataSource]="dataSourceItemType" displayExpr="ItemTypeName"
                                                        valueExpr="ItemTypeId" searchEnabled="true"  searchExpr="ItemTypeName" (onValueChanged)="itemTypeChange($event)">
                                                        <dx-validator>
                                                        <dxi-validation-rule message="Vui lòng chọn loại vật tư" type="required"></dxi-validation-rule>
                                                        </dx-validator>
                                                    </dx-select-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dx-fieldset">
                                        <div class="dx-fieldset-column">
                                            <div class="dx-field"></div>
                                        </div>
                                        <div class="dx-fieldset-column">
                                          <div class="dx-field">
                                                <div class="dx-field-label">{{'Item.data.Status' | translate }}  </div>
                                                <div class="dx-field-value">
                                                    <dx-switch [value]="entity.Status" (onValueChanged)="entity.Status=  entity.Status==1? 0: 1" class="pull-left">
                                                    </dx-switch>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                  </div>
                            </div>


                            <div id="tab-2" class="tab-pane">
                              <div class="panel-body">
                                  <fieldset class="form-horizontal">
                                      <div class="form-group">
                                          <div class="col-sm-8">
                                              <div class="row">
                                                  <div class="form-group">
                                                      <div class="col-sm-12 pl-2">

                                                        <dx-data-grid
                                                        [dataSource]="entity.ItemFactory"
                                                        keyExpr="ItemFactoryId"
                                                        (onContentReady) ="enableActiveTab()"
                                                        [remoteOperations]="true" height="auto"  showBorders="true">

                                                        <dxo-editing
                                                          [allowAdding]="true"
                                                          [allowUpdating]="true"
                                                          [allowDeleting]="true"
                                                          [useIcons] ="true"
                                                          >
                                                          <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                                                        </dxo-editing>
                                                        <dxi-column dataField="FactoryId" caption="{{'Item.datacolumn.FactoryId' | translate }} (*)" >
                                                          <dxo-lookup
                                                              [dataSource]="dataSourceFactory"
                                                              displayExpr="FactoryName"
                                                              valueExpr="FactoryId">
                                                          </dxo-lookup>
                                                          <dxi-validation-rule
                                                              type="custom" [validationCallback]="validationFactoryCallback"  message="Không được trùng tên nhà máy">
                                                          </dxi-validation-rule>
                                                          <dxi-validation-rule type="required"></dxi-validation-rule>
                                                        </dxi-column>
                                                        <dxi-column dataField="IntergrationCode" caption="{{'Item.datacolumn.IntergrationCode' | translate }}">
                                                        </dxi-column>
                                                    </dx-data-grid>
                                                      </div>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>

                                  </fieldset>

                              </div>
                          </div>
                          <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12 pl-2">
                                                      <!-- (onRowUpdating)="onRowUpdating($event)"
                                                      (onCellPrepared)="onCellPrepared($event)" -->
                                                      <!-- (onContentReady) ="enableActiveTab($event)" -->
                                                      <dx-data-grid
                                                      [dataSource]="entity.ItemProperty"
                                                      keyExpr="ItemPropertyId"
                                                      (onContentReady) ="enableActiveTab()"
                                                      [remoteOperations]="true" height="auto"  showBorders="true">

                                                      <dxo-editing
                                                        [allowAdding]="true"
                                                        [allowUpdating]="true"
                                                        [allowDeleting]="true"
                                                        [useIcons] ="true"
                                                        >
                                                        <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                                                      </dxo-editing>
                                                      <dxi-column dataField="ItemTypePropertyId" caption="{{'Item.datacolumn.ItemTypePropertyId' | translate }} (*)" >
                                                        <dxo-lookup
                                                            [dataSource]="dataSourceItemTypeProperty"
                                                            displayExpr="ItemTypePropertyName"
                                                            valueExpr="ItemTypePropertyId">
                                                        </dxo-lookup>
                                                        <dxi-validation-rule
                                                        type="custom" [validationCallback]="validationItemPropertyCallback"  message="Không được trùng tên thuộc tính">
                                                          </dxi-validation-rule>
                                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                                      </dxi-column>
                                                      <dxi-column dataField="ItemTypePropertyValue" caption="{{'Item.datacolumn.ItemTypePropertyValue' | translate }} (*)">
                                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                                      </dxi-column>
                                                  </dx-data-grid>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                          <div class="panel-body">
                              <div class="row">
                                  <div class="col-sm-12">
                                    <dx-data-grid
                                    [dataSource]="entity.ItemPackage"
                                    keyExpr="ItemPackageId"
                                    (onContentReady) ="enableActiveTab()"
                                    (onRowValidating)="onRowItemPackageValidating($event)"
                                    [remoteOperations]="true" height="auto"  showBorders="true">

                                    <dxo-editing
                                      [allowAdding]="true"
                                      [allowUpdating]="true"
                                      [allowDeleting]="true"
                                      [useIcons] ="true"
                                      >
                                      <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                                    </dxo-editing>
                                    <dxi-column dataField="ItemPackageUnitId" caption="{{'Item.datacolumn.ItemPackageUnitId' | translate }} (*)" >
                                      <dxo-lookup
                                          [dataSource]="dataSourceUnit"
                                          displayExpr="UnitName"
                                          valueExpr="UnitId">
                                      </dxo-lookup>
                                      <dxi-validation-rule
                                         type="custom" [validationCallback]="validationItemPackageCallback">
                                       </dxi-validation-rule>
                                      <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="ItemPackageCoefficient" caption="{{'Item.datacolumn.ItemPackageCoefficient' | translate }} (*)">
                                      <dxi-validation-rule type="required" ></dxi-validation-rule>
                                      <dxi-validation-rule
                                        type="custom" [validationCallback]="validationNumberCallback"  message=">=0">
                                    </dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="ItemPackageLength"  dataType="number"   caption="{{'Item.datacolumn.ItemPackageLength' | translate }}">
                                      <dxi-validation-rule
                                        type="custom" [validationCallback]="validationNumberCallback"  message=">=0">
                                      </dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="ItemPackageWidth" dataType="number"  caption="{{'Item.datacolumn.ItemPackageWidth' | translate }}">
                                      <dxi-validation-rule
                                      type="custom" [validationCallback]="validationNumberCallback"  message=">=0">
                                    </dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="ItemPackageHeight" dataType="number"  caption="{{'Item.datacolumn.ItemPackageHeight' | translate }} ">
                                      <dxi-validation-rule
                                        type="custom" [validationCallback]="validationNumberCallback"  message=">=0">
                                      </dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="ItemPackageWeight" dataType="number"  caption="{{'Item.datacolumn.ItemPackageWeight' | translate }}">
                                      <dxi-validation-rule
                                        type="custom" [validationCallback]="validationNumberCallback"  message=">=0">
                                      </dxi-validation-rule>
                                    </dxi-column>
                                </dx-data-grid>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <ngx-dropzone (change)="onSelect($event,false)" [expandable]="true"
                                    [maxFileSize]="5000*1024" [id]="'files'">
                                    <ngx-dropzone-label>{{ 'Upload.UploadFileCaption' | translate }}</ngx-dropzone-label>
                                    <ngx-dropzone-preview class="animated fadeInUp"
                                        ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of listFiles ;let i = index" [removable]="true"
                                        (removed)="onRemove(f,false)" (click)="downloadFile(f.File.FileLocalName)">
                                        <ngx-dropzone-label style="font-size:11px;"> {{f.File.FileOriginalName}}
                                        </ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="badge"
                                        [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}">{{uploadReportProgress.message}}</span>
                                    <div *ngIf="uploadReportProgress.progress!=100"
                                        class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                            [style.width.%]="uploadReportProgress.progress">
                                            {{uploadReportProgress.progress}}%
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </div>
                      <div id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <ngx-dropzone (change)="onSelect($event,true)" [expandable]="true"
                                    [maxFileSize]="5000*1024" [accept]="'image/*'" [id]="'images'">
                                    <ngx-dropzone-label>{{ 'Upload.UploadImageCaption' | translate }}</ngx-dropzone-label>
                                    <ngx-dropzone-preview class="animated fadeInUp"
                                        ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of listImages ;let i = index" [file]="f" [removable]="true"
                                        (removed)="onRemove(f,true)" (click)="downloadFile(f.File.FileLocalName)">
                                        <ngx-dropzone-label style="font-size:11px;"> {{f.File.FileOriginalName}}
                                        </ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="badge"
                                        [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}">{{uploadReportProgress.message}}</span>
                                    <div *ngIf="uploadReportProgress.progress!=100"
                                        class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                            [style.width.%]="uploadReportProgress.progress">
                                            {{uploadReportProgress.progress}}%
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </div>
                      </div>
                </div>
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="row">
                        <div class="col-sm-6">
                            <dx-validation-summary [elementAttr]="{ form: 'myform'  }" id="summary"></dx-validation-summary>
                          </div>
                          <div class="col-sm-6">
                            <div class="pull-right">
                              <dx-button stylingMode="text" template="btnTemplate" class="pull-left">
                                <div *dxTemplate="let data of 'btnTemplate'">
                                  <button class="btn btn-outline dim pull-right" [routerLink]="['/pages/category/item']"><i
                                    class="fa fa-chevron-circle-left"></i> {{'Button.Back' | translate}} </button>
                                </div>
                              </dx-button>
                              <dx-button stylingMode="text" [useSubmitBehavior]="true" template="btnTemplate" [disabled]="disabledSave" class="pull-left">
                                <div *dxTemplate="let data of 'btnTemplate'">
                                  <button type="button" class="btn btn-primary" [ladda]="laddaSubmitLoading"><i
                                    class="fa fa-plus"></i> {{'Button.Save' | translate}}</button>
                                </div>
                              </dx-button>
                              <div class="clearfix"></div>
                            </div>
                            
                           
                          </div>
                    </div>

                </div>
            </form>
        </div>

    </div>

</div>


