<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'BomFactory.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'BomFactory.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i>{{'BomFactory.AddButton' | translate}}</button>
            </div>
          </div>
          <div class="row">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>
                  <th hidden="true">{{'BomFactory.BomFactoryId' | translate}}</th>
                  <th>{{'BomFactory.Validate' | translate}}</th>
                  <th>{{'BomFactory.Descriptions' | translate}}</th>
                  <th>{{'BomFactory.CreateBy' | translate}}</th>
                  <th>{{'BomFactory.CreateDate' | translate}}</th>
                  <th>{{'BomFactory.ModifyBy' | translate}}</th>
                  <th>{{'BomFactory.ModifyDate' | translate}}</th>
                  <th>{{'BomFactory.Status' | translate}}</th>
                  <th>{{'Button.Action' | translate}}</th>
                </tr>
              </thead>
              <tbody *ngIf="BomFactorys?.length != 0">
                <tr *ngFor="let item of BomFactorys">
                  <td hidden="true" style="text-align: left"> {{item.BomFactoryID</td>
                  <td style="text-align: left">{{item.Validate}}</td>
                  <td style="text-align: left">{{item.Descriptions}}</td>
                  <td style="text-align: left"> {{item.CreateBy}}</td>
                  <td style="text-align: left">{{item.CreateDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left"> {{item.ModifyBy}}</td>
                  <td style="text-align: left">{{item.ModifyDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left">{{item.Status}}</td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger" (click)="fnDelete(item.BomFactoryID)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success" (click)="fnUpdate(item.BomFactoryID)"
                      data-toggle="modal" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="BomFactorys?.length == 0">
                <tr>
                  <td colspan="9" class="no-data-available">{{'messg.datatable.zeroRecords'  | translate}}</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal Bom Factory -->
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" (click)="loadInit()" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'BomFactory.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm" name="myForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.FactoryID' | translate }} : </label>
                <!-- <input type="text" name="FactoryID" id="FactoryID" class="form-control" placeholder="{{'BomFactory.InputFactoryID' | translate}}"
                  [(ngModel)]="entity.FactoryID" [ngClass]="{ 'is-invalid': existName }" required> -->
                <!-- <div *ngIf="existName" style="color: red;">{{ 'BomFactory.ErrorExistFactoryID' | translate }}</div> -->
                <ng-select class="custom" [items]="factories" bindLabel="FactoryName" bindValue="FactoryID"
                  placeholder="{{'BomFactory.placeholdercolumn.FactoryID' | translate }}" name="FactoryID"
                  [(ngModel)]="entity.FactoryID" required>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.Validate' | translate }} : </label>
                <input type="text" name="Validate" id="Validate" class="form-control" bsDatepicker readonly
                  [bsConfig]="bsConfig" [(ngModel)]="entity.Validate"
                  placeholder="{{ 'BomFactory.placeholder.Validate' | translate }}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.Descriptions' | translate }} : </label>
                <textarea type="text" name="Descriptions" id="Descriptions" class="form-control"
                  placeholder="{{'BomFactory.InputDescriptions' | translate}}" rows="2"
                  [(ngModel)]="entity.Descriptions" [ngClass]="{ 'is-invalid': existName }" required></textarea>
                <!-- <div *ngIf="existName" style="color: red;">{{ 'BomFactory.ErrorExistDescriptions' | translate }}</div> -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'BomFactory.data.Status' | translate }} :</label>
                <div class="switch">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"
                      (click)="onSwitchStatus()" [checked]="entity.Status==1 ? true : null">
                    <label class="onoffswitch-label" for="status">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <!-- table Stage -->
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="5%">#</th>
                    <th width="35%">{{ 'Stage.data.StageID' | translate }}</th>
                    <th width="15%">{{ 'Stage.data.OrderNumber' | translate }}</th>
                    <th width="15%">{{ 'Stage.data.Sequence' | translate }}</th>
                    <th width="15%">{{ 'Stage.data.Description' | translate }}</th>
                    <th width="10%">{{ 'Button.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="animated fadeInRight" *ngFor="let item of entity.BomStage; let i = index">
                    <td> {{i+1}} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.StageName}} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.OrderNumber }} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.Sequence }} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.Description }} </td>

                    <td *ngIf="i+1 === editRowId">
                      <ng-select class="custom" [items]="stages" bindLabel="StageName" bindValue="StageId"
                        placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="outBomStageID"
                        (change)="newBomStage.StageName =  $event? $event.StageName :'' " required
                        [(ngModel)]="bomStage.BomStageId">
                      </ng-select>
                    </td>
                    <td *ngIf="i+1 === editRowId"><input type="number" class="form-control" name="outOrderNumber"
                        id="outOrderNumber" [(ngModel)]="bomStage.OrderNumber"> </td>
                    <td *ngIf="i+1 === editRowId"><input type="text" class="form-control" name="outSequence"
                        id="outSequence" [(ngModel)]="bomStage.Sequence">
                    </td>
                    <td *ngIf="i+1 === editRowId"><input type="text" class="form-control" name="outDescription"
                        id="outDescription" [(ngModel)]="bomStage.Description"> </td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline btn-primary"
                          (click)="validateStage(bomStage)" *ngIf="i+1 === editRowId"><i
                            class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditStage(i)"
                          *ngIf="i+1 !== editRowId"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteStage(i)"
                          *ngIf="i+1 !== editRowId"><i class="fa fa-trash"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-default" data-toggle="modal"
                          data-target="#myModal2" (click)="showBomModal(i)" *ngIf="i+1 !== editRowId"><i
                            class="fa fa-plus"></i></button>
                      </div>
                    </td>
                  </tr>
                  <!-- new record -->
                  <tr>
                    <td> {{entity.BomStage.length +1}} </td>
                    <td>
                      <ng-select class="custom" [items]="stages" bindLabel="StageName" bindValue="StageId"
                        placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="newBomStageID"
                        id="newBomStageID" (change)="newBomStage.StageName = $event? $event.StageName :''"
                        [(ngModel)]="newBomStage.BomStageId" required>
                      </ng-select>
                    </td>
                    <td><input type="number" class="form-control" name="newOrderNumber" id="newOrderNumber"
                        [(ngModel)]="newBomStage.OrderNumber"></td>
                    <td>
                      <div class="switch">
                        <div class="onoffswitch">
                          <input type="checkbox" class="onoffswitch-checkbox" name="newSequence" id="newSequence"
                            [(ngModel)]="newBomStage.Sequence" (click)="onSwitchSequence()"
                            [checked]="newBomStage.Sequence">
                          <label class="onoffswitch-label" for="newSequence">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </td>
                    <td><input type="text" class="form-control" name="newDescription" id="newDescription"
                        [(ngModel)]="newBomStage.Description"></td>
                    <td>
                      <button type="button" class="btn  btn-sm btn-outline btn-info pull-right"
                        [disabled]="!newBomStage.BomStageId " (click)="fnAddStage()"><i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"
          (click)="loadInit()">{{'BomFactory.CloseButton' | translate}}</button>
        <button type="button" *ngIf="ACTION_STATUS=='update'" class="btn btn-danger hide"
          (click)="fnDelete(entity.BomFactoryID)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-primary" (click)="fnSave()" [ladda]="laddaSubmitLoading"
          [disabled]="myForm.invalid">{{'BomFactory.SaveButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal định mức hóa chất -->
<div class="modal inmodal" id="myModal2" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" (click)="loadInit()" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'BomFactory.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm2="ngForm" name="myForm2">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.BomItem.ItemId' | translate }} : </label>
                <ng-select class="custom" [items]="itemsBuffer" [virtualScroll]="true" [loading]="loading"
                  appendTo="body" (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" bindLabel="ItemName"
                  bindValue="ItemId" autofocus placeholder="{{'BomFactory.BomItem.ItemId' | translate}}"
                  [(ngModel)]="inBomItem.ItemId" name="inItemId" id="inItemId" required>
                  <ng-template ng-header-tmp>
                    <small class="form-text text-muted">Loaded {{itemsBuffer.length}} of {{items.length}}</small>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.BomItem.UnitId' | translate }} : </label>
                <ng-select class="custom" [items]="units" bindLabel="UnitName" bindValue="UnitId"
                  placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="inUnitId" required
                  [(ngModel)]="inBomItem.UnitId">
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'BomFactory.Quantity' | translate }} : </label>
                <input type="number" name="Quantity" id="Quantity" class="form-control"
                  placeholder="{{'BomFactory.BomItem.Quantity' | translate}}" [(ngModel)]="inBomItem.Quantity"
                  [ngClass]="{ 'is-invalid': existName }" required>
              </div>
            </div>
          </div>
          <hr>
          <!-- table outBomItem -->
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="5%">#</th>
                    <th width="35%">{{ 'BomFactory.BomItem.ItemId' | translate }}</th>
                    <th width="35%">{{ 'BomFactory.BomItem.UnitId' | translate }}</th>
                    <th width="15%">{{ 'BomFactory.BomItem.Quantity' | translate }}</th>
                    <th width="10%">{{ 'Button.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="animated fadeInRight" *ngFor="let item of outBomItems; let i = index">
                    <td> {{i+1}} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.ItemName}} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.UnitName }} </td>
                    <td *ngIf="i+1 !== editRowId">{{item.Quantity }} </td>

                    <td *ngIf="i+1 === editRowId">
                      <ng-select class="custom" [items]="items" bindLabel="ItemName" bindValue="ItemId"
                        placeholder="{{'BomFactory.BomItem.ItemId' | translate}}" name="BomStageID"
                        (change)="outBomItem.ItemName = $event? $event.ItemName : ''" id="BomStageID"
                        [(ngModel)]="outBomItem.ItemId" required>
                      </ng-select>
                    </td>
                    <td *ngIf="i+1 === editRowId">
                      <ng-select class="custom" [items]="units" bindLabel="UnitName" bindValue="UnitId"
                        placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="outUnitId"
                        required [(ngModel)]="outBomItem.UnitId"
                        (change)="outBomItem.UnitName =  $event? $event.UnitName :'' ">
                      </ng-select>
                      <input type="number" class="form-control" name="OrderNumber" id="OrderNumber"
                        [(ngModel)]="outBomItem.UnitId">
                    </td>
                    <td *ngIf="i+1 === editRowId"><input type="text" class="form-control" name="Sequence" id="Sequence"
                        [(ngModel)]="outBomItem.Quantity"> </td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline btn-primary"
                          (click)="validateOutBomItem(outBomItem)" *ngIf="i+1 === editRowId"><i
                            class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditOutBomItem(i)"
                          *ngIf="i+1 !== editRowId"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteOutBomItem(i)"
                          *ngIf="i+1 !== editRowId"><i class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                  <!-- new record -->
                  <tr>
                    <td> {{bomItems.length +1}} </td>
                    <td>
                      <!-- //[typeahead]="input$" -->
                      <ng-select class="custom" [items]="itemsBuffer" [virtualScroll]="true" [loading]="loading"
                        (change)="newBomItem.ItemName =   $event? $event.ItemName :''" appendTo="body" 
                        (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" bindLabel="ItemName"
                        [searchFn]="customSearchFn"
                        bindValue="ItemID" autofocus placeholder="{{'BomFactory.BomItem.ItemId' | translate}}"
                        [(ngModel)]="newBomItem.ItemId" name="ItemId" id="ItemId" required>
                        <ng-template ng-header-tmp>
                          <small class="form-text text-muted">Loaded {{itemsBuffer.length}} of {{items.length}}</small>
                        </ng-template>
                      </ng-select>

                    </td>
                    <td>
                      <ng-select class="custom" [items]="units" bindLabel="UnitName" bindValue="UnitId"
                        placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="outUnitId"
                        required [(ngModel)]="newBomItem.UnitId"
                        (change)="newBomItem.UnitName =  $event? $event.UnitName :'' ">
                      </ng-select>
                    </td>
                    <td><input type="text" class="form-control" name="newQuantity" id="newQuantity"
                        [(ngModel)]="newBomItem.Quantity"> </td>
                    <td>
                      <button type="button" class="btn  btn-sm btn-outline btn-info pull-right"
                        [disabled]="!newBomItem.ItemId || !newBomItem.UnitId || !newBomItem.Quantity"
                        (click)="fnAddOutBomItem()"><i class="fa fa-plus"></i> </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal" data-toggle="modal" data-target="#myModal4"
          (click)="fnReset()">{{'BomFactory.CloseButton' | translate}}</button>
        <button type="button" class="btn btn-primary" [ladda]="laddaSubmitLoading" data-toggle="modal"
          data-target="#myModal4" data-dismiss="modal"
          (click)="fnSaveBomItem()">{{'BomFactory.SaveButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>