
<div class="modal inmodal" id="myContractModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg "  style="width: 80%;">
    <div class="modal-content animated fadeIn" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Contract.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #mySubForm="ngForm">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.ContractNo' | translate }} *: </label>
                <input autocomplete="off" type="text" name="ContractNo" id="ContractNo" [(ngModel)]="entity.ContractNo" class="form-control" placeholder="{{ 'Contract.placeholder.ContractNo' | translate }}" 
                 [ngClass]="{ 'is-invalid':  invalid.Existed_ContractNo }" required>
                  <div *ngIf="invalid.Existed_ContractNo" style="color: red;">{{ 'Contract.invalid.Existed_ContractNo' | translate }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.ContractType' | translate }} *:</label>
              <select autocomplete="off" class="select2_demo_3 form-control" [(ngModel)]="entity.ContractType" name="ContractType" id="ContractType"  required>
                <option selected value=1> {{ 'Contract.data.ContractType1' | translate }} </option>
                <option value=2> {{ 'Contract.data.ContractType2' | translate }} </option>
              </select>
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.SignDate' | translate }} :</label>
                <input type="text" name="SignDate" id="SignDate" class="form-control" placeholder="{{ 'Contract.placeholder.SignDate' | translate }}" 
                  bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.SignDate">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.EffectiveDate' | translate }} :</label>
              <input type="text" name="EffectiveDate" id="EffectiveDate" class="form-control" placeholder="{{ 'Contract.placeholder.EffectiveDate' | translate }}" 
                bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.EffectiveDate">
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.StandardType' | translate }} *: </label>
                <select autocomplete="off" class="select2_demo_3 form-control" [(ngModel)]="entity.StandardType" name="StandardType" id="StandardType"  placeholder="Select" required>
                  <option selected value=1 > {{ 'Contract.data.StandardType1' | translate }} </option>
                  <option value=2> {{ 'Contract.data.StandardType2' | translate }} </option>
                </select>

              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.EndDate' | translate }} :</label>
              <input type="text" name="EndDate" id="EndDate" class="form-control" placeholder="{{ 'Contract.placeholder.EndDate' | translate }}" 
                bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.EndDate">
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.Ratio' | translate }} *: </label>
                <input autocomplete="off" type="text" name="Ratio" id="Ratio" [(ngModel)]="entity.Ratio" class="form-control" placeholder="{{ 'Contract.placeholder.Ratio' | translate }}" >

              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.Description' | translate }} :</label>
              <input autocomplete="off" type="text" name="Description" id="Description" [(ngModel)]="entity.Description" class="form-control" placeholder="{{ 'Contract.placeholder.Description' | translate }}" >
              
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6"></div>  
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Contract.data.IsIntergration' | translate }} :</label>

                <span><i class="fa fa-lg" (click)="entity.IsIntergration= !entity.IsIntergration"  [ngClass]="{'fa-check-square-o text-info': entity.IsIntergration==true, 'fa-square-o':entity.IsIntergration==false}" ></i> </span>

                
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.Breach' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="">#</th>
                        <th width="">{{ 'Contract.data.ContractBreach.BreachType' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractBreach.ResolveType' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractBreach.Times' | translate }}</th>
                        <th width="">{{ 'Button.Action' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
    
                      <tr class="animated fadeInRight" *ngFor="let item of entity.ContractBreach; let i = index"
                        [@simpleFadeAnimation]="'in'">
                        <td> {{i+1}} </td>
                        <!-- TABLE -->
                        <td *ngIf="i+1 !== EditRowID">{{ 'Contract.data.ContractBreach.BreachType'+item.BreachType | translate }} </td>
                        <td *ngIf="i+1 !== EditRowID">{{ 'Contract.data.ContractBreach.ResolveType'+item.ResolveType | translate }} </td>
                        <td *ngIf="i+1 !== EditRowID">{{item.Times}} </td>
                        <!-- FORM -->
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="text" class="form-control" name="BreachType" [(ngModel)]="subEntity_ContractBreach.BreachType"></td>
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="text" class="form-control" name="ResolveType" [(ngModel)]="subEntity_ContractBreach.ResolveType"></td>
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="number" class="form-control" name="Times" [(ngModel)]="subEntity_ContractBreach.Times"></td>
                        <!-- BUTTON -->
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline btn-primary"
                              [disabled]="!locationEntity.WarehouseLocationCode || !locationEntity.WarehouseLocationName"
                              (click)="validateItem(locationEntity)" *ngIf="i+1 === EditRowID"><i
                                class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(item.ContractID)"
                            data-toggle="modal" data-target="#myContractModal"
                              *ngIf="i+1 !== EditRowID"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                              *ngIf="i+1 !== EditRowID"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td> {{entity.ContractBreach.length+1}} </td>
                        <td> <input autocomplete="off" type="text" class="form-control"    name="newBreachType" [(ngModel)]="newEntity_ContractBreach.BreachType"> </td>
                        <td> <input autocomplete="off" type="text" class="form-control"    name="newResolveType" [(ngModel)]="newEntity_ContractBreach.ResolveType"> </td>
                        <td> <input autocomplete="off" type="number" class="form-control"  name="newTimes" [(ngModel)]="newEntity_ContractBreach.Times"> </td>
                        <td>
                          <button type="button" class="btn  btn-sm btn-outline btn-info pull-right" ><i
                              class="fa fa-plus" (click)="fnAddItemBreach(newEntity_ContractBreach)"></i> </button>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>







                </div>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.Price' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="">#</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Ratio' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Currency' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Price' | translate }}</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Tax' | translate }}</th>
                        <th width="">{{ 'Button.Action' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
    
                      <tr class="animated fadeInRight" *ngFor="let item of entity.ContractPrice; let i = index"
                        [@simpleFadeAnimation]="'in'">
                        <td> {{i+1}} </td>
                        <!-- TABLE -->
                        <td *ngIf="i+1 !== EditRowID">{{item.Ratio}} </td>
                        <td *ngIf="i+1 !== EditRowID">{{item.Currency}} </td>
                        <td *ngIf="i+1 !== EditRowID">{{item.Price}} </td>
                        <td *ngIf="i+1 !== EditRowID">{{item.Tax}} </td>
                        <!-- FORM -->
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="number" class="form-control" name="Ratio" [(ngModel)]="subEntity_ContractPrice.Ratio"></td>
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="text" class="form-control" name="Currency" [(ngModel)]="subEntity_ContractPrice.Currency"></td>
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="number" class="form-control" name="Price" [(ngModel)]="subEntity_ContractPrice.Price"></td>
                        <td *ngIf="i+1 === EditRowID">
                          <input autocomplete="off" type="number" class="form-control" name="Tax" [(ngModel)]="subEntity_ContractPrice.Tax"></td>
                        <!-- BUTTON -->
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline btn-primary"
                              [disabled]="!locationEntity.WarehouseLocationCode || !locationEntity.WarehouseLocationName"
                              (click)="validateItem(locationEntity)" *ngIf="i+1 === EditRowID"><i
                                class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(item.ContractID)"
                            data-toggle="modal" data-target="#myContractModal"
                              *ngIf="i+1 !== EditRowID"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                              *ngIf="i+1 !== EditRowID"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td> {{entity.ContractPrice.length+1}} </td>
                        <td> <input autocomplete="off" type="number" class="form-control" name="newRatio" [(ngModel)]="newEntity_ContractPrice.Ratio"> </td>
                        <td> <input autocomplete="off" type="text" class="form-control" name="newCurrency" [(ngModel)]="newEntity_ContractPrice.Currency"> </td>
                        <td> <input autocomplete="off" type="number" class="form-control" name="newPrice" [(ngModel)]="newEntity_ContractPrice.Price"> </td>
                        <td> <input autocomplete="off" type="number" class="form-control" name="newTax" [(ngModel)]="newEntity_ContractPrice.Tax"> </td>
                        <td>
                          <button type="button" class="btn  btn-sm btn-outline btn-info pull-right" ><i
                              class="fa fa-plus" (click)="fnAddItemPrice(newEntity_ContractPrice)"></i> </button>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>

                </div>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.File' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label>{{ 'Upload.' | translate }} </label>
                      <ngx-dropzone style="min-height: auto;" (change)="onSelect($event)" [expandable]="true"
                        [maxFileSize]="5000*1024">
                        <ngx-dropzone-label><i class="fa fa-upload"></i> {{ 'Upload.UploadFileCaption' | translate }}
                        </ngx-dropzone-label>
                        <ngx-dropzone-preview class="dropDownCustomClass animated fadeInUp" ngProjectAs="ngx-dropzone-preview"
                          *ngFor="let f of files ;let i = index" [file]="f" [removable]="true" (removed)="fnRemoveFile(f)"
                          (click)=fnDownloadFile(entity.ContractFile[i].File.FileLocalName)>
                          <ngx-dropzone-label style="font-size:11px;"><i class="fa fa-download"></i>
                            {{entity.ContractFile[i].File.FileOriginalName}}
                          </ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>
                  </div>







                  
                </div>
               
              </div>
            </div>
          </div>
          
        </form>
        
        

        
      </div>
      <div class="modal-footer">
        <button class="btn btn-white"  data-dismiss="modal">{{'Button.Close' | translate}}</button>
        <button type="button" class="btn btn-primary"   [ladda]="laddaSubmitLoading" (click)="fnSave()" ><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}} </button>
      </div>
    </div>
  </div>
</div>

(modal is active with contractID : {{contractId}})
















<script>
  /* iBOX HELPER */

  $('.ibox-tools').on('click', function () {
    var collapse = $(this).find('.collapse-link');
    
    var ibox = $(this).closest('div.ibox');
    var button = collapse.find('i');
    var content = ibox.children('.ibox-content');
    content.slideToggle(200);
    button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
    ibox.toggleClass('').toggleClass('border-bottom');
    setTimeout(function () {
      ibox.resize();
      ibox.find('[id^=map-]').resize();
    }, 50);
  });
  // Close ibox function
  $('.close-link').on('click', function () {
    var content = $(this).closest('div.ibox');
    content.remove();
  });
  // Fullscreen ibox function
  $('.fullscreen-link').on('click', function () {
    var ibox = $(this).closest('div.ibox');
    var button = $(this).find('i');
    $('body').toggleClass('fullscreen-ibox-mode');
    button.toggleClass('fa-expand').toggleClass('fa-compress');
    ibox.toggleClass('fullscreen');
    setTimeout(function () {
      $(window).trigger('resize');
    }, 100);
  });

</script>