
<div class="modal inmodal" id="myContractModal" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg "  style="width: 65%;">
    <div class="modal-content animated fadeIn" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Contract.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #mySubForm="ngForm">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.ContractNo' | translate }} *: </label>
                <input autocomplete="off" type="text" name="ContractNo" id="ContractNo" [(ngModel)]="entity.ContractNo" class="form-control" placeholder="{{ 'Contract.placeholder.ContractNo' | translate }}" 
                 [ngClass]="{ 'is-invalid':  invalid.Existed_ContractNo }" required>
                  <div *ngIf="invalid.Existed_ContractNo" style="color: red;">{{ 'Contract.invalid.Existed_ContractNo' | translate }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.ContractType' | translate }} *:</label>
              <select autocomplete="off" class="select2_demo_3 form-control" [(ngModel)]="entity.ContractType" name="ContractType" id="ContractType"  required>
                <option selected value=1> {{ 'Contract.data.ContractType1' | translate }} </option>
                <option value=2> {{ 'Contract.data.ContractType2' | translate }} </option>
              </select>
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label>{{ 'Contract.data.ContractCode' | translate }} *:</label>
              <input autocomplete="off" type="text" name="ContractCode" id="ContractCode" [(ngModel)]="entity.ContractCode" class="form-control" placeholder="{{ 'Contract.placeholder.ContractCode' | translate }}" 
                 [ngClass]="{ 'is-invalid':  invalid.Existed_ContractCode }" required>
              <div *ngIf="invalid.Existed_ContractCode" style="color: red;">{{ 'Contract.invalid.Existed_ContractCode' | translate }}</div>
              
              
              
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Contract.data.SignDate' | translate }} :</label>
                <input autocomplete="off"  type="text" name="SignDate" id="SignDate" class="form-control" placeholder="{{ 'Contract.placeholder.SignDate' | translate }}" 
                  bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.SignDate">
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Contract.data.EffectiveDate' | translate }} :</label>
                <input autocomplete="off"  type="text" name="EffectiveDate" id="EffectiveDate" class="form-control" placeholder="{{ 'Contract.placeholder.EffectiveDate' | translate }}" 
                bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.EffectiveDate">

              </div>

              
            </div>
            <div class="col-lg-6">
              <label>{{ 'Contract.data.EndDate' | translate }} :</label>
              <input autocomplete="off" type="text" name="EndDate" id="EndDate" class="form-control" placeholder="{{ 'Contract.placeholder.EndDate' | translate }}" 
                bsDatepicker readonly [bsConfig]="bsConfig" [(ngModel)]="entity.EndDate">
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.StandardType' | translate }} *: </label>
                <select autocomplete="off" class="select2_demo_3 form-control" [(ngModel)]="entity.StandardType" name="StandardType" id="StandardType"  placeholder="Select" >
                  <option selected value=1 > {{ 'Contract.data.StandardType1' | translate }} </option>
                  <option value=2> {{ 'Contract.data.StandardType2' | translate }} </option>
                </select>

              </div>
              
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Contract.data.Description' | translate }} :</label>
                <input autocomplete="off" type="text" name="Description" id="Description" [(ngModel)]="entity.Description" class="form-control" placeholder="{{ 'Contract.placeholder.Description' | translate }}" >
              </div>
              
              
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Contract.data.Ratio' | translate }} *: </label>
                <input autocomplete="off" type="text" name="Ratio" id="Ratio" [(ngModel)]="entity.Ratio" class="form-control" placeholder="{{ 'Contract.placeholder.Ratio' | translate }}" >

              </div>
              
            </div>  
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Contract.data.IsIntergration' | translate }} :</label>

                <span><i class="fa fa-lg" (click)="entity.IsIntergration= !entity.IsIntergration"  [ngClass]="{'fa-check-square-o text-info': entity.IsIntergration==true, 'fa-square-o':entity.IsIntergration==false}" ></i> </span>

                
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.Breach' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="">#</th>
                        <th width="">{{ 'Contract.data.ContractBreach.BreachType' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractBreach.ResolveType' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractBreach.Times' | translate }}</th>
                        <th width="">{{ 'Button.Action' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="animated fadeInRight" *ngFor="let item of entity.ContractBreach; let i = index"
                        [@simpleFadeAnimation]="'in'">
                        <td> {{i+1}} </td>
                        <!-- TABLE -->
                        <td *ngIf="i+1 !== EditRowNumber">{{ 'Contract.data.ContractBreach.BreachType'+item.BreachType | translate }} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{ 'Contract.data.ContractBreach.ResolveType'+item.ResolveType | translate }} </td>
                        <td *ngIf="i+1 !== EditRowNumber">{{item.Times}} </td>
                        <!-- FORM -->
                        <td *ngIf="i+1 === EditRowNumber">
                          <select autocomplete="off" class="select2_demo_3 form-control"  [(ngModel)]="subEntity_ContractBreach.BreachType" name="BreachType" >
                            <option selected value=1> {{ 'Contract.data.ContractBreach.BreachType1' | translate }} </option>
                            <option value=2> {{ 'Contract.data.ContractBreach.BreachType2' | translate }} </option>
                          </select>
                        <td *ngIf="i+1 === EditRowNumber">
                          <select autocomplete="off" class="select2_demo_3 form-control"  [(ngModel)]="subEntity_ContractBreach.ResolveType" name="ResolveType" >
                            <option selected value=1> {{ 'Contract.data.ContractBreach.ResolveType1' | translate }} </option>
                            <option value=2> {{ 'Contract.data.ContractBreach.ResolveType2' | translate }} </option>
                          </select>
                        <td *ngIf="i+1 === EditRowNumber">
                          <input autocomplete="off" type="number" min="0" class="form-control" name="Times" [(ngModel)]="subEntity_ContractBreach.Times"></td>
                        <!-- BUTTON -->
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline btn-primary"
                              [disabled]="!subEntity_ContractBreach.BreachType || !subEntity_ContractBreach.ResolveType"
                              (click)="EditRowNumber=0" *ngIf="i+1 === EditRowNumber"><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditContractBreach(i)" [disabled]="EditRowNumber!=0"
                              *ngIf="i+1 !== EditRowNumber"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteContractBreach(i)"
                              *ngIf="i+1 !== EditRowNumber"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td> {{entity.ContractBreach.length+1}} </td>
                        <td> 
                          <select autocomplete="off" class="select2_demo_3 form-control"  [(ngModel)]="newEntity_ContractBreach.BreachType" name="newBreachType" >
                            <option selected value=1> {{ 'Contract.data.ContractBreach.BreachType1' | translate }} </option>
                            <option value=2> {{ 'Contract.data.ContractBreach.BreachType2' | translate }} </option>
                          </select>
                        <td> 
                          <select autocomplete="off" class="select2_demo_3 form-control"  [(ngModel)]="newEntity_ContractBreach.ResolveType" name="newResolveType" >
                            <option selected value=1> {{ 'Contract.data.ContractBreach.ResolveType1' | translate }} </option>
                            <option value=2> {{ 'Contract.data.ContractBreach.ResolveType2' | translate }} </option>
                          </select>
                        <td> <input autocomplete="off" type="number" min="0" class="form-control"  name="newTimes" [(ngModel)]="newEntity_ContractBreach.Times"> </td>
                        <td>
                          <button [disabled]="!newEntity_ContractBreach.BreachType || !newEntity_ContractBreach.ResolveType"
                          type="button" class="btn  btn-sm btn-outline btn-info pull-right"  (click)="fnAddContractBreach(newEntity_ContractBreach)"><i class="fa fa-plus"></i> </button>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>







                </div>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.Price' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >

                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th width="">#</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Ratio' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Currency' | translate }} *</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Price' | translate }}</th>
                        <th width="">{{ 'Contract.data.ContractPrice.Tax' | translate }}</th>
                        <th width="">{{ 'Button.Action' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
    
                      <tr class="animated fadeInRight" *ngFor="let item of entity.ContractPrice; let i = index"
                        [@simpleFadeAnimation]="'in'">
                        <td> {{i+1}} </td>
                        <!-- TABLE -->
                        <td *ngIf="i+1 !== EditRowNumber_PRICE">{{item.Ratio}} </td>
                        <td *ngIf="i+1 !== EditRowNumber_PRICE">{{item.Currency}} </td>
                        <td *ngIf="i+1 !== EditRowNumber_PRICE">{{item.Price}} </td>
                        <td *ngIf="i+1 !== EditRowNumber_PRICE">{{item.Tax}} </td>
                        <!-- FORM -->
                        <td *ngIf="i+1 === EditRowNumber_PRICE">
                          <input autocomplete="off" type="number" min="0" class="form-control" name="Ratio" [(ngModel)]="subEntity_ContractPrice.Ratio"></td>
                        <td *ngIf="i+1 === EditRowNumber_PRICE">
                          <input autocomplete="off" type="text" class="form-control" name="Currency" [(ngModel)]="subEntity_ContractPrice.Currency"></td>
                        <td *ngIf="i+1 === EditRowNumber_PRICE">
                          <input autocomplete="off" type="number" min="0" class="form-control" name="Price" [(ngModel)]="subEntity_ContractPrice.Price"></td>
                        <td *ngIf="i+1 === EditRowNumber_PRICE">
                          <input autocomplete="off" type="number" min="0" class="form-control" name="Tax" [(ngModel)]="subEntity_ContractPrice.Tax"></td>
                        <!-- BUTTON -->
                        <td>
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline btn-primary" (click)="EditRowNumber_PRICE=0" *ngIf="i+1 === EditRowNumber_PRICE"
                            [disabled]="subEntity_ContractPrice.Ratio<0 || subEntity_ContractPrice.Price<0 || subEntity_ContractPrice.Tax<0" ><i class="fa fa-check"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditContractPrice(i)"  [disabled]="EditRowNumber_PRICE!=0"
                              *ngIf="i+1 !== EditRowNumber_PRICE"><i class="fa fa-pencil"></i></button>
                            <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteContractPrice(i)"
                              *ngIf="i+1 !== EditRowNumber_PRICE"><i class="fa fa-trash"></i></button>
                          </div>
                        </td>
                      </tr>
                      
                      <tr>
                        <td> {{entity.ContractPrice.length+1}} </td>
                        <td> <input autocomplete="off" type="number" min="0" class="form-control" name="newRatio" [(ngModel)]="newEntity_ContractPrice.Ratio"> </td>
                        <td> <input autocomplete="off" type="text" class="form-control" name="newCurrency" [(ngModel)]="newEntity_ContractPrice.Currency"> </td>
                        <td> <input autocomplete="off" type="number" min="0" class="form-control" name="newPrice" [(ngModel)]="newEntity_ContractPrice.Price"> </td>
                        <td> <input autocomplete="off" type="number" min="0" class="form-control" name="newTax" [(ngModel)]="newEntity_ContractPrice.Tax"> </td>
                        <td>
                          <button type="button" class="btn  btn-sm btn-outline btn-info pull-right" (click)="fnAddContractPrice(newEntity_ContractPrice)" 
                          [disabled]="newEntity_ContractPrice.Ratio<0 || newEntity_ContractPrice.Price<0 || newEntity_ContractPrice.Tax<0"
                          ><i class="fa fa-plus" ></i> </button>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>

                </div>
               
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>{{'Contract.label.File' | translate}} </h5>
                  <div class="ibox-tools" >
                    <a class="collapse-link" data-toggle="collapse" data-parent="#accordion" href="myCollapse2">
                      <i class="fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="ibox-content" id="myCollapse2" >
                  <app-smart-upload  #contractFile [filePath]="pathFile" (entityFile)="this.entity.ContractFile = $event" ></app-smart-upload>
                </div>
               
              </div>
            </div>
          </div>
          
        </form>
        
        

        
      </div>
      <div class="modal-footer">
        <button class="btn btn-white"  data-dismiss="modal">{{'Button.Close' | translate}}</button>
        <button type="button" class="btn btn-primary" [disabled]="mySubForm.invalid || EditRowNumber!=0 || EditRowNumber_PRICE!=0 "  [ladda]="laddaSubmitLoading" (click)="fnSave()" ><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}} </button>
      </div>
    </div>
  </div>
</div>
