<nav id="lefNav" class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="logo-element">
          BCM
        </div>
      </li>
      <li>
        <a data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th-large"></i><span
            class="nav-label">{{ 'LeftNav.AdminGeneral' | translate }}</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a [routerLink]="['/admin/usersManagment']">🎉{{'LeftNav.User' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.GroupUser' | translate}} </a></li>
          <li><a [routerLink]="['/admin/factory']">🎉{{'LeftNav.Factory' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.Warehouse' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.EQMachine' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.Chemical' | translate}} </a></li>
        </ul>
      </li>
      <li>
        <a data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th-large"></i><span
            class="nav-label">{{ 'LeftNav.AdminFull' | translate }}</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
          <li><a [routerLink]="['/admin/role']">🎉{{'LeftNav.Role' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.AccessRole' | translate}} </a></li>
          <li><a [routerLink]="['/admin/resetPass']">🎉{{'LeftNav.ResetPass' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.NotificationConfig' | translate}} </a></li>
          <li><a [routerLink]="['/admin/']">{{'LeftNav.LanguageConfig' | translate}} </a></li>
        </ul>
      </li>    
    </ul>
  </div>
</nav>