<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Warehouse.label.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a>{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Warehouse.label.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> {{ 'Warehouse.btn.Add' | translate}} </button>
            </div>
            <div class="col-sm-2 text-center">
              <div class="form-group">
                <label for="choose">
                  <small>{{'Warehouse.label.Showed'| translate}} </small>
                </label>
                <select id='choose' class="form-control" [(ngModel)]="pageSize" (change)="loadInit()">
                  <option value=4>1 {{'Factory.label.Rows' | translate}} </option>
                  <option value=8>2 {{'Factory.label.Rows' | translate}}</option>
                  <option value=12>3 {{'Factory.label.Rows' | translate}}</option>
                  <option value=0>All</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <h2> {{'Warehouse.label.TotalWarehouse' | translate}} {{Warehouse_showed}} {{'Warehouse.' | translate}}
              </h2>
              <!-- <small>{{'Warehouse.label.Showed'| translate}} : {{Warehouse.length}}  {{'Warehouse.' |  translate}} </small> -->
              <pagination [totalItems]="Warehouse_showed" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
            <div class="col-sm-4">
              <div class="pull-right">
                <label for="">{{ 'Warehouse.label.SearchTitle' | translate}}</label>
                <div class="input-group">
                  <input type="text" class="form-control input-lg"
                    placeholder="{{ 'Warehouse.label.SearchText' | translate}}" name="search" [(ngModel)]="keyword"
                    (keyup)="$event.keyCode === 13  && searchLoad()">
                  <div class="input-group-btn">
                    <button class="btn btn-lg btn-primary" type="submit" (click)="searchLoad()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of Warehouse">
              <div class="panel panel-info">
                <div class="panel-heading text-center">
                  <a (click)="fnEditSignal(item.WarehouseId)"><i class="fa fa-info-circle"></i> {{item.WarehouseName}}
                  </a>
                  <button class="btn btn-sm btn-outline pull-right css_btnDel" (click)="fnDelete(item.WarehouseId)"><i
                      class="fa fa-times-circle"></i> </button>
                </div>
                <div class="panel-body">
                  <p> <strong>{{ 'Warehouse.data.WarehouseCode' | translate}}:</strong> {{item.WarehouseCode}}</p>
                  <p> <strong>{{ 'Factory.' | translate}}:</strong> {{item.FactoryName}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseUserName' | translate}}:</strong>
                    {{item.NormalizedUserName | translate}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseType' | translate }}:</strong>
                    {{'Warehouse.data.WarehouseType'+item.WarehouseType | translate}}</p>
                  <p> <strong>{{ 'Warehouse.data.WarehouseAddress' | translate}}:</strong> {{item.WarehouseAddress}}</p>
                  <p> <strong>{{ 'Warehouse.data.Status' | translate}}:</strong>
                    <span class="label" [ngClass]="{'label-primary': item.Status==1, 'label-danger': item.Status==0}">
                      {{'Warehouse.data.Status'+item.Status | translate}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal inmodal" bsModal #childModal="bs-modal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'Warehouse.label.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm" (submit)="fnSave($event)">
          <dx-form #targetForm id="form" [(formData)]="entity" >
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="WarehouseCode" [label]="{text: trans.instant('Warehouse.data.WarehouseCode')}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxi-validation-rule type="async" message="Exist Warehouse Code"  [validationCallback]="validateAsync"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="FactoryId" editorType="dxSelectBox"  [label]="{text: trans.instant('Warehouse.data.FactoryId')}"
              [editorOptions]="{ displayExpr: 'FactoryName' ,valueExpr:'FactoryId' , dataSource: factoryList}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true" [validationCallback]="validateFunction" message="Required Choose"></dxi-validation-rule>
                  <!-- <div *dxTemplate>
                    <smart-select-box entitykey="Factory" checkstatus="true" [(selectData)]="entity.FactoryId"></smart-select-box>
                  </div> -->
              </dxi-item>
            </dxi-item>
           
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="WarehouseName" [label]="{text: trans.instant('Warehouse.data.WarehouseName')}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
                <dxi-validation-rule type="async" message="Exist Warehouse Name"  [validationCallback]="validateAsync"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="WarehouseType" [label]="{text: trans.instant('Warehouse.data.WarehouseType')}"  editorType="dxSelectBox" 
              [editorOptions]="{ displayExpr: 'text' ,valueExpr:'id' ,
                items: [
                 { id: 1, text: trans.instant('Warehouse.data.WarehouseType1')}
                ,{ id: 2, text: trans.instant('Warehouse.data.WarehouseType2')}
                ,{ id: 3, text: trans.instant('Warehouse.data.WarehouseType3')}
                ,{ id: 4, text: trans.instant('Warehouse.data.WarehouseType4')}
                ]}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>

              
            </dxi-item>
 
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="WarehouseAddress" [label]="{text: trans.instant('Warehouse.data.WarehouseAddress')}"></dxi-item>
              <dxi-item dataField="WarehouseUserName" [label]="{text: trans.instant('Warehouse.data.WarehouseUserName')}"
              editorType="dxSelectBox"  [editorOptions]="{displayExpr: 'NormalizedUserName' ,valueExpr:'UserName' ,items: initCombobox.Users}" >
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" [colCount]="2">
              <dxi-item itemType="empty" visible="false"></dxi-item>
              <!-- <dxi-item dataField="Status"  editorType="dxSwitch" [label]="{text: trans.instant('Warehouse.data.Status')}"></dxi-item> -->
              <dxi-item dataField="Status" [label]="{text: trans.instant('Warehouse.data.Status')}"
                editorType="dxSelectBox" [editorOptions]="{ displayExpr: 'text' ,valueExpr:'id' ,
                items: [{id: 0, text: trans.instant('Warehouse.data.Status0')}
                ,{ id: 1, text: trans.instant('Warehouse.data.Status1')}]}">
              </dxi-item>

            </dxi-item>
            
            

            <dxi-item itemType="group" [colCount]="3" caption="Size (cm)">
              <dxi-item dataField="WarehouseLength" [label]="{text: trans.instant('Warehouse.data.WarehouseLength')}" editorType="dxNumberBox" >
                <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="WarehouseWidth" [label]="{text: trans.instant('Warehouse.data.WarehouseWidth')}" editorType="dxNumberBox" >
                <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
              </dxi-item>
              <dxi-item dataField="WarehouseHeight" [label]="{text: trans.instant('Warehouse.data.WarehouseHeight')}" editorType="dxNumberBox" >
                <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item  itemType="group" caption="{{'Upload.' | translate}}">
              <div *dxTemplate>
                <app-smart-upload #targetSmartUpload [filePath]="pathFile"
                  (entityFile)="this.entity.WarehouseFile = $event"></app-smart-upload>
              </div>
            </dxi-item>
            <dxi-item  itemType="group" caption="{{'Warehouse.label.Location' | translate}}">
              <div *dxTemplate>
                <dx-data-grid
                  [dataSource]="entity.WarehouseLocation"
                  allowColumnResizing="true"
                  (onInitNewRow)="initWarehouseLocation($event)"
                  (onRowInserted)="changeWarehouseLocationStatus($event)"
                  (onRowUpdated)="changeWarehouseLocationStatus($event)"
                  [showBorders]="true">
                  <dxo-editing 
                    mode="row"
                    [allowUpdating]="true"
                    [allowDeleting]="true"
                    [allowAdding]="true"
                    [useIcons] ="true">
                  </dxo-editing>
                <dxi-column dataField="WarehouseLocationCode" caption="{{ 'Warehouse.data.WarehouseLocationCode' | translate }}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true" [validationCallback]="validateFunction" message="Existed Technology Name"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="WarehouseLocationName" caption="{{ 'Warehouse.data.WarehouseLocationName' | translate }}">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                  <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true" [validationCallback]="validateFunction" message="Existed Technology Name"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="WarehouseLocationLength" caption="{{ 'Warehouse.data.WarehouseLocationLength' | translate }}">
                  <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="WarehouseLocationWidth" caption="{{ 'Warehouse.data.WarehouseLocationWidth' | translate }}">
                  <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="WarehouseLocationHeight" caption="{{ 'Warehouse.data.WarehouseLocationHeight' | translate }}">
                  <dxi-validation-rule type="range" [min]="0"  [max]="100" message="Range 0-100"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="Status" caption="{{ 'Warehouse.data.Status' | translate }}"  dataType="boolean">
                </dxi-column>
                
                
                </dx-data-grid>

              </div>
            </dxi-item>
            

            

          </dx-form>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">{{'Button.Close' | translate}} </button>
        <button type="button" class="btn btn-primary" (click)="fnSave()" [ladda]="laddaSubmitLoading"><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}} </button>
      </div>

    </div>
  </div>
</div>