<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Item Action</h2>
      <ol class="breadcrumb">
          <li>
              <a href="index.html">Home</a>
          </li>
          <li>
              <a  routerLink="/category/item">Items</a>
          </li>
          <li class="active">
              <strong>Item action</strong>
          </li>
      </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

  <div class="row">
      <div class="col-lg-12">
          <div class="tabs-container">
              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info-circle"></i> Info</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-industry"></i> Factory</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-list-ul"></i> Property</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-cube"></i> Package</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-file"></i> File</a></li>
              </ul>
            
                <form role="form" #myForm="ngForm">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Chemical name:</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="entity.ItemName" class="form-control" placeholder="Tên hóa chất" name="ItemName" >
                                        </div>
                                        <label class="col-sm-2 control-label">Number code:</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="entity.ItemNo" class="form-control" placeholder="Mã số" name="ItemNo" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
      
                                        <label class="col-sm-2 control-label">Print name:</label>
                                        <div class="col-sm-4">
                                            <input type="text"  [(ngModel)]="entity.ItemPrintName" class="form-control" placeholder="Tên In" name="printName" required>
                                        </div>
                                        <label class="col-sm-2 control-label">Unit code:</label>
                                        <div class="col-sm-4">
                                            <!-- <select2   [data]="test" [value]="'2'" (valueChanged)="itemUnitChange($event,true)" name="ffactoryId" required></select2> -->
                                          <ng-select 
                                          class="custom" 
                                          [items]="listUnit" 
                                          bindLabel="text" 
                                          bindValue="id" 
                                          placeholder="Please select unit"
                                          name="unitId" 
                                          required
                                          [(ngModel)]="entity.ItemUnitId" name="text" >
                                          </ng-select>
                                        </div>
                                    </div>
      
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">Model:</label>
                                      <div class="col-sm-4">
                                          <input type="text" [(ngModel)]="entity.ItemModel" class="form-control" placeholder="Model" name="model" required>
                                      </div>
                                        <label class="col-sm-2 control-label">Serial number:</label>
                                        <div class="col-sm-4">
                                            <input type="text"  [(ngModel)]="entity.ItemSerial" class="form-control" placeholder="Số serial" name="serial" required>
                                        </div>
                                       
                                    </div>
      
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">Length:</label>
                                      <div class="col-sm-4">
                                          <input type="number" [(ngModel)]="entity.ItemLength" class="form-control" placeholder="Length" name="length" required>
                                      </div>
                                        <label class="col-sm-2 control-label">Width:</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="entity.ItemWidth" class="form-control" placeholder="Width" name="width" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Height :</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="entity.ItemHeight" class="form-control" placeholder="Height " name="name" required>
                                        </div>
                                        <label class="col-sm-2 control-label">Weigth :</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="entity.ItemWeight" class="form-control" placeholder="Weigth " name="weight" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nation :</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="entity.ItemManufactureCountry" class="form-control" placeholder="Quốc gia " name="manufactureCountry" required>
                                        </div>
                                        <label class="col-sm-2 control-label">Year of :</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="entity.ItemManufactureYear" class="form-control" placeholder="Năm sản xuất " name="manufactureYear" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="col-sm-2 control-label">Description :</label>
                                      <div class="col-sm-4">
                                          <input type="text" [(ngModel)]="entity.ItemDescription" class="form-control" placeholder="Mô tả" name="ItemDescription" required >
                                      </div>
                                  </div>
                                </fieldset>
      
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                          <div class="panel-body">
                              <fieldset class="form-horizontal">
                                  <div class="form-group">
                                      <div class="col-sm-4">
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Factory name:</label>
                                              <div class="col-sm-9">
                                                <!-- <select2 [options]="optionFactory"   (valueChanged)="factoryChange($event)" name="ffactoryId" required></select2> -->
                                                <ng-select class="custom" [items]="listFactory" bindLabel="text" bindValue="id" placeholder="Please select factory" name="FactoryId" required
                                                  [(ngModel)]="itemFactory.FactoryId"  (change)="factoryChange($event)" >
                                                </ng-select>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-sm-3 control-label">Intergration Code:</label>
                                              <div class="col-sm-9">
                                                  <input type="text" [(ngModel)]="itemFactory.IntergrationCode" class="form-control" name="IntergrationCode" placeholder="Intergration Code">
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-sm-12">
                                                  <button class="btn btn-primary pull-right"  (click)="fnAddFactory()">
                                                      <i class="fa fa-plus"></i> Add
                                                  </button>
                                              </div>
      
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="row">
                                              <div class="form-group">
                                                  <div class="col-sm-12">
                                                   
                                                          <table class="table table-stripped table-bordered">
                                                              <thead>
                                                                  <tr>
                                                                      <th>#</th>
                                                                      <th>Factory name</th>
                                                                      <th>Intergration code</th>
                                                                      <th>Action</th>
      
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  <tr class="animated fadeInRight"  *ngFor="let item of entity.ItemFactory; let i = index">
                                                                      <td> {{i+1}}</td>
                                                                      <td> {{item.FactoryName}}</td>
                                                                      <td> {{item.IntergrationCode}} </td>
                                                                      <td>
                                                                          <button class="btn btn-danger" (click)="fnDeleteFactory(i)">
                                                                            <i class="fa fa-trash"></i>
                                                                          </button>
                                                                      </td>
                                                                  </tr>
                                                              </tbody>
      
                                                          </table>
                                                     
                                                  </div>
      
                                              </div>
                                          </div>
      
                                      </div>
                                  </div>
      
                              </fieldset>
      
                          </div>
                      </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Property:</label>
                                                <div class="col-sm-9">
                                                    <ng-select 
                                                    class="custom" 
                                                    [items]="listProperty" 
                                                    bindLabel="text" 
                                                    bindValue="id" 
                                                    placeholder="Select item"
                                                    name="ItemTypePropertyId" 
                                                    required
                                                    [(ngModel)]="itemProperty.ItemTypePropertyId" name="ItemTypePropertyId" 
                                                    (change)="itemPropertyChange($event)"
                                                    >
                                              </ng-select>
                                                  <!-- <select2 [options]="optionProperty"   (valueChanged)="itemPropertyChange($event)" name="ffactoryId" required></select2> -->
                                                  <!-- <ng-select class="custom" [items]="listProperty" bindLabel="text" bindValue="id" placeholder="Please select property" required
                                                  [(ngModel)]="itemProperty.ItemTypePropertyId" name="'ItemTypePropertyId'" (change)="itemPropertyChange($event)">
                                                  </ng-select> -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Value:</label>
                                                <div class="col-sm-9">
                                                    <input type="text" [(ngModel)]="itemProperty.ItemTypePropertyValue" class="form-control" placeholder="Value" name="ItemTypePropertyValue">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary pull-right"  (click)="fnAddProperty()">
                                                        <i class="fa fa-plus"></i> Add
                                                    </button>
                                                </div>
      
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                            <table class="table table-stripped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Property name</th>
                                                                        <th>Value</th>
                                                                        <th>Action</th>
      
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="animated fadeInRight"  *ngFor="let item of entity.ItemProperty; let i = index">
                                                                        <td> {{i+1}}</td>
                                                                        <td> {{item.ItemTypePropertyName}}</td>
                                                                        <td> {{item.ItemTypePropertyValue}} </td>
                                                                        <td>
                                                                            <button class="btn btn-danger" (click)="fnDeleteItemProperty(i)">
                                                                              <i class="fa fa-trash"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
      
                                                            </table>
                                                    </div>
      
                                                </div>
                                            </div>
      
                                        </div>
                                    </div>
      
                                </fieldset>
      
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Unit code:</label>
                                        <div class="col-sm-4">
                                            <ng-select 
                                                class="custom" 
                                                [items]="listUnit" 
                                                bindLabel="text" 
                                                bindValue="id" 
                                                placeholder="Please select unit" 
                                                name="ItemPackageUnitId" 
                                                required
                                                [(ngModel)]="itemPackage.ItemPackageUnitId" name="text" 
                                                 (change)="itemUnitChange($event)">
                                          </ng-select>
                                            <!-- <select2 [options]="optionUnit"   (valueChanged)="itemUnitChange($event)" name="ffactoryId" required></select2> -->
                                          <!-- <ng-select class="custom" [items]="listUnit" bindLabel="text" bindValue="id" placeholder="Please select unit"
                                          [(ngModel)]="itemPackage.ItemPackageUnitId" name="ItemPackageUnitId" (change)="itemUnitChange($event)" >
                                         </ng-select> -->
                                        </div>
                                        <label class="col-sm-2 control-label">Package Coefficient:</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="itemPackage.ItemPackageCoefficient" class="form-control" placeholder="Value" name="ItemPackageCoefficient">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Length:</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="itemPackage.ItemPackageLength" class="form-control" placeholder="Length" name="ItemPackageLength">
                                        </div>
                                        <label class="col-sm-2 control-label">Width:</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="itemPackage.ItemPackageWidth" class="form-control" placeholder="Width" name="ItemPackageWidth">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Height:</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="itemPackage.ItemPackageHeight" class="form-control" placeholder="Height" name="ItemPackageHeight">
                                        </div>
                                        <label class="col-sm-2 control-label">Weight:</label>
                                        <div class="col-sm-4">
                                            <input type="number" [(ngModel)]="itemPackage.ItemPackageWeight" class="form-control" placeholder="Weight" name="ItemPackageWeight">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary pull-right"  (click)="fnAddPackage()">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group mt-5">
                                        <div class="col-sm-12">
                                                <table class="table table-stripped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Item unit	</th>
                                                            <th>Package Coefficient</th>
                                                            <th>Length</th>
                                                            <th>Width</th>
                                                            <th>Height</th>
                                                            <th>Weight</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  class="animated fadeInRight" *ngFor="let item of entity.ItemPackage; let i = index">
                                                          <td> {{i+1}} </td>
                                                          <td>{{item.UnitName}}</td>
                                                          <td>{{item.ItemPackageCoefficient}} </td>
                                                          <td>{{item.ItemPackageLength}} </td>
                                                          <td>{{item.ItemPackageWidth}} </td>
                                                          <td>{{item.ItemPackageHeight}} </td>
                                                          <td>{{item.ItemPackageWeight}} </td>
                                                         
                                                          <td>
                                                            <button class="btn btn-danger" (click)="fnDeleteItemPackage(i)">
                                                              <i class="fa fa-trash"></i>
                                                            </button>
                                                          </td>
                                                        </tr>
                                                    </tbody>
      
                                                </table>
                                        </div>
                                    </div>
      
                                </fieldset>
      
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                              <div class="form-group">
                                  <label>{{ 'Factory.label.UploadFile' | translate }} </label>             
                                  <ngx-dropzone (change)="onSelect($event)" [expandable]="true" [maxFileSize]="5000*1024">
                                    <ngx-dropzone-label>Kéo thả file ở đây!</ngx-dropzone-label>
                                    <ngx-dropzone-preview class="animated fadeInUp"  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files ;let i = index" [file]="f"   [removable]="true" (removed)="onRemove(f)" (click)=downloadFile(f.name) >
                                      <ngx-dropzone-label style="font-size:11px;" > {{entity.ItemFile[i].File.FileOriginalName}}
                                      </ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                  </ngx-dropzone>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
              
          </div>
      </div>
      <div class="col-sm-12">
        <div class="ibox-content m-b-sm border-bottom">
          <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-primary pull-right" [ladda]="laddaSubmitLoading" [disabled]="myForm.invalid" (click)="fnSave()">
                  <i class="fa fa-plus"></i>
                  Save Item
                </button>
              </div>
              
          </div>

      </div>
      </div>
  </div>

</div>