.mt-5{
    margin-top: 50px;
}

.p-0{
    padding: 0 !important;
}
.disabledTab{
    pointer-events: none;
    cursor: not-allowed;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    color: #fff !important;
}