<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ 'Item.Breadcrumb' | translate }}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">{{ 'TopNav.Category' | translate }}</a>
            </li>
            <li class="active">
                <strong>{{ 'Item.Breadcrumb' | translate }}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" [class.disabledTab] ="editRowId!=0"><a data-toggle="tab" href="#tab-1"><i class="fa fa-info-circle"></i>
                            {{'Item.label.Information' | translate }}</a>
                    </li>
                    <li [class.disabledTab] ="editRowId!=0"><a data-toggle="tab" href="#tab-2" (click)="editRowId = 0;" class=""><i
                                class="fa fa-industry"></i> {{'Item.label.Factory' | translate }}</a></li>
                    <li [class.disabledTab] ="editRowId!=0"><a data-toggle="tab" href="#tab-3" (click)="editRowId = 0;"><i
                                class="fa fa-list-ul" ></i> {{'Item.label.Property' | translate }}</a></li>
                    <li [class.disabledTab] ="editRowId!=0"><a data-toggle="tab" href="#tab-4" (click)="editRowId = 0;"><i
                                class="fa fa-cube" ></i>{{'Item.label.Package' | translate }}</a></li>
                    <li [class.disabledTab] ="editRowId!=0"><a data-toggle="tab"  href="#tab-5" (click)="editRowId = 0;"><i class="fa fa-file"></i>
                            {{ 'Upload.' | translate }}</a></li>
                    <li [class.disabledTab] ="editRowId!=0"><a data-toggle="tab" href="#tab-6" (click)="editRowId = 0;"><i class="fa fa-file"></i>
                            {{ 'Upload.Image' | translate }}</a></li>
                </ul>


                    <div class="tab-content">

                        <div id="tab-1" class="tab-pane active">
                            <form role="form" #myForm="ngForm">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{'Item.data.ItemNo' | translate }}
                                            *:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text" [(ngModel)]="entity.ItemNo"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemNo' | translate }}" name="ItemNo"
                                                required>
                                        </div>
                                        <label class="col-sm-2 control-label">{{'Item.data.ItemName' | translate }}
                                            *:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text" [(ngModel)]="entity.ItemName"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemName' | translate }}"
                                                name="ItemName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">{{'Item.data.ItemUnitId' | translate }}
                                            *:</label>
                                        <div class="col-sm-4">
                                            <ng-select class="custom" [items]="listUnit" bindLabel="UnitName"
                                                bindValue="UnitId"
                                                placeholder="{{'Item.placeholder.ItemUnitId' | translate }}"
                                                [(ngModel)]="entity.ItemUnitId" name="ItemUnitId" required
                                                (change)="checkUnitInPacket($event)"
                                                >
                                            </ng-select>
                                        </div>
                                        <label class="col-sm-2 control-label">{{'Item.data.ItemPrintName' | translate }}
                                            *:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text" [(ngModel)]="entity.ItemPrintName"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemPrintName' | translate }}"
                                                name="printName" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemManufactureCountry' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text"
                                                [(ngModel)]="entity.ItemManufactureCountry" class="form-control"
                                                placeholder="{{'Item.placeholder.ItemManufactureCountry' | translate }}"
                                                name="manufactureCountry">
                                        </div>
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemManufactureYear' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input type="text" [(ngModel)]="entity.ItemManufactureYear" bsDatepicker  readonly
                                            [bsConfig]="bsConfig"
                                                class="form-control" placeholder="{{'Item.placeholder.ItemManufactureYear' | translate }}" name="ItemManufactureYear">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemModel' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text" [(ngModel)]="entity.ItemModel"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemModel' | translate }}"
                                                name="model">
                                        </div>
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemSerial' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="text" [(ngModel)]="entity.ItemSerial"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemSerial' | translate }}"
                                                name="serial">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemLength' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="number" [(ngModel)]="entity.ItemLength"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemLength' | translate }}"
                                                min="0"
                                                (change)="($event.target.value<0 ||$event.target.value=='' ) ?entity.ItemLength =0:entity.ItemLength"
                                                name="length">
                                        </div>
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemWidth' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="number" [(ngModel)]="entity.ItemWidth"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemWidth' | translate }}"
                                                min="0"
                                                (change)="($event.target.value<0 ||$event.target.value=='' ) ?entity.ItemWidth =0:entity.ItemWidth"
                                                name="width">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemHeight' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="number" [(ngModel)]="entity.ItemHeight"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemHeight' | translate }}"
                                                min="0"
                                                (change)="($event.target.value<0 ||$event.target.value=='' ) ?entity.ItemHeight =0:entity.ItemHeight"
                                                name="height">
                                        </div>
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemWeight' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <input autocomplete="off" type="number" [(ngModel)]="entity.ItemWeight"
                                                class="form-control"
                                                placeholder="{{'Item.placeholder.ItemWeight' | translate }}"
                                                min="0"
                                                (change)="($event.target.value<0 ||$event.target.value=='' ) ?entity.ItemWeight =0:entity.ItemWeight"
                                                name="weight">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label">{{'Item.data.ItemDescription' | translate }}:</label>
                                        <div class="col-sm-4">
                                            <textarea autocomplete="off" type="text"
                                                [(ngModel)]="entity.ItemDescription" rows="4" class="form-control"
                                                placeholder="{{'Item.placeholder.ItemDescription' | translate }}"
                                                name="ItemDescription"></textarea>
                                        </div>
                                        <label
                                             class="col-sm-2 control-label">Item type *:</label>
                                            <div class="col-sm-4">
                                                <!-- <select class="form-control" [(ngModel)]="entity.ItemTypeId" name="ItemTypeId" (change)="changeItemType($event.target.value)"  #ItemTypeId="ngModel">
                                                    <option *ngFor="let item of listItemType" [value]="item.ItemTypeId"  >{{item.ItemTypeName}}</option>
                                                </select> -->
                                                <ng-select class="custom" [items]="listItemType" bindLabel="ItemTypeName"
                                                bindValue="ItemTypeId"
                                                placeholder="Please select item type"
                                                [(ngModel)]="entity.ItemTypeId" name="ItemTypeId" required
                                                >
                                            </ng-select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label
                                            class="col-sm-2 control-label"></label>
                                        <div class="col-sm-4">
                                        </div>
                                        <label class="col-sm-2 control-label p-0">{{ 'Factory.data.Status' | translate }} :</label>

                                        <div class="switch col-sm-4">
                                        <div class="onoffswitch">
                                            <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"  (click)="onSwitchStatus()" [checked]="entity.Status==1 ? true : null" >
                                            <label class="onoffswitch-label" for="status">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </form>
                        </div>


                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <table class="table table-stripped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>{{'Item.datacolumn.FactoryId' | translate }} *
                                                                    </th>
                                                                    <th>{{'Item.datacolumn.IntergrationCode' | translate }}</th>
                                                                    <th>{{'Button.Action' | translate }}</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="animated fadeInRight"
                                                                    *ngFor="let item of entity.ItemFactory; let i = index">
                                                                    <td> {{i+1}}</td>
                                                                    <td *ngIf="i+1 !== editRowId"> {{item.FactoryName}}
                                                                    </td>
                                                                    <td *ngIf="i+1 === editRowId">
                                                                        <ng-select [items]="initCombobox.Factories" id="FactoryId"
                                                                            name="FactoryId"
                                                                            [(ngModel)]="itemFactory.FactoryId"
                                                                            dropdownPosition="top"
                                                                            (change)="$event!=null? itemFactory.FactoryName = $event.FactoryName: null "
                                                                            bindLabel="FactoryName"
                                                                            bindValue="FactoryId" > </ng-select>
                                                                    </td>
                                                                    <td *ngIf="i+1 !== editRowId">
                                                                        {{item.IntergrationCode}} </td>
                                                                    <td *ngIf="i+1 === editRowId">
                                                                        <input type="text"
                                                                            [(ngModel)]="itemFactory.IntergrationCode"
                                                                            class="form-control"
                                                                            name="IntergrationCode">
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <button type="button"
                                                                                class="btn btn-sm btn-outline btn-primary"
                                                                                (click)="fnSaveFactory(i)"
                                                                                [disabled]="!itemFactory.FactoryId"
                                                                                *ngIf="i+1 === editRowId"><i
                                                                                    class="fa fa-check"></i></button>
                                                                            <button type="button"
                                                                                class="btn btn-sm btn-outline btn-success"
                                                                                [disabled]="editRowId!=0"
                                                                                (click)="fnEditFactory(i,item)"
                                                                                *ngIf="i+1 !== editRowId"><i
                                                                                    class="fa fa-pencil"></i></button>
                                                                            <button type="button"
                                                                                class="btn btn-sm btn-outline btn-danger"
                                                                                (click)="fnDeleteFactory(i)"
                                                                                *ngIf="i+1 !== editRowId"><i
                                                                                    class="fa fa-trash"></i></button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <!-- newRow -->
                                                                <tr>
                                                                    <td>{{entity.ItemFactory.length +1}}</td>
                                                                    <td>
                                                                        <ng-select [items]="initCombobox.FactoriesCopy"
                                                                            id="newFactoryId" name="newFactoryId"
                                                                            placeholder="{{'Item.placeholdercolumn.FactoryId' | translate }}"
                                                                            [(ngModel)]="newItemFactory.FactoryId"
                                                                            (change)="$event!=null? newItemFactory.FactoryName = $event.FactoryName: null"
                                                                            bindLabel="FactoryName"
                                                                            bindValue="FactoryId" required> </ng-select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text"
                                                                            [(ngModel)]="newItemFactory.IntergrationCode"
                                                                            class="form-control"
                                                                            name="newIntergrationCode"
                                                                            placeholder="{{'Item.placeholdercolumn.IntergrationCode' | translate }}"
                                                                            >
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <button type="button"
                                                                                class="btn  btn-sm btn-outline btn-info pull-right"
                                                                                [disabled]="!newItemFactory.FactoryId"
                                                                                (click)="fnAddFactory()"><i
                                                                                    class="fa fa-plus"></i> </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <table class="table table-stripped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>{{'Item.datacolumn.ItemTypePropertyId' | translate }} *</th>
                                                <th>{{'Item.datacolumn.ItemTypePropertyValue' | translate }} *</th>
                                                <th>{{'Button.Action' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="animated fadeInRight"
                                                *ngFor="let item of entity.ItemProperty; let i = index">
                                                <td> {{i+1}}</td>
                                                <td *ngIf="i+1 !== editRowId"> {{item.ItemTypePropertyName}}</td>
                                                <td *ngIf="i+1 === editRowId">
                                                    <ng-select class="custom" [items]="listProperty" bindLabel="text"
                                                        bindValue="id" placeholder="Select item"
                                                        name="ItemTypePropertyId" dropdownPosition="top" required
                                                        [(ngModel)]="itemProperty.ItemTypePropertyId"
                                                        (change)=" $event!=null?itemProperty.ItemTypePropertyName = $event.text:null ">
                                                    </ng-select>
                                                </td>
                                                <td *ngIf="i+1 !== editRowId"> {{item.ItemTypePropertyValue}} </td>
                                                <td *ngIf="i+1 === editRowId">
                                                    <input type="text" [(ngModel)]="itemProperty.ItemTypePropertyValue"
                                                        class="form-control" placeholder="Value"
                                                        name="ItemTypePropertyValue">
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-sm btn-outline btn-primary"

                                                            (click)="fnSaveProperty()" *ngIf="i+1 === editRowId"
                                                            [disabled]="!itemProperty.ItemTypePropertyId || !itemProperty.ItemTypePropertyValue"
                                                            ><i
                                                                class="fa fa-check"></i></button>
                                                        <button type="button" class="btn btn-sm btn-outline btn-success"
                                                            [disabled]="editRowId!=0"
                                                            (click)="fnEditProperty(i)" *ngIf="i+1 !== editRowId"><i
                                                                class="fa fa-pencil"></i></button>
                                                        <button type="button" class="btn btn-sm btn-outline btn-danger"
                                                            (click)="fnDeleteProperty(i)" *ngIf="i+1 !== editRowId"><i
                                                                class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- new row -->
                                            <tr>
                                                <td>{{entity.ItemProperty.length+1}}</td>
                                                <td>
                                                    <ng-select class="custom" [items]="listProperty" bindLabel="text"
                                                        bindValue="id"
                                                        placeholder="{{'Item.placeholdercolumn.ItemTypePropertyId' | translate }}"
                                                        name="ItemTypePropertyId"
                                                        (change)="newItemProperty.ItemTypePropertyName = $event.text "
                                                        required [(ngModel)]="newItemProperty.ItemTypePropertyId"
                                                        name="newItemTypePropertyId"></ng-select>
                                                </td>
                                                <td>
                                                    <input type="text"
                                                        [(ngModel)]="newItemProperty.ItemTypePropertyValue"
                                                        class="form-control"
                                                        placeholder="{{'Item.placeholdercolumn.ItemTypePropertyValue' | translate }}"
                                                        name="newItemTypePropertyValue" required>
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button"
                                                            class="btn  btn-sm btn-outline btn-info pull-right"
                                                            [disabled]="!newItemProperty.ItemTypePropertyId || !newItemProperty.ItemTypePropertyValue"
                                                            (click)="fnAddProperty()"><i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-stripped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>{{'Item.datacolumn.ItemPackageUnitId' | translate }} *</th>
                                                    <th>{{'Item.datacolumn.ItemPackageCoefficient' | translate }} *</th>
                                                    <th>{{'Item.datacolumn.ItemPackageLength' | translate }}</th>
                                                    <th>{{'Item.datacolumn.ItemPackageWidth' | translate }}</th>
                                                    <th>{{'Item.datacolumn.ItemPackageHeight' | translate }}</th>
                                                    <th>{{'Item.datacolumn.ItemPackageWeight' | translate }}</th>
                                                    <th>{{'Button.Action' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="animated fadeInRight"
                                                    *ngFor="let item of entity.ItemPackage; let i = index">
                                                    <td> {{i+1}} </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.UnitName}}</td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <ng-select class="custom" [items]="listUnit"
                                                            bindLabel="UnitName" bindValue="UnitId"
                                                            placeholder="Please select unit" name="temPackageUnitId"
                                                            dropdownPosition="top" required
                                                            [(ngModel)]="itemPackage.ItemPackageUnitId"
                                                            (change)="$event!=null?itemPackage.UnitName = $event.UnitName:null ">
                                                        </ng-select>
                                                    </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.ItemPackageCoefficient}} </td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <input type="number"
                                                            [(ngModel)]="itemPackage.ItemPackageCoefficient"
                                                            class="form-control" placeholder="Value"
                                                            name="temPackageCoefficient">
                                                    </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.ItemPackageLength}} </td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <input type="number" [(ngModel)]="itemPackage.ItemPackageLength"
                                                            class="form-control" placeholder="Length"
                                                            name="itemPackageLength">
                                                    </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.ItemPackageWidth}} </td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <input type="number" [(ngModel)]="itemPackage.ItemPackageWidth"
                                                            class="form-control" placeholder="Width"
                                                            name="itemPackageWidth">
                                                    </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.ItemPackageHeight}} </td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <input type="number" [(ngModel)]="itemPackage.ItemPackageHeight"
                                                            class="form-control" placeholder="Height"
                                                            name="itemPackageHeight">
                                                    </td>
                                                    <td *ngIf="i+1 !== editRowId">{{item.ItemPackageWeight}} </td>
                                                    <td *ngIf="i+1 === editRowId">
                                                        <input type="number" [(ngModel)]="itemPackage.ItemPackageWeight"
                                                            class="form-control" placeholder="Weight"
                                                            name="itemPackageWeight">
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline btn-primary"
                                                                [disabled]="!itemPackage.ItemPackageUnitId || !itemPackage.ItemPackageCoefficient"
                                                                (click)="fnSavePackage()" *ngIf="i+1 === editRowId"><i
                                                                    class="fa fa-check"></i></button>
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline btn-success"
                                                                [disabled]="editRowId!=0"
                                                                (click)="fnEditPackage(i)" *ngIf="i+1 !== editRowId"><i
                                                                    class="fa fa-pencil"></i></button>
                                                            <button type="button"
                                                                class="btn btn-sm btn-outline btn-danger"
                                                                (click)="fnDeletePackge(i)" *ngIf="i+1 !== editRowId"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- new Row -->
                                                <tr>
                                                    <td>{{entity.ItemPackage.length +1}}</td>
                                                    <td>
                                                        <ng-select class="custom" [items]="listUnit"
                                                            bindLabel="UnitName" bindValue="UnitId"
                                                            placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}" name="newItemPackageUnitId"
                                                            required [(ngModel)]="newItemPackage.ItemPackageUnitId"
                                                            (change)="$event!=null?newItemPackage.UnitName = $event.UnitName:null ">
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input type="number"
                                                            [(ngModel)]="newItemPackage.ItemPackageCoefficient"
                                                            class="form-control" placeholder="Value"
                                                            name="newItemPackageCoefficient">
                                                    </td>
                                                    <td>
                                                        <input type="number"
                                                            [(ngModel)]="newItemPackage.ItemPackageLength"
                                                            class="form-control" placeholder="Length"
                                                            name="newItemPackageLength">
                                                    </td>
                                                    <td>
                                                        <input type="number"
                                                            [(ngModel)]="newItemPackage.ItemPackageWidth"
                                                            class="form-control" placeholder="Width"
                                                            name="newItemPackageWidth">
                                                    </td>
                                                    <td>
                                                        <input type="number"
                                                            [(ngModel)]="newItemPackage.ItemPackageHeight"
                                                            class="form-control" placeholder="Height"
                                                            name="newItemPackageHeight">
                                                    </td>
                                                    <td>
                                                        <input type="number"
                                                            [(ngModel)]="newItemPackage.ItemPackageWeight"
                                                            class="form-control" placeholder="Weight"
                                                            name="newItemPackageWeight">
                                                    </td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button"
                                                                class="btn  btn-sm btn-outline btn-info pull-right"
                                                                [disabled]="!newItemPackage.ItemPackageUnitId || !newItemPackage.ItemPackageCoefficient"
                                                                (click)="fnAddPackage()"><i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <div class="form-group">
                                    <ngx-dropzone (change)="onSelect($event,false)" [expandable]="true"
                                        [maxFileSize]="5000*1024" [id]="'files'">
                                        <ngx-dropzone-label>{{ 'Upload.UploadFileCaption' | translate }}</ngx-dropzone-label>
                                        <ngx-dropzone-preview class="animated fadeInUp"
                                            ngProjectAs="ngx-dropzone-preview"
                                            *ngFor="let f of listFiles ;let i = index" [removable]="true"
                                            (removed)="onRemove(f,false)" (click)="downloadFile(f.File.FileLocalName)">
                                            <ngx-dropzone-label style="font-size:11px;"> {{f.File.FileOriginalName}}
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="badge"
                                            [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}">{{uploadReportProgress.message}}</span>
                                        <div *ngIf="uploadReportProgress.progress!=100"
                                            class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                [style.width.%]="uploadReportProgress.progress">
                                                {{uploadReportProgress.progress}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <div class="form-group">
                                    <ngx-dropzone (change)="onSelect($event,true)" [expandable]="true"
                                        [maxFileSize]="5000*1024" [accept]="'image/*'" [id]="'images'">
                                        <ngx-dropzone-label>{{ 'Upload.UploadImageCaption' | translate }}</ngx-dropzone-label>
                                        <ngx-dropzone-preview class="animated fadeInUp"
                                            ngProjectAs="ngx-dropzone-preview"
                                            *ngFor="let f of listImages ;let i = index" [file]="f" [removable]="true"
                                            (removed)="onRemove(f,true)" (click)=downloadFile(f.name)>
                                            <ngx-dropzone-label style="font-size:11px;"> {{f.File.FileOriginalName}}
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="badge"
                                            [ngClass]="{'badge-primary': uploadReportProgress.progress==100, 'badge-danger':uploadReportProgress.isError}">{{uploadReportProgress.message}}</span>
                                        <div *ngIf="uploadReportProgress.progress!=100"
                                            class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                [style.width.%]="uploadReportProgress.progress">
                                                {{uploadReportProgress.progress}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


            </div>
        </div>
        <div class="col-sm-12">
            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-primary pull-right" [ladda]="laddaSubmitLoading"

                            [disabled]="myForm.invalid ||editRowId!=0" (click)="fnSave()">
                            <i class="fa fa-plus"></i>
                            {{'Button.Save' | translate}}
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>