<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Monitor.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Monitor' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Monitor.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content"  [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button  type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4" style="display: none;">
                <i class="fa fa-plus"></i> Add </button>
            </div>
            <div class="col-sm-4">
            </div>
          </div>
          <div class="row">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>

                  <th>STT</th>
                  <th>Nhà máy</th>
                  <th>Nhiệt độ</th>
                  <th>pH</th>
                  <th>COD</th>
                  <th>TSS</th>
                  <th>Màu</th>
                  <th>Amoni</th>
                  <th>Ghi chú</th>
                  <th style="text-align: left">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="monitors?.length != 0">
                <tr *ngFor="let monitor of monitors, let i = index">
                  <td style="text-align: left"> {{monitor.MonitorStandardId}}</td>
                  <td style="text-align: left"> {{monitor.Factory.FactoryName}}</td>
                  <td style="text-align: left"> {{monitor.TemperatureMax}}</td>
                  <td style="text-align: left"> {{monitor.PHmin}}-{{monitor.PHmax}}</td>
                  <td style="text-align: left"> {{monitor.Codmax}}</td>
                  <td style="text-align: left"> {{monitor.Tssmax}}</td>
                  <td style="text-align: left"> {{monitor.Codmax}}</td>
                  <td style="text-align: left"> {{monitor.AmoniMax}}</td>
                  <td style="text-align: left"> {{monitor.MonitorStandardDesc}}</td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger"  (click)="fnDelete(monitor.MonitorStandardId)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success" data-toggle="modal" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="monitors?.length == 0">
                <tr>
                  <td colspan="20" class="no-data-available">{{'messg.datatable.zeroRecords'  | translate}}</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
