<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">

      <!-- <div class="ibox-title">
                  <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-wrench"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#">Config option 1</a>
                          </li>
                          <li><a href="#">Config option 2</a>
                          </li>
                      </ul>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div> -->
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab-1" ><i
                class="fa fa-info-circle"></i>{{'Customer.' | translate }}</a></li>
          <li><a data-toggle="tab" href="#tab-2" ><i
                class="fa fa-tablet"></i>{{'Contract.' | translate }}</a></li>
          <li><a data-toggle="tab" href="#tab-3" ><i
                class="fa fa-file"></i>{{ 'Upload.' | translate }}</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <form role="form" #myForm="ngForm">
              <div class="panel-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Customer.data.CustomerName' | translate }}*:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.CustomerName" class="form-control"
                        placeholder="{{'Customer.placeholder.CustomerName' | translate }}" name="CustomerName" required>
                    </div>
                    <label class="col-sm-2 control-label">{{'Customer.data.FactoryID' | translate }}*:</label>
                    <div class="col-sm-4">
                      <ng-select [items]="initCombobox.Factories" bindLabel="FactoryName" bindValue="FactoryID" [(ngModel)]="entity.FactoryId"
                        class="custom" placeholder="{{'Customer.data.FactoryID' | translate }}" name="FactoryID"
                        required></ng-select>

                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Customer.data.CustomerAddress' | translate }}:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.CustomerAddress" class="form-control"
                        placeholder="{{'Customer.placeholder.CustomerAddress' | translate }}" name="CustomerAddress">
                    </div>
                    <label class="col-sm-2 control-label">{{'Customer.data.ContactName' | translate }}:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.ContactName" class="form-control"
                        placeholder="{{'Customer.placeholder.ContactName' | translate }}" name="ContactName">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Customer.data.ContactEmail' | translate }}:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.ContactEmail" class="form-control"
                        placeholder="{{'Customer.placeholder.ContactEmail' | translate }}" name="ContactEmail" >

                    </div>
                    <label class="col-sm-2 control-label">{{'Customer.data.ContactPhone' | translate }}:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.ContactPhone" class="form-control"
                        placeholder="{{'Customer.placeholder.ContactPhone' | translate }}" name="ContactPhone" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Customer.data.Description' | translate }}:</label>
                    <div class="col-sm-4">
                      <input autocomplete="off" type="text" [(ngModel)]="entity.Description" class="form-control"
                        placeholder="{{'Customer.placeholder.Description' | translate }}" name="Description" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Customer.data.IsIntergration' | translate }}:</label>
                    <div class="col-sm-4">
                      <span (click)="onSwitchStatus('entityIsIntergration')" ><i class="fa fa-lg" [ngClass]="{'fa-check-square-o text-info': entity.IsIntergration==true, 'fa-square-o':entity.IsIntergration==false}" ></i> </span>
                      

                    </div>
                    <label class="col-sm-2 control-label">{{'Customer.data.Status' | translate }}*:</label>
                    <div class="col-sm-4">
                      <div class="switch">
                        <div class="onoffswitch">
                          <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"  (click)="onSwitchStatus('entity')" [checked]="entity.Status==1 ? true : null" >
                          <label class="onoffswitch-label" for="status">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>


                    </div>
                  </div>
                </form>
              </div>
            </form>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="">#</th>
                    <th width="">{{ 'Contract.data.ContractNo' | translate }} *</th>
                    <th width="">{{ 'Contract.data.ContractCode' | translate }} *</th>
                    <th width="">{{ 'Contract.data.ContractType' | translate }}</th>
                    <th width="">{{ 'Contract.data.EffectiveDate' | translate }}</th>
                    <th width="">{{ 'Contract.data.StandardType' | translate }}</th>
                    <th width="">{{ 'Contract.data.Ratio' | translate }}</th>
                    <th width="">{{ 'Contract.data.Description' | translate }}</th>
                    <th width="">{{ 'Contract.data.IsIntergration' | translate }}</th>
                    <th width="">{{ 'Button.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr class="animated fadeInRight" *ngFor="let item of entity.Contract; let i = index"
                    [@simpleFadeAnimation]="'in'">
                    <td> {{i+1}} </td>
                    <!-- TABLE -->
                    <td *ngIf="i+1 !== EditRowID">{{item.ContractNo}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.ContractCode}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.ContractTypeName}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.EffectiveDate | amDateFormat: 'DD-MM-YYYY'}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.StandardType}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.Ratio}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.Description}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.IsIntergration}} </td>

                    <!-- FORM -->
                    <!-- <td *ngIf="i+1 === EditRowID"><input type="text" class="form-control" name="WarehouseLocationCode"
                        id="WarehouseLocationCode" [(ngModel)]="locationEntity.WarehouseLocationCode"></td>
                    <td *ngIf="i+1 === EditRowID"><input type="text" class="form-control" name="WarehouseLocationName"
                        id="WarehouseLocationName" [(ngModel)]="locationEntity.WarehouseLocationName"></td>
                    <td *ngIf="i+1 === EditRowID"><input type="number" class="form-control"
                        name="WarehouseLocationLength" id="WarehouseLocationLength"
                        [(ngModel)]="locationEntity.WarehouseLocationLength"></td>
                    <td *ngIf="i+1 === EditRowID"><input type="number" class="form-control"
                        name="WarehouseLocationWidth" id="WarehouseLocationWidth"
                        [(ngModel)]="locationEntity.WarehouseLocationWidth"></td>
                    <td *ngIf="i+1 === EditRowID"><input type="number" class="form-control"
                        name="WarehouseLocationHeight" id="WarehouseLocationHeight"
                        [(ngModel)]="locationEntity.WarehouseLocationHeight"></td>
                    <td *ngIf="i+1 !== EditRowID">
                      <div class="switch">
                        <div class="onoffswitch">
                          <input type="checkbox" class="onoffswitch-checkbox" [name]="'showed_status' +(i+1)"
                            [id]="'showed_status'+(i+1)" disabled [checked]="item.Status ==1 ? true : null">
                          <label class="onoffswitch-label" [for]="'showed_status' +(i+1)">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="i+1 === EditRowID">
                      <div class="switch">
                        <div class="onoffswitch">
                          <input type="checkbox" class="onoffswitch-checkbox" [name]="'status' +(i+1)"
                            [id]="'status'+(i+1)" (click)="onSwitchStatus('locationEntity')"
                            [checked]="locationEntity.Status==1 ? true : null">
                          <label class="onoffswitch-label" [for]="'status' +(i+1)">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </td> -->
                    <!-- BUTTON -->
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline btn-primary"
                          [disabled]="!locationEntity.WarehouseLocationCode || !locationEntity.WarehouseLocationName"
                          (click)="validateItem(locationEntity)" *ngIf="i+1 === EditRowID"><i
                            class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(i)"
                          *ngIf="i+1 !== EditRowID"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                          *ngIf="i+1 !== EditRowID"><i class="fa fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                  <tr>

                    <!-- <td> {{entity.WarehouseLocation.length+1}} </td>
                    <td> <input autocomplete="off" type="text" class="form-control" name="newWarehouseLocationCode"
                        id="newWarehouseLocationCode" [(ngModel)]="newLocationEntity.WarehouseLocationCode"> </td>
                    <td> <input autocomplete="off" type="text" class="form-control" name="newWarehouseLocationName"
                        id="newWarehouseLocationName" [(ngModel)]="newLocationEntity.WarehouseLocationName"> </td>
                    <td> <input autocomplete="off" type="number" class="form-control" name="newWarehouseLocationLength"
                        id="newWarehouseLocationLength" [(ngModel)]="newLocationEntity.WarehouseLocationLength"> </td>
                    <td> <input autocomplete="off" type="number" class="form-control" name="newWarehouseLocationWidth"
                        id="newWarehouseLocationWidth" [(ngModel)]="newLocationEntity.WarehouseLocationWidth"> </td>
                    <td> <input autocomplete="off" type="number" class="form-control" name="newWarehouseLocationHeight"
                        id="newWarehouseLocationHeight" [(ngModel)]="newLocationEntity.WarehouseLocationHeight"> </td>
                    <td>
                      <div class="switch">
                        <div class="onoffswitch">
                          <input type="checkbox" class="onoffswitch-checkbox" name="newstatus +(i+1)"
                            id="newstatus +(i+1)" (click)="onSwitchStatus('newLocationEntity')"
                            [checked]="newLocationEntity.Status==1 ? true : null">
                          <label class="onoffswitch-label" for="newstatus +(i+1)">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </td> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button type="button" class="btn  btn-sm btn-outline btn-info pull-right" [routerLink]="['contract']" ><i
                          class="fa fa-plus"></i> </button>
                    </td>
                  </tr>

                </tbody>
              </table>

              

            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>{{ 'Upload.' | translate }} </label>
                  <ngx-dropzone style="min-height: auto;" (change)="onSelect($event)" [expandable]="true"
                    [maxFileSize]="5000*1024">
                    <ngx-dropzone-label><i class="fa fa-upload"></i> {{ 'Upload.UploadFileCaption' | translate }}
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview class="animated fadeInUp" ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let f of files ;let i = index" [file]="f" [removable]="true" (removed)="fnRemoveFile(f)"
                      (click)=fnDownloadFile(entity.CustomerFile[i].File.FileLocalName)>
                      <ngx-dropzone-label style="font-size:11px;"><i class="fa fa-download"></i>
                        {{entity.CustomerFile[i].File.FileOriginalName}}
                      </ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
          </div>


        </div>


      </div>
      <div class="ibox-content">
        
        <div class="row">
          <div class="col-sm-6"><button class="btn btn-primary" (click)="fnTest()">Test</button>
          </div><div class="col-sm-6"><button class="btn btn-primary pull-right" [ladda]="laddaSubmitLoading" [disabled]="myForm.invalid ||EditRowID!=0" (click)="fnSave()"><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}}</button></div>
        </div>
      </div>



    </div>
  </div>
</div>

<router-outlet></router-outlet>

