
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Customer.label.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a >{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Customer.label.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#tab-1" id="tab1_Home"><i
                class="fa fa-info-circle"></i>{{'Customer.' | translate }}</a></li>
          <li><a data-toggle="tab" href="#tab-2" ><i
                class="fa fa-tablet"></i>{{'Contract.' | translate }}</a></li>
          <li><a data-toggle="tab" href="#tab-3" ><i
                class="fa fa-file"></i>{{ 'Upload.' | translate }}</a></li>
        </ul>
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            
            <div class="panel-body">
              <form class="form-horizontal"  role="form" #myForm="ngForm">
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'Customer.data.CustomerName' | translate }}*:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.CustomerName" class="form-control"
                      placeholder="{{'Customer.placeholder.CustomerName' | translate }}" name="CustomerName" 
                      [ngClass]="{ 'is-invalid':  invalid.Existed_CustomerName || invalid.Null_CustomerName }" required>
                      <div *ngIf="invalid.Existed_CustomerName" style="color: red;">{{ 'Customer.invalid.Existed_CustomerName' | translate }}</div>
                      <div *ngIf="invalid.Null_CustomerName" style="color: red;">{{ 'Customer.invalid.Null_CustomerName' | translate }}</div>
                  </div>
                  <label class="col-sm-2 control-label">{{'Customer.data.FactoryId' | translate }}*:</label>
                  <div class="col-sm-4">
                    <ng-select [items]="initCombobox.Factories" bindLabel="FactoryName" bindValue="FactoryId" [(ngModel)]="entity.FactoryId"
                      class="custom" placeholder="{{'Customer.placeholder.FactoryId' | translate }}" name="FactoryId"
                      required></ng-select>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'Customer.data.CustomerCode' | translate }}*:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.CustomerCode" class="form-control"
                      placeholder="{{'Customer.placeholder.CustomerCode' | translate }}" name="CustomerCode" required>
                  </div>
                  <label class="col-sm-2 control-label">{{'Customer.data.ContactName' | translate }}:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.ContactName" class="form-control"
                      placeholder="{{'Customer.placeholder.ContactName' | translate }}" name="ContactName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'Customer.data.CustomerAddress' | translate }}:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.CustomerAddress" class="form-control"
                      placeholder="{{'Customer.placeholder.CustomerAddress' | translate }}" name="CustomerAddress">
                  </div>
                  <label class="col-sm-2 control-label">{{'Customer.data.ContactPhone' | translate }}:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.ContactPhone" class="form-control"
                      placeholder="{{'Customer.placeholder.ContactPhone' | translate }}" name="ContactPhone"  mask="(+00) 000 000 0099">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'Customer.data.ContactEmail' | translate }}:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="email" [(ngModel)]="entity.ContactEmail" class="form-control" 
                      placeholder="{{'Customer.placeholder.ContactEmail' | translate }}" name="ContactEmail" #ContactEmail="ngModel" email>
                    <div *ngIf="ContactEmail.invalid" style="color: red;">{{ 'Customer.invalid.Email' | translate }}</div>
                  </div>
                  <label class="col-sm-2 control-label">{{'Customer.data.Description' | translate }}:</label>
                  <div class="col-sm-4">
                    <input autocomplete="off" type="text" [(ngModel)]="entity.Description" class="form-control"
                      placeholder="{{'Customer.placeholder.Description' | translate }}" name="Description" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{'Customer.data.IsIntergration' | translate }}:</label>
                  <div class="col-sm-4">
                    <span (click)="onSwitchStatus('entityIsIntergration')" ><i class="fa fa-lg" [ngClass]="{'fa-check-square-o text-info': entity.IsIntergration==true, 'fa-square-o':entity.IsIntergration==false}" ></i> </span>
                  </div>
                  <label class="col-sm-2 control-label">{{'Customer.data.Status' | translate }}*:</label>
                  <div class="col-sm-4">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"  (click)="onSwitchStatus('entity')" [checked]="entity.Status==1 ? true : null" >
                        <label class="onoffswitch-label" for="status">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="panel-body">
              <div class="table-reponsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="">#</th>
                      <th width="">{{ 'Contract.data.ContractNo' | translate }} *</th>
                      <th width="">{{ 'Contract.data.ContractCode' | translate }} *</th>
                      <th width="">{{ 'Contract.data.ContractType' | translate }}</th>
                      <th width="">{{ 'Contract.data.EffectiveDate' | translate }}</th>
                      <th width="">{{ 'Contract.data.StandardType' | translate }}</th>
                      <th width="">{{ 'Contract.data.Ratio' | translate }}</th>
                      <th width="">{{ 'Contract.data.Description' | translate }}</th>
                      <th width="">{{ 'Contract.data.IsIntergration' | translate }}</th>
                      <th width="">{{ 'Button.Action' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
  
                    <tr class="animated fadeInRight" *ngFor="let item of entity.Contract; let i = index">
                      <td> {{i+1}} </td>
                      <!-- TABLE -->
                      <td *ngIf="i+1 !== EditRowNumber">{{item.ContractNo}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{item.ContractCode}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{'Contract.data.ContractType'+item.ContractType | translate}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{item.EffectiveDate | amDateFormat: 'DD-MM-YYYY'}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{'Contract.data.StandardType'+ item.StandardType | translate}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{item.Ratio}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">{{item.Description}} </td>
                      <td *ngIf="i+1 !== EditRowNumber">
                        <span><i class="fa fa-lg" [ngClass]="{'fa-check-square-o text-info': item.IsIntergration==true, 'fa-square-o':item.IsIntergration==false}" ></i> </span>
  
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline btn-primary" *ngIf="i+1 === EditRowNumber"><i class="fa fa-check"></i></button>
                          <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(item.ContractId,i)" data-toggle="modal" data-target="#myContractModal"><i class="fa fa-pencil"></i></button>
                          <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                            *ngIf="i+1 !== EditRowNumber"><i class="fa fa-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <button type="button" class="btn  btn-sm btn-outline btn-info pull-right"  (click)="fnEditItem(0,entity.Contract.length)"   data-toggle="modal" data-target="#myContractModal"><i class="fa fa-plus" ></i> </button>
                      </td>
                    </tr>
  
                  </tbody>
                </table>
  

              </div>
             
              

            </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <app-smart-upload  #customerFile [filePath]="pathFile" (entityFile)="this.entity.CustomerFile = $event" ></app-smart-upload>

            </div>
          </div>


        </div>


      </div>
      <div class="ibox-content">
        
        <div class="row">
          <div class="col-sm-6">
          </div>
          
          <div class="col-sm-6">
            <button class="btn btn-primary dim pull-right" [ladda]="laddaSubmitLoading" [disabled]="myForm.invalid || ContactEmail.invalid" (click)="fnSave()"><i class="fa fa-paper-plane-o"></i> {{'Button.Save' | translate}}</button>
            <button class="btn btn-outline dim pull-right" [routerLink]="['/category/customers']" ><i class="fa fa-chevron-circle-left"></i> {{'Button.Back' | translate}}  </button>

          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<app-contract  (contract)="onChangeAdd($event)"></app-contract>

