<ng-select class="custom" 
 [items]="itemsBuffer" 
 bindValue="id"
 bindLabel="text"
 [virtualScroll]="true" 
 [loading]="loading"
 (change)="onChange($event)" appendTo="body" 
 [(ngModel)]="chooseItem.id"
 (scroll)="onScroll($event)" 
 [typeahead]="input$"
 (scrollToEnd)="onScrollToEnd()" 
 autofocus 
 [placeholder]="translatePlaceholder || ''"
 name="id" 
 id="id" 
 required>
 <ng-template ng-header-tmp>
   <small class="form-text text-muted">Loaded {{itemsBuffer.length}} of {{totalCount}}</small>
 </ng-template>
</ng-select>