


<ng-select class="custom" 
 [items]="itemsBuffer" 
 [virtualScroll]="true" 
 [loading]="loading"
 (change)="newBomItem.ItemName =   $event? $event.ItemName :''" appendTo="body" 
 (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" bindLabel="ItemName"
 [searchFn]="customSearchFn"
 [typeahead]="input$"
 bindValue="ItemId" autofocus placeholder="{{'BomFactory.BomItem.ItemId' | translate}}"
 [(ngModel)]="newBomItem.ItemId" name="ItemId" id="ItemId" required>
 <ng-template ng-header-tmp>
   <small class="form-text text-muted">Loaded {{itemsBuffer.length}} of {{items.length}}</small>
 </ng-template>
</ng-select>

