<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Chức năng</h2>
      <ol class="breadcrumb">
          <li>
              <a routerLink="/pages">Dashboard</a>
          </li>
          <li class="active">
              <strong>Chức năng</strong>
          </li>
      </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Border Table </h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="#">Config option 1</a>
                      </li>
                      <li><a href="#">Config option 2</a>
                      </li>
                  </ul>
                  <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">

              <table class="table table-bordered">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Name Vi</th>
                      <th>Name En</th>
                      <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of functions; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{item.NameVi}}</td>
                      <td>{{item.NameEn}}</td>
                      <td>{{item.Status}}</td>
                  </tr>
                  </tbody>
              </table>

          </div>
      </div>
  </div>
  </div>
</div>
