<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Chức năng</h2>
      <ol class="breadcrumb">
          <li>
              <a routerLink="/pages">Dashboard</a>
          </li>
          <li class="active">
              <strong>Chức năng</strong>
          </li>
      </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Function list</h5>
              
            </div>
            <div class="ibox-content">
                <dx-data-grid 
                id="gridContainer"
                class="p-2"
                [dataSource]="functions"
                keyExpr="Id"
                [allowColumnReordering]="true"            
                [showBorders]="true">    
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-editing 
                     mode="row"
                     [allowUpdating]="true"
                     [allowDeleting]="true"
                     [allowAdding]="true">
                </dxo-editing>
                
                <dxi-column dataField="NameVi" caption="Title">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="NameEn">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="CreateBy">
                </dxi-column>
                <dxi-column dataField="Icon" [width]="130"></dxi-column>
            </dx-data-grid>
            </div>
        </div>
      </div>
   
  </div>
</div>
