<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'ItemType.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a >{{ 'TopNav.Category' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'ItemType.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- hidden this button -->
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4" style="display: none;">
                <i class="fa fa-plus"></i> Add </button>
            </div>
          </div>
          <div class="row">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-hover table-striped" id="myTable" style="width:100%">
              <thead>
                <tr>
                  <th hidden="true">{{'ItemType.ItemTypeId' | translate}}</th>
                  <th>{{'ItemType.ItemTypeName' | translate}}</th>
                  <th>{{'ItemType.ItemTypeCode' | translate}}</th>
                  <th>{{'ItemType.CreateBy' | translate}}</th>
                  <th>{{'ItemType.CreateDate' | translate}}</th>
                  <th>{{'ItemType.ModifyBy' | translate}}</th>
                  <th>{{'ItemType.ModifyDate' | translate}}</th>
                  <th>{{'ItemType.Status' | translate}}</th>
                  <th>{{'Button.Action' | translate}}</th>
                </tr>
              </thead>
              <tbody *ngIf="itemTypes?.length != 0">
                <tr *ngFor="let item of itemTypes">
                  <td hidden="true" style="text-align: left"> {{item.ItemTypeId}}</td>
                  <td style="text-align: left">{{item.ItemTypeName}}</td>
                  <td style="text-align: left">{{item.ItemTypeCode}}</td>
                  <td style="text-align: left"> {{item.CreateBy}}</td>
                  <td style="text-align: left">{{item.CreateDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left"> {{item.ModifyBy}}</td>
                  <td style="text-align: left">{{item.ModifyDate | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                  <td style="text-align: left">{{item.Status}}</td>
                  <td>
                    <button type="button" class="btn btn-outline btn-danger" (click)="fnDelete(item.ItemTypeId)"><i
                        class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline btn-success" (click)="fnUpdate(item)"
                      data-toggle="modal" data-target="#myModal4"><i class="fa fa-pencil"></i></button>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="itemTypes?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="loadInit()"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> {{'ItemType.Information' | translate }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" #myForm="ngForm" name="myForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'ItemType.ItemTypeName' | translate }} : </label>
                <input type="text" name="ItemTypeName" id="ItemTypeName" class="form-control"
                  placeholder="{{'ItemType.InputItemTypeName' | translate}}" [(ngModel)]="entity.ItemTypeName" required>
                <div *ngIf="existName" style="color: red;">{{ 'ItemType.ErrorExistItemTypeName' | translate }}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'ItemType.ItemTypeCode' | translate }} : </label>
                <input type="text" name="ItemTypeCode" id="ItemTypeCode" class="form-control" disabled
                  placeholder="{{'ItemType.ItemTypeCode' | translate}}" [(ngModel)]="entity.ItemTypeCode" required>
              </div>
            </div>
          </div>
          <!-- SubTable -->
          <!-- <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'ItemTypeProperty.ItemTypePropertyName' | translate }}: </label>
                <input type="text" name="ItemTypePropertyName" id="ItemTypePropertyName" class="form-control"
                  placeholder="{{'ItemType.InputPropertyName' | translate}}" [(ngModel)]="itemTypeProperty.ItemTypePropertyName">
              </div>
            </div>
            <div class="col-lg-2">
              <br>
              <button type="button" class="btn btn-success" (click)="fnAddItem()">{{'ItemType.AddItemButton' | translate}}</button>
            </div>
          </div> -->
          <div class="row">
            <div class="col-lg-12">
              <label> {{ 'ItemType.PropertyNameTable' | translate }} : </label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{ 'ItemTypeProperty.ItemTypePropertyName' | translate }}</th>
                    <th>{{ 'Button.Action' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="animated fadeInRight" *ngFor="let item of entity.ItemTypeProperty; let i = index"
                    [@simpleFadeAnimation]="'in'">
                    <td> {{i+1}} </td>
                    <td *ngIf="i+1 !== EditRowID">{{item.ItemTypePropertyName}} </td>
                    <td *ngIf="i+1 === EditRowID"> <input type="text" name="ItemTypePropertyName"
                        id="ItemTypePropertyName" class="form-control"
                        placeholder="{{'ItemType.InputPropertyName' | translate}}"
                        [(ngModel)]="item.ItemTypePropertyName"> </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-outline btn-primary" (click)="fnSaveItem()"
                        *ngIf="i+1 === EditRowID"><i class="fa fa-check"></i></button>
                      <button type="button" class="btn btn-sm btn-outline btn-success" (click)="fnEditItem(i)"
                        *ngIf="i+1 !== EditRowID"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteItem(i)"
                        *ngIf="i+1 !== EditRowID"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                  <tr>
                    <td> {{entity.ItemTypeProperty.length +1}} </td>
                    <td><input type="text" class="form-control" name="NewTechnology" id="NewTechnology"
                        [(ngModel)]="newItemTypeProperty.ItemTypePropertyName"></td>
                    <td>
                      <button type="button" class="btn  btn-sm btn-outline btn-info" (click)="fnAddItem()"><i
                          class="fa fa-plus"></i> </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal"
          (click)="loadInit()">{{'ItemType.CloseButton' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="fnSave();" [ladda]="laddaSubmitLoading"
          [disabled]="myForm.invalid||EditRowID!=0">{{'ItemType.SaveButton' | translate}}</button>
      </div>
    </div>
  </div>
</div>
