<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>This is main title</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">This is</a>
      </li>
      <li class="active">
        <strong>Breadcrumb</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <button (click)="resetEntity()" type="button" class="btn btn-primary dim" data-toggle="modal" data-target="#myModal4">
              <i class="fa fa-plus" ></i> {{ 'Factory.AddFactory' | translate}} </button>
            <div class="pull-right">
              <input placeholder="Tìm kiếm" type="text" class="form-control" style="width: 318px;" > 
           </div>
          </div>
          <hr>
          <!-- Detail Factories  -->
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of factory" >
                <div class="panel panel-info">
                  <div class="panel-heading text-center">
                    <a>
                      <i class="fa fa-info-circle"></i> {{item.FactoryName}}
                    </a>
                  </div>
                  <div class="panel-body">
                    <p> {{item.FactoryAddress}}</p>
                    <p> {{item.FactoryContact}}</p>
                    <p> {{item.ContactPhone}}</p>
                    <p> {{item.FactoryType}}</p>
                    <p> {{item.Status}}</p>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
        <h4 class="modal-title">Factory's Information</h4>
        <small>Fill in factory's information.</small>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>   {{ 'Factory.data.FactoryCode' | translate }}  : </label>
                <input type="text" name="Numcode" id="Numcode" class="form-control" placeholder="Enter your Numcode"  [(ngModel)]="entity.FactoryId">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryBuiltDate' | translate }} :</label>
              <input type="text"  name="DateBuild" id="DateBuild" class="form-control"
                placeholder="Enter your DateBuild" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="entity.FactoryId">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryName' | translate }} :</label>
                <input type="text" name="Name" id="Name" class="form-control" placeholder="Enter your Name" 
                [(ngModel)]="entity.FactoryName">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryStartDate' | translate }} :</label>
              <input type="text" name="DateStart" id="DateStart" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" 
              [(ngModel)]="entity.FactoryStartDate">
              
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryAddress' | translate }} :</label>
                <input type="text" name="Address" id="Address" class="form-control" placeholder="Enter your Address" 
                [(ngModel)]="entity.FactoryAddress">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryEndDate' | translate }} :</label>
              <input type="text" name="DateEnd" id="DateEnd" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" 
              [(ngModel)]="entity.FactoryEndDate">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryType' | translate }}:</label>
                <select class="select2_demo_3 form-control" [(ngModel)]="entity.FactoryType" name="FactoryType">
                  <option></option>
                  <option selected value=1> {{ 'Factory.data.FactoryType_1' | translate }} </option>
                  <option value=2> {{ 'Factory.data.FactoryType_2' | translate }} </option>
                  <option value=3> {{ 'Factory.data.FactoryType_3' | translate }} </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.Status' | translate }} :</label>
                <select class="select2_demo_3 form-control" [(ngModel)]="entity.Status" name="Status">
                  <option></option>
                  <option selected value=1>{{ 'Factory.data.Status_1' | translate }}</option>
                  <option value=0>{{ 'Factory.data.Status_0' | translate }}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Upload file -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Upload files</label>
                <form action="#" class="dropzone" id="dropzoneForm">
                  <div class="fallback">
                    <input name="file" type="file" multiple />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryTechnologyID' | translate }}: </label>
                <input type="text" class="form-control" name="Technology" id="Technology">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyDescription' | translate }}: </label>
                <input type="text" class="form-control" name="Description" id="Description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyFromDate' | translate }}: </label>
                <input type="date" class="form-control" name="BeginDate" id="BeginDate">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyToDate' | translate }}: </label>
                <input type="date" class="form-control" name="EndDate" id="EndDate">
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-success pull-right">Add</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'Factory.data.FactoryTechnologyID' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyDescription' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyFromDate' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyToDate' | translate }}</th>
                  <th>{{ 'Buttons.Actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Abc</td>
                  <td>def</td>
                  <td>20-02-2020</td>
                  <td>20-03-2020</td>
                  <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Abc</td>
                  <td>def</td>
                  <td>20-02-2022</td>
                  <td>20-03-2035</td>
                  <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
