<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>{{ 'Factory.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.Administration' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'Factory.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <button (click)="fnAdd()" type="button" class="btn btn-primary dim" data-toggle="modal"
                data-target="#myModal4">
                <i class="fa fa-plus"></i> {{ 'Factory.AddFactory' | translate}} </button>

            </div>
            <div class="col-sm-4 text-center">
              <h2> {{'Factory.TotalFactory' | translate}} {{factory_showed}} {{'Factory.' | translate}} </h2>
              <small>Hiển thị  {{factory.length}} nhà máy </small>
            </div>

            <div class="col-sm-4">
              <div class="pull-right">
               <label for="">{{ 'Factory.SearchTitle' | translate}}</label> 
               <input placeholder="{{ 'Factory.SearchText' | translate}}" type="text" class="form-control" (keyup)="$event.keyCode === 13 && searchValueOnChange()" [(ngModel)]="keyword" >
              </div>

            </div>
          </div>
          <hr>
          <!-- Detail Factories  -->
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of factory">
              <div class="panel panel-info">
                <div class="panel-heading text-center">
                  <a (click)="fnEditSignal(item.FactoryID)">
                    <i class="fa fa-info-circle"></i> {{item.FactoryName}}
                  </a>
                </div>
                <div class="panel-body">
                  <!-- <p> {{item.FactoryAddress}}</p>
                  <p> {{item.FactoryContact}}</p>
                  <p> {{item.ContactPhone}}</p>
                  <p> {{item.FactoryType}}</p>
                  <p> {{item.Status}}</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal inmodal" id="myModal4" data-backdrop="static" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg " >
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>

        <h4 class="modal-title"> {{'Factory.Information' | translate }}</h4>

      </div>
      <div class="modal-body">
        <form role="form">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label> {{ 'Factory.data.FactoryCode' | translate }} : </label>
                <input type="text" name="Numcode" id="Numcode" class="form-control" placeholder="Enter your Numcode" 
                  [(ngModel)]="entity.FactoryCode">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryBuiltDate' | translate }} :</label>
              <input type="text" name="DateBuild" id="DateBuild" class="form-control" placeholder="Enter your DateBuild" readonly
                bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="entity.FactoryBuiltDate">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryName' | translate }} :</label>
                <input type="text" name="Name" id="Name" class="form-control" placeholder="Enter your Name"
                  [(ngModel)]="entity.FactoryName">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryStartDate' | translate }} :</label>
              <input type="text" name="DateStart" id="DateStart" class="form-control" bsDatepicker readonly placeholder="Enter Your Factory Start Date"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="entity.FactoryStartDate">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryAddress' | translate }} :</label>
                <input type="text" name="Address" id="Address" class="form-control" placeholder="Enter your Address"
                  [(ngModel)]="entity.FactoryAddress">
              </div>
            </div>
            <div class="col-lg-6">
              <label>{{ 'Factory.data.FactoryEndDate' | translate }} :</label>
              <input type="text" name="DateEnd" id="DateEnd" class="form-control"  [ngClass]="entity.Status==0? 'animated pulse' : '' " bsDatepicker
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" disabled [(ngModel)]="entity.FactoryEndDate" placeholder="Enter Your Factory End Date">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryContact' | translate }} :</label>
                <input type="text" name="FactoryContact" id="FactoryContact" class="form-control" placeholder="Enter contacter"
                  [(ngModel)]="entity.FactoryContact">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.ContactPhone' | translate }} :</label>
                <input type="text" name="ContactPhone" id="ContactPhone" class="form-control" placeholder="Enter factory Contact Phone"
                  [(ngModel)]="entity.ContactPhone">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryType' | translate }}:</label>
                <select class="select2_demo_3 form-control" [(ngModel)]="entity.FactoryType" name="FactoryType"  placeholder="Select Factory Type">
                  <option selected value=1> {{ 'Factory.data.FactoryType1' | translate }} </option>
                  <option value=2> {{ 'Factory.data.FactoryType2' | translate }} </option>
                  <option value=3> {{ 'Factory.data.FactoryType3' | translate }} </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.Status' | translate }} :</label>
                <div class="switch">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" name="status" id="status"  (click)="onSwitchStatus()" [checked]="entity.Status==1 ? true : null" >
                    <label class="onoffswitch-label" for="status">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <!-- <select class="select2_demo_3 form-control" [(ngModel)]="entity.Status" name="Status">
                  <option></option>
                  <option selected value=1>{{ 'Factory.data.Status1' | translate }}</option>
                  <option value=0>{{ 'Factory.data.Status0' | translate }}</option>
                </select> -->
              </div>
            </div>
          </div>
          <!-- Upload file -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>{{ 'Factory.UploadFile' | translate }} </label>             
                <ngx-dropzone (change)="onSelect($event)" [expandable]="true" [disableClick]="true">
                  
                  <ngx-dropzone-label>Kéo thả file ở đây!</ngx-dropzone-label>
                  <ngx-dropzone-preview class="animated fadeInUp"  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"   [removable]="true" (removed)="onRemove(f)" (click)=downloadFile(f.name) >
                    <ngx-dropzone-label >{{ f.name }}</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                  
                </ngx-dropzone>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.FactoryTechnologyID' | translate }}: </label>
                <input type="text" class="form-control" name="Technology" id="Technology"
                  [(ngModel)]="tech_entity.TechnologyName">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyDescription' | translate }}: </label>
                <input type="text" class="form-control" name="Description" id="Description"
                  [(ngModel)]="tech_entity.TechnologyDescription">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyFromDate' | translate }}: </label>
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" type="text" class="form-control"  readonly
                  name="BeginDate" id="BeginDate" [(ngModel)]="tech_entity.TechnologyFromDate">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ 'Factory.data.TechnologyToDate' | translate }}: </label>
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" type="text" class="form-control" readonly
                  name="EndDate" id="EndDate" [(ngModel)]="tech_entity.TechnologyToDate">
              </div>
            </div>
          </div>
          <div class="row">
            <button type="button" class="btn btn-success pull-right" (click)="fnAddItem()">Add</button>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'Factory.data.FactoryTechnologyID' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyDescription' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyFromDate' | translate }}</th>
                  <th>{{ 'Factory.data.TechnologyToDate' | translate }}</th>
                  <th>{{ 'Button.Action' | translate }}</th>
                </tr>
              </thead>
              <tbody>

                <tr class="animated fadeInRight" *ngFor="let item of entity.FactoryTechnology; let i = index"
                  [@simpleFadeAnimation]="'in'">
                  <td> {{i+1}} </td>
                  <td>{{item.TechnologyName}} </td>
                  <td>{{item.TechnologyDescription}} </td>
                  <td>{{item.TechnologyFromDate | amDateFormat: 'YYYY-MM-DD' }} </td>
                  <td>{{item.TechnologyToDate | amDateFormat: 'YYYY-MM-DD'}} </td>
                  <td><button class="btn btn-danger" (click)="fnDeleteItem(i)"><i class="fa fa-trash"></i></button></td>
                </tr>

              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="ACTION_STATUS=='update'" class="btn btn-danger"
          (click)="fnDelete(entity.FactoryId)"><i class="fa fa-trash"></i> Delete</button>
        <button type="button" class="btn btn-primary" (click)="fnSubmit();" [ladda]="laddaSubmitLoading">Save
          changes</button>
      </div>
    </div>
  </div>
</div>