<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <form role="form" #myForm="ngForm" name="myForm">
              <div class="col-lg-4">
                <div class="form-group">
                  <label>{{ 'Process.data.StartDate' | translate }}:</label>
                  <input type="text" [(ngModel)]="entity.StartDate" bsDatepicker readonly [bsConfig]="bsConfig"
                    class="form-control" placeholder="{{'Item.placeholder.ItemManufactureYear' | translate }}"
                    name="ItemManufactureYear" required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label> {{ 'Process.data.EndDate' | translate }} *: </label>
                  <input type="text" [(ngModel)]="entity.EndDate" bsDatepicker readonly [bsConfig]="bsConfig"
                    class="form-control" placeholder="{{'Item.placeholder.ItemManufactureYear' | translate }}"
                    name="ItemManufactureYear" required>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label> {{ 'Process.data.Factory' | translate }} *: </label>
                  <div class="input-group">
                    <ng-select autocomplete="off" [items]="initComboboxFactories.Factories"
                      placeholder="{{ 'Warehouse.placeholder.FactoryId' | translate }}" id="FactoryId" name="FactoryId"
                      [(ngModel)]="entity.FactoryId" bindLabel="FactoryName" bindValue="FactoryId" required>
                    </ng-select> <span class="input-group-btn">
                      <button type="button" class="btn btn-primary" (click)="fnFindBomFactoryId()" [disabled]="myForm.invalid"> Go!</button> </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" [ngClass]=" {'sk-loading': iboxloading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <!-- [hidden]="data.ProcessLogs" -->
          <div class="row" >
            <div class="col-lg-12">
              <div class="tabs-container">
                <ul class="nav nav-tabs">
                  <!-- <li *ngFor="let item of bomFactory"><a data-toggle="tab" href="#tab-1"> {{item.BomStage}}</a></li> -->
                  <li *ngFor="let stageOut of data.Stages; let i = index"  [class]="currentStage==stageOut.StageId? 'active': ''">
                    <a data-toggle="tab" [href]="'#tab-'+i" (click)="currentStage=stageOut.StageId"  > {{stageOut.Stage.StageName}} </a>
                  </li>
                  <!-- <li class="active"><a data-toggle="tab" href="#tab-"> Giai đoạn 1</a></li>
                  <li class=""><a data-toggle="tab" href="#tab-2">Giai đoạn 2</a></li> -->
                </ul>



                <div class="tab-content"> 
                  <!-- sTAGE TAB CONTENT -->
                  <div   class="tab-pane active"   > 
                    <div class="panel-body">
                      <div class="col-lg-12">
                        <div class="tabs-container">
                          
                          <div class="tabs-left">
                            <ul class="nav nav-tabs">
                              <!-- <ng-container *ngFor="let stageOut of data.Stages; let i = index"> -->
                                <li *ngFor="let itemout of data.OutItems; let i = index">
                                  <a *ngIf="currentStage== itemout.StageId"  data-toggle="tab" [href]="'#tab-'+i+1000"    [class]="currentOutItem==itemout.ItemOutId? 'active': ''"
                                   (click)="currentOutItem=itemout.ItemOutId" > {{itemout.ItemOut.ItemName}} </a>
                                </li>
                              <!-- </ng-container> -->
                              
                            </ul>
                            <div class="tab-content ">
                              <!-- ITEM TAB CONTENT -->
                              <div id="tab-x" class="tab-pane active">
                                <div class="panel-body">
                                  <div class="row">
                                    <table class="table table-bordered table-hover table-striped" id="myTable2"
                                      style="width:100%">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Thời gian</th>
                                          <th>Ngày</th>
                                          <th>Ca</th>
                                          <th>Chỉ số</th>
                                          <th>Sản phẩm</th>
                                          <th>Điện</th>
                                          <th>Nước</th>
                                          <th>Nước cấp</th>
                                          <th>Amoni</th>
                                          <th>ModifyBy</th>
                                          <th style="text-align: left">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody >
                                        <ng-container  *ngFor="let item of data.ProcessLogs; let i=index" >
                                        <tr  *ngIf="currentStage == item.StageId && currentOutItem == item.ItemOutId && currentOutItem " >
                                            <td style="text-align: left"> {{ i+1}} </td>
                                            <td style="text-align: left"> {{ item.ProcessLogTime}} </td>
                                            <td style="text-align: left"> {{ item.ProcessLogDate}} </td>
                                            <td style="text-align: left"> {{ item.Shift.ShiftName}} </td>
                                            <td style="text-align: left"> {{ item.ItemOutIndicator}} </td>
                                            <td style="text-align: left"> {{ item.ItemOut.ItemName}} </td>
                                            <td style="text-align: left"> {{ item.ItemEletricIndicator}} </td>
                                            <td style="text-align: left"> {{ item.ItemWaterIndicator}} </td>
                                            <td style="text-align: left"> {{ item.CODIn}} </td>
                                            <td style="text-align: left"> {{ item.AmoniIn}} </td>
                                            <td style="text-align: left"> {{ item.ModifyBy}} </td>
                                            <td>
                                              <button type="button" class="btn btn-outline btn-danger"><i
                                                  class="fa fa-trash"></i></button>
                                              <button type="button" class="btn btn-outline btn-success"
                                                (click)="fnUpdate()"><i class="fa fa-pencil"></i></button>
                                            </td>
                                        </tr>
                                      </ng-container>
                                      </tbody>
                                      <tbody *ngIf="data.ProcessLogs?.length == 0 || !currentOutItem">
                                        <tr>
                                          <td colspan="20" class="no-data-available">
                                            {{'messg.datatable.zeroRecords'  | translate}}</td>
                                        </tr>
                                      <tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal In Bom -->
<div class="modal outmodal" id="modalIn" data-backdrop="static" data-keyboard="true" tabindex="-2" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Danh sách đầu vào</h4>
      </div>
      <div class="modal-body">

        <!-- table InBomItem -->
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="5%">#</th>
                  <th width="35%">
                    {{ "BomFactory.BomItem.ItemId" | translate }} *
                  </th>
                  <th width="35%">
                    {{ "BomFactory.BomItem.UnitId" | translate }} *
                  </th>
                  <th width="15%">
                    {{ "BomFactory.BomItem.Quantity" | translate }} *
                  </th>
                  <th width="10%">{{ "Button.Action" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <!-- <ng-container
                  *ngFor="let item of entity.BomStage[currentStageId]?.BomItemOut[parentOutId]?.BomItemIn; let i = index">
                  <tr *ngIf="item.Status==true || item.IsNew ==true">
                    <td>{{ i + 1 }}</td>
                    <td *ngIf="i + 1 !== editRowId">{{ item.ItemName }}</td>
                    <td *ngIf="i + 1 !== editRowId">{{ item.UnitName }}</td>
                    <td *ngIf="i + 1 !== editRowId">{{ item.Quantity }}</td>

                    <td *ngIf="i + 1 === editRowId">
                      <app-smart-select   
                      name="3"  
                      listName="Item"
                      [specialId]="inBomItem.ItemId"    
                      (select_ngModel)="inBomItem.ItemId = $event.id;;inBomItem.ItemName = $event.text;"
                      placeholder="{{'BomFactory.BomItem.ItemId' | translate}}"></app-smart-select>
                    </td>
                    <td *ngIf="i + 1 === editRowId">
                      <app-smart-select 
                      name="4" 
                      listName="Unit"  
                      [specialId]="inBomItem.UnitId"    
                      (select_ngModel)="inBomItem.UnitId = $event.id;inBomItem.UnitName = $event.text;"
                      placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}"></app-smart-select>
                    </td>
                    <td *ngIf="i + 1 === editRowId">
                      <input type="number" class="form-control" name="Quantity" id="Quantity" min="0"
                        (change)="( $event.target.value < 0 || $event.target.value == '')? inBomItem.Quantity=0: inBomItem.Quantity"
                        [(ngModel)]="inBomItem.Quantity" />
                    </td>
                    <td>
                      <div class="btn-group">
                        <div class="text-nowrap">
                          <button type="button" class="btn btn-sm btn-outline btn-primary" (click)="fnSaveInBomItem(i)"
                            *ngIf="i + 1 === editRowId">
                            <i class="fa fa-check"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline btn-success" [disabled]="editRowId != 0"
                            (click)="fnEditInBomItem(i)" *ngIf="i + 1 !== editRowId">
                            <i class="fa fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-outline btn-danger" (click)="fnDeleteInBomItem(i)"
                            *ngIf="i + 1 !== editRowId">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container> -->

                <!-- new record -->
                <!-- <tr>
                  <td>{{ bomItems.length + 1 }}</td>
                  <td>
                      <app-smart-select   
                      name="3"  
                      listName="Item"
                      [specialId]="newBomItem.ItemId"    
                      (select_ngModel)="newBomItem.ItemId = $event.id;;newBomItem.ItemName = $event.text;"
                      placeholder="{{'BomFactory.BomItem.ItemId' | translate}}"></app-smart-select>


                  </td>
                  <td>
                    <app-smart-select 
                       name="4" 
                       listName="Unit"  
                       [specialId]="newBomItem.UnitId"    
                       (select_ngModel)="newBomItem.UnitId = $event.id;newBomItem.UnitName = $event.text;"
                       placeholder="{{'Item.placeholdercolumn.ItemPackageUnitId' | translate }}"></app-smart-select>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="newQuantity" id="newQuantity" min="0"
                      (change)="( $event.target.value < 0 || $event.target.value == '')?newBomItem.Quantity=0: newBomItem.Quantity"
                      [(ngModel)]="newBomItem.Quantity" />
                  </td>
                  <td>
                    <button type="button" class="btn  btn-sm btn-outline btn-info pull-right"
                      [disabled]="!newBomItem.ItemId||!newBomItem.UnitId ||!newBomItem.Quantity"
                      (click)="fnAddInBomItem()">
                      <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" (click)="fnBackModalOut()" [disabled]="editRowId!=0">
          {{ "BomFactory.CloseButton" | translate }}
        </button>
        <button type="button" class="btn btn-primary" [ladda]="laddaSubmitLoading" [disabled]="editRowId!=0"
          (click)="fnSaveBomItem()">
          {{ "BomFactory.SaveButton" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
