<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ 'ProcessPlaneFactory.Breadcrumb' | translate }}</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">{{ 'TopNav.ProcessPlaneFactory' | translate }}</a>
      </li>
      <li class="active">
        <strong>{{ 'ProcessPlaneFactory.Breadcrumb' | translate }}</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>New data for the report</h5> <span class="label label-primary">IN+</span>

        </div>
        <div class="ibox-content">
          <div class="row">
            <form action="your-action" (submit)="fnFindBomFactoryId()">
              <dx-form #targetForm id="form" [(formData)]="modelSearch" (onFieldDataChanged)="onChange($event)">
                
                <dxi-item itemType="group" [colCount]="3">
                  <dxi-item dataField="startDay" [label]="{text: trans.instant('Process.data.StartDate')}"
                    editorType="dxDateBox"  [editorOptions]="{ displayFormat:'d/M/yyyy' }" >
                    <dxi-validation-rule type="required"  message="StartDate required"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                      [validationCallback]="validateStartDate" message="Thời gian bắt đầu phải nhỏ hơn hoặc bằng thời gian kết thúc">
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="endDay" [label]="{text: trans.instant('Process.data.EndDate')}"
                    editorType="dxDateBox"  [editorOptions]="{ displayFormat:'d/M/yyyy' }" >
                    <dxi-validation-rule type="required"  message="EndDate required"></dxi-validation-rule>
                    <dxi-validation-rule type="custom" ignoreEmptyValue="true" reevaluate="true"
                      [validationCallback]="validateEndDate" message="Thời gian bắt đầu phải nhỏ hơn hoặc bằng thời gian kết thúc">
                    </dxi-validation-rule>
                  </dxi-item>
                  
                  <dxi-item dataField="factoryId" [label]="{text: trans.instant('Factory.data.FactoryType')}"
                    editorType="dxSelectBox"  [editorOptions]="{ displayExpr: 'FactoryName' ,valueExpr:'FactoryId' ,
                    dataSource:dataSourceFactory, searchEnabled: true}"></dxi-item>
                </dxi-item>
               
              </dx-form>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-lg-12">
      <div class="tabs-container tab-process-log">
        <ul class="nav nav-tabs nav-tab-process-log">
          <!-- <li *ngFor="let item of bomFactory"><a data-toggle="tab" href="#tab-1"> {{item.BomStage}}</a></li> -->
          <li *ngFor="let stage of bomFactory.BomStage; let i =index" [class.active]="i==0"  (click)="loadProcessLogByStage(stage)">
            <a data-toggle="tab" [href]="'#tab-'+i" [attr.dataId]="'tab-'+i"> {{stage.StageName}}</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" *ngFor="let stage of bomFactory.BomStage; let i =index" [class.active]="i==0"  [id]="'tab-'+i" >
            <div class="panel-body">
              <div class="col-lg-12">
                <div class="tabs-container">
                  <div class="tabs-left">
                    <ul class="nav nav-tabs tab-child">
                      <li  *ngFor="let itemOut of stage.BomItemOut; let i =index" [class.active]="i==0"  (click)="loadProcessLogByItemOut(stage.StageId ,itemOut.ItemId)">
                        <a data-toggle="tab" [href]="'#tabItemOut-'+stage.StageId+i"> {{itemOut.ItemName}}</a>
                      </li>
                    </ul>
                    <div class="tab-content ">
                      <div  class="tab-pane" *ngFor="let itemOut of stage.BomItemOut; let i =index" [class.active]="i==0"  [id]="'tabItemOut-'+stage.StageId+i">
                        <div class="panel-body panel-body-child">
                          <div class="row">
                            <div class="form-group text-right">
                              <button class="btn btn-primary btn-save"
                                (click)="showModalAdd(stage.StageId,itemOut.ItemId)">
                                <i class="fa fa-plus"></i>
                                Thêm mới
                              </button>
                            </div>
                            <dx-data-grid
                            #dataGridVar id="myDataGrid"
                            [dataSource]="dataSourceProcessLog"
                            [masterDetail]="{ enabled: true, template: 'detail' }"
                            [remoteOperations]="true"  [showBorders]="true" [showRowLines]="true" >

                            <dxo-selection mode="single"></dxo-selection>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-editing
                              [allowUpdating]="false"
                              [allowDeleting]="true"
                              [useIcons] ="true"
                              >
                              <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>

                            </dxo-editing>
                            <dxi-column  dataField="ShiftName"  caption="ShiftName">
                            </dxi-column>
                            <dxi-column dataField="UnitName" caption="ItemOutUnitId">
                              <!-- <dxo-lookup
                                [dataSource]="dataSourceUnit"
                                                    displayExpr="UnitName"
                                                    valueExpr="UnitId">
                                 </dxo-lookup> -->
                            </dxi-column>
                            <dxi-column  dataField="ProcessLogDate"  caption="ProcessLogDate" dataType="date"></dxi-column>
                            <dxi-column  dataField="ProcessLogTime"  caption="ProcessLogTime"></dxi-column>
                            <dxi-column  dataField="ItemOutIndicator" caption="ItemOutIndicator"></dxi-column>

                            <dxi-column  dataField="Status" dataType="boolean" caption="{{'Master.data.Status' | translate}}"></dxi-column>
                            <dxi-column type="buttons" [width]="110">
                              <dxi-button
                                  icon="more"
                                  [visible]="1"
                                  [onClick]="showModalDetail"></dxi-button>
                                <dxi-button name="delete"></dxi-button>
                            </dxi-column>

                            <div *dxTemplate="let item of 'detail'">
                              <div class="form-group text-right">
                                <button class="btn btn-primary btn-save"
                                  (click)="showModalAddItemOut(item)">
                                  <i class="fa fa-plus"></i>
                                  Thêm mới
                                </button>
                              </div>
                              <dx-data-grid
                                  [dataSource]="getProcessLogItem(item.data)"
                                  class="dx-grid-child"
                                  [showBorders]="true"
                                  [columnAutoWidth]="true">
                                    <dxo-editing
                                    [allowAdding]="false"
                                    [allowUpdating]="false"
                                    [allowDeleting]="false"
                                    [useIcons] ="true"
                                    >
                                    <dxo-texts confirmDeleteMessage="Are you sure Delete?"></dxo-texts>
                                  </dxo-editing>
                                      <dxi-column [allowEditing]="false" dataField="ItemId"  caption="{{'BomFactory.BomItem.ItemId' | translate}}" >
                                        <dxo-lookup
                                            [dataSource]="dataSourceItem"
                                            displayExpr="ItemName"
                                            valueExpr="ItemId">
                                        </dxo-lookup>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                      </dxi-column>
                                      <dxi-column dataField="UnitId" caption="{{'BomFactory.BomItem.UnitId ' | translate}}">
                                        <dxo-lookup
                                          [dataSource]="dataSourceUnit"
                                          displayExpr="UnitName"
                                          valueExpr="UnitId">
                                      </dxo-lookup>
                                      <dxi-validation-rule type="required"></dxi-validation-rule>
                                      </dxi-column>
                                      <dxi-column dataField="Quantity"  dataType="number" caption="{{'BomFactory.BomItem.Quantity' | translate}}">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                      </dxi-column>
                                      <dxi-column type="buttons" [width]="110">
                                        <dxi-button
                                            icon="edit"
                                            [visible]="1"
                                            [onClick]="showModalItemOut"></dxi-button>
                                            <dxi-button
                                            icon="trash"
                                            [visible]="1"
                                            [onClick]="deleteItemOut"></dxi-button>
                                      </dxi-column>
                              </dx-data-grid>
                          </div>

                            <dxo-paging [pageSize]="25"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
                        </dx-data-grid>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>


<app-process-log-detail #modalChild (loadInit())="loadInit()"></app-process-log-detail>
<app-process-log-item #modalChildItem (loadInit())="loadInitItem()"></app-process-log-item>
